In [1]:
import pandas as pd

In [3]:
lit = pd.read_csv('./ASSIGN_WO_Litigation_14032568.csv')

In [44]:
lit['loan_no_lit'] = lit['loan_no'].astype(str)

In [45]:
lit

,base_date,customer_no,principal_balance,overdue_days,overdue_months_division_code,sales_product_code,loan_no,customer_name,customer_id_no2,mobile_no,...,overdue_int,collection_fee,dob,email_address,occupation,ever_never,import_period,company_id,user_id,loan_no_lit
0,02/03/2568,12160025815,1758.70,1705,Write-Off,A301:RL,8002059091119217,พลอยนภัส วัฒน์ธนาชัยกุล,3.240200e+12,982849995.0,...,0,0,25-07-2526,Ploynapat.watthanachaikul@gmail.com,OFFICE WORK,N,1,2,151,8002059091119217
1,02/03/2568,12170059706,1195.80,2227,Write-Off,A301:RL,5000160071009465,วิภา นวลจันทร์,3.901101e+12,936726641.0,...,0,0,08-03-2519,NaN,GENERAL LABOR,N,1,2,151,5000160071009465
2,02/03/2568,12170055539,14651.47,1693,Write-Off,A301:RL,5000360121072091,กฤษฎา ขำคง,3.530800e+12,870251382.0,...,0,0,14-02-2517,NaN,GENERAL LABOR,N,1,2,151,5000360121072091
3,02/03/2568,12170009930,18467.50,1281,Write-Off,A301:RL,5000160061055928,พชระ สิทธิมงคล,1.190100e+12,834364588.0,...,0,0,24-12-2527,NaN,GENERAL LABOR,N,1,2,151,5000160061055928
4,02/03/2568,12170048579,26952.96,0,Write-Off,A301:RL,5000160081092314,จินดา โพธิ์แก้ว,3.240300e+12,908866079.0,...,0,0,26-08-2513,NaN,PRODUCTION LINE LABOR,N,1,2,151,5000160081092314
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,02/03/2568,12170016326,4279.35,0,NM,A301:RL,5000360061038665,วีณา บุญมี,NaN,NaN,...,0,0,NaN,NaN,NaN,N,1,22,700,5000360061038665
1711,02/03/2568,12160007357,2247.85,0,NM,A301:RL,5000359091072746,สุภาภรณ์ ตันติเวช,NaN,NaN,...,0,0,NaN,NaN,NaN,N,1,24,702,5000359091072746
1712,02/03/2568,12180031823,2122.15,0,NM,A301:RL,5000161031079048,กรรณิการ์ โม้ลา,NaN,NaN,...,0,0,NaN,NaN,NaN,N,1,22,700,5000161031079048
1713,02/03/2568,12170040671,1680.04,0,NM,A301:RL,5000360121089821,พรรณทิวา ยศวิชัย,NaN,NaN,...,0,0,NaN,NaN,NaN,N,1,23,701,5000360121089821
1714,02/03/2568,12180009183,1037.53,0,NM,A301:RL,5000361021084934,อุษานาฐ บัวประเสริฐ,NaN,NaN,...,0,0,NaN,NaN,NaN,N,1,22,700,5000361021084934

In [46]:
assign = pd.read_csv('./tb_asign.csv')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_26316\2253942499.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  assign = pd.read_csv('./tb_asign.csv')

In [47]:
assign

,base_date,customer_no,principal_balance,overdue_days,overdue_months_division_code,sales_product_code,loan_no,customer_name,customer_id_no_2,mobile_no,...,overdue_int,collection_fee,dob,email_address,occupation,ever_never,import_period,company_id,user_id,update_date
0,02/03/2568,12180019330,30755.33,91,OD3,A301:RL,5000159071007100,อาทิตย์ ศรีจันทร์,1401500166752,0996879488,...,1557.06,200.0,22-08-2536,NaN,8:SERVICE JOB,Y,1,4,534.0,2025-02-02 06:38:17.580
1,02/03/2568,12160027532,25237.65,60,OD2,A301:RL,5000159071017342,ประสิทธิ์ ทองกลม,3330900772257,0948096359,...,956.33,100.0,07-09-2518,NaN,10:GENERAL LABOR,Y,1,4,69.0,2025-02-02 06:38:17.580
2,02/03/2568,12180018446,34265.41,60,OD2,A301:RL,5000159081000141,มัลลิกา เยิมสูงเนิน,1361100045169,0894933264,...,1259.12,150.0,04-12-2529,manlika.den@gmail.com,6:SALES,N,1,4,69.0,2025-02-02 06:38:17.580
3,02/03/2568,12180029074,21668.03,60,OD2,A301:RL,5000159081052434,นภัสสร มีไชยโย,1659900469871,0964907701,...,783.58,100.0,10-09-2534,Feferfrern@gmail.com,5:OFFICE WORK,N,1,4,69.0,2025-02-02 06:38:17.580
4,02/03/2568,12160027575,157146.06,29,OD1,A301:RL,5000159081075922,รวิวรรณ จันทร,3331100026136,0991495392,...,2255.02,50.0,05-08-2519,lovely_aor66@hotmail.com,5:OFFICE WORK,N,1,4,69.0,2025-02-02 07:44:22.953
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153294,02/03/2568,12170017309,51240.59,0,Write-Off,A301:RL,8002060021063702,เพ็ญนภา นารี,1320700170222,0631699370,...,0.00,0.0,26-11-2533,NaN,OFFICE WORK(งานประจำสำนักงาน),N,1,13,697.0,2025-03-03 01:49:32.314
153295,02/03/2568,13210006542,20862.55,0,Write-Off,A501:TL,9010221102000064,ยุพาดา แพงศรี,1459900355754,0934279436,...,0.00,0.0,04-06-2536,NaN,5:OFFICE WORK,N,1,13,656.0,2025-03-03 01:49:32.314
153296,02/03/2568,13210012760,41177.79,29,OD1,A501:TL,9010221112001471,ดวงสุรีย์ อวชัย,3700200241051,0819184851,...,1055.72,186.0,24-04-2525,NaN,NaN,Y,1,13,383.0,2025-02-02 06:38:17.580
153297,02/03/2568,13210007299,24709.10,0,Write-Off,A501:TL,9010221122000256,เอกภพ จันทร์ศิริการกุล,1549900301254,0646697648,...,0.00,0.0,11-08-2535,NaN,NaN,N,1,13,697.0,2025-03-03 01:49:32.314
153298,02/03/2568,13210010789,5519.34,91,OD3,A501:TL,9010221122000051,กันทิมา สุวรรณสุข,3160300318417,0982534065,...,263.58,366.0,08-02-2519,NaN,NaN,Y,1,16,377.0,2025-02-02 06:38:17.580

In [48]:
assign['loan_no_assign'] = assign['loan_no'].astype(str)

In [49]:
merge_a = assign.merge(lit,left_on='loan_no_assign', right_on='loan_no_lit', how='outer')

In [50]:
merge_a.columns

Index(['base_date_x', 'customer_no_x', 'principal_balance_x', 'overdue_days_x',
       'overdue_months_division_code_x', 'sales_product_code_x', 'loan_no_x',
       'customer_name_x', 'customer_id_no_2', 'mobile_no_x', 'address_home_x',
       'post_code_x', 'phone_no_home_x', 'address_office_x', 'post_code2_x',
       'biz_phone_no_x', 'address_place_of_residence', 'post_code3_x',
       'phone_no_x', 'delivery_address_x', 'post_code4_x',
       'delivery_phone_no_x', 'outstanding_balance_x', 'loan_date_x',
       'installment_count_x', 'loan_amt_x', 'overdue_start_date_x',
       'billing_interest_amt_x', 'overdue_int_x', 'collection_fee_x', 'dob_x',
       'email_address_x', 'occupation_x', 'ever_never_x', 'import_period_x',
       'company_id_x', 'user_id_x', 'update_date', 'loan_no_assign',
       'base_date_y', 'customer_no_y', 'principal_balance_y', 'overdue_days_y',
       'overdue_months_division_code_y', 'sales_product_code_y', 'loan_no_y',
       'customer_name_y', 'customer_id_no2', 'mobile_no_y', 'address_home_y',
       'post_code_y', 'phone_no_home_y', 'address_office_y', 'post_code2_y',
       'biz_phone_no_y', 'address__place_of_residence', 'post_code3_y',
       'phone_no_y', 'delivery_address_y', 'post_code4_y',
       'delivery_phone_no_y', 'outstanding_balance_y', 'loan_date_y',
       'installment_count_y', 'loan_amt_y', 'overdue_start_date_y',
       'billing_interest_amt_y', 'overdue_int_y', 'collection_fee_y', 'dob_y',
       'email_address_y', 'occupation_y', 'ever_never_y', 'import_period_y',
       'company_id_y', 'user_id_y', 'loan_no_lit'],
      dtype='object')

In [52]:
merge_a.loc[merge_a['loan_no_lit'].notnull() & merge_a['loan_no_assign'].notnull()]

Empty DataFrame
Columns: [base_date_x, customer_no_x, principal_balance_x, overdue_days_x, overdue_months_division_code_x, sales_product_code_x, loan_no_x, customer_name_x, customer_id_no_2, mobile_no_x, address_home_x, post_code_x, phone_no_home_x, address_office_x, post_code2_x, biz_phone_no_x, address_place_of_residence, post_code3_x, phone_no_x, delivery_address_x, post_code4_x, delivery_phone_no_x, outstanding_balance_x, loan_date_x, installment_count_x, loan_amt_x, overdue_start_date_x, billing_interest_amt_x, overdue_int_x, collection_fee_x, dob_x, email_address_x, occupation_x, ever_never_x, import_period_x, company_id_x, user_id_x, update_date, loan_no_assign, base_date_y, customer_no_y, principal_balance_y, overdue_days_y, overdue_months_division_code_y, sales_product_code_y, loan_no_y, customer_name_y, customer_id_no2, mobile_no_y, address_home_y, post_code_y, phone_no_home_y, address_office_y, post_code2_y, biz_phone_no_y, address__place_of_residence, post_code3_y, phone_no_y, delivery_address_y, post_code4_y, delivery_phone_no_y, outstanding_balance_y, loan_date_y, installment_count_y, loan_amt_y, overdue_start_date_y, billing_interest_amt_y, overdue_int_y, collection_fee_y, dob_y, email_address_y, occupation_y, ever_never_y, import_period_y, company_id_y, user_id_y, loan_no_lit]
Index: []

[0 rows x 77 columns]

*--------------

In [61]:
lit = pd.read_csv('./ASSIGN_WO_Litigation_14032568.csv')

In [62]:
lit.shape[1]

37

In [68]:
lit['customer_id_no2'] =  pd.to_numeric(lit['customer_id_no2'], errors='coerce').astype('Int64')

In [69]:
lit['mobile_no'] =  pd.to_numeric(lit['mobile_no'], errors='coerce').astype('Int64')

In [72]:
lit['post_code'] =  pd.to_numeric(lit['post_code'], errors='coerce').astype('Int64')

In [ ]:
lit['post_code'] =  pd.to_numeric(lit['post_code'], errors='coerce').astype('Int64')

In [70]:
lit.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                   Int64
mobile_no                         Int64
address_home                     object
post_code                       float64
phone_no_home                   float64
address_office                   object
post_code2                      float64
biz_phone_no                    float64
address__place_of_residence      object
post_code3                      float64
phone_no                        float64
delivery_address                 object
post_code4                      float64
delivery_phone_no               float64
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                          int64
overdue_start_date               object
billing_interest_amt              int64
overdue_int                       int64
collection_fee                    int64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object

In [71]:
lit

,base_date,customer_no,principal_balance,overdue_days,overdue_months_division_code,sales_product_code,loan_no,customer_name,customer_id_no2,mobile_no,...,billing_interest_amt,overdue_int,collection_fee,dob,email_address,occupation,ever_never,import_period,company_id,user_id
0,02/03/2568,12160025815,1758.70,1705,Write-Off,A301:RL,8002059091119217,พลอยนภัส วัฒน์ธนาชัยกุล,3240200157402,982849995,...,0,0,0,25-07-2526,Ploynapat.watthanachaikul@gmail.com,OFFICE WORK,N,1,2,151
1,02/03/2568,12170059706,1195.80,2227,Write-Off,A301:RL,5000160071009465,วิภา นวลจันทร์,3901101153039,936726641,...,0,0,0,08-03-2519,NaN,GENERAL LABOR,N,1,2,151
2,02/03/2568,12170055539,14651.47,1693,Write-Off,A301:RL,5000360121072091,กฤษฎา ขำคง,3530800222857,870251382,...,0,0,0,14-02-2517,NaN,GENERAL LABOR,N,1,2,151
3,02/03/2568,12170009930,18467.50,1281,Write-Off,A301:RL,5000160061055928,พชระ สิทธิมงคล,1190100001723,834364588,...,0,0,0,24-12-2527,NaN,GENERAL LABOR,N,1,2,151
4,02/03/2568,12170048579,26952.96,0,Write-Off,A301:RL,5000160081092314,จินดา โพธิ์แก้ว,3240300289106,908866079,...,0,0,0,26-08-2513,NaN,PRODUCTION LINE LABOR,N,1,2,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,02/03/2568,12170016326,4279.35,0,NM,A301:RL,5000360061038665,วีณา บุญมี,<NA>,<NA>,...,0,0,0,NaN,NaN,NaN,N,1,22,700
1711,02/03/2568,12160007357,2247.85,0,NM,A301:RL,5000359091072746,สุภาภรณ์ ตันติเวช,<NA>,<NA>,...,0,0,0,NaN,NaN,NaN,N,1,24,702
1712,02/03/2568,12180031823,2122.15,0,NM,A301:RL,5000161031079048,กรรณิการ์ โม้ลา,<NA>,<NA>,...,0,0,0,NaN,NaN,NaN,N,1,22,700
1713,02/03/2568,12170040671,1680.04,0,NM,A301:RL,5000360121089821,พรรณทิวา ยศวิชัย,<NA>,<NA>,...,0,0,0,NaN,NaN,NaN,N,1,23,701
1714,02/03/2568,12180009183,1037.53,0,NM,A301:RL,5000361021084934,อุษานาฐ บัวประเสริฐ,<NA>,<NA>,...,0,0,0,NaN,NaN,NaN,N,1,22,700