In [1]:
import pandas as pd

In [58]:
correct = pd.read_csv('./ASSIGN_OA_SF_OD1OD2_02032568 1.csv')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_32980\2552805503.py:1: DtypeWarning: Columns (13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  correct = pd.read_csv('./ASSIGN_OA_SF_OD1OD2_02032568 1.csv')

In [34]:
correct.shape[1]

37

In [59]:
correct.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                   int64
mobile_no                         int64
address_home                     object
post_code                         int64
phone_no_home                    object
address_office                   object
post_code2                      float64
biz_phone_no                     object
address__place_of_residence      object
post_code3                      float64
phone_no                         object
delivery_address                 object
post_code4                        int64
delivery_phone_no                object
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                        float64
overdue_start_date               object
billing_interest_amt            float64
overdue_int                     float64
collection_fee                  float64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object

In [44]:
lit = pd.read_csv('./ASSIGN_WO_Litigation_14032568.csv')

In [46]:
lit

,base_date,customer_no,principal_balance,overdue_days,overdue_months_division_code,sales_product_code,loan_no,customer_name,customer_id_no2,mobile_no,...,billing_interest_amt,overdue_int,collection_fee,dob,email_address,occupation,ever_never,import_period,company_id,user_id
0,02/03/2568,12160025815,1758.70,1705,Write-Off,A301:RL,8002059091119217,พลอยนภัส วัฒน์ธนาชัยกุล,3.240200e+12,982849995.0,...,0,0,0,25-07-2526,Ploynapat.watthanachaikul@gmail.com,OFFICE WORK,N,1,2,151
1,02/03/2568,12170059706,1195.80,2227,Write-Off,A301:RL,5000160071009465,วิภา นวลจันทร์,3.901101e+12,936726641.0,...,0,0,0,08-03-2519,NaN,GENERAL LABOR,N,1,2,151
2,02/03/2568,12170055539,14651.47,1693,Write-Off,A301:RL,5000360121072091,กฤษฎา ขำคง,3.530800e+12,870251382.0,...,0,0,0,14-02-2517,NaN,GENERAL LABOR,N,1,2,151
3,02/03/2568,12170009930,18467.50,1281,Write-Off,A301:RL,5000160061055928,พชระ สิทธิมงคล,1.190100e+12,834364588.0,...,0,0,0,24-12-2527,NaN,GENERAL LABOR,N,1,2,151
4,02/03/2568,12170048579,26952.96,0,Write-Off,A301:RL,5000160081092314,จินดา โพธิ์แก้ว,3.240300e+12,908866079.0,...,0,0,0,26-08-2513,NaN,PRODUCTION LINE LABOR,N,1,2,151
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1710,02/03/2568,12170016326,4279.35,0,NM,A301:RL,5000360061038665,วีณา บุญมี,NaN,NaN,...,0,0,0,NaN,NaN,NaN,N,1,22,700
1711,02/03/2568,12160007357,2247.85,0,NM,A301:RL,5000359091072746,สุภาภรณ์ ตันติเวช,NaN,NaN,...,0,0,0,NaN,NaN,NaN,N,1,24,702
1712,02/03/2568,12180031823,2122.15,0,NM,A301:RL,5000161031079048,กรรณิการ์ โม้ลา,NaN,NaN,...,0,0,0,NaN,NaN,NaN,N,1,22,700
1713,02/03/2568,12170040671,1680.04,0,NM,A301:RL,5000360121089821,พรรณทิวา ยศวิชัย,NaN,NaN,...,0,0,0,NaN,NaN,NaN,N,1,23,701
1714,02/03/2568,12180009183,1037.53,0,NM,A301:RL,5000361021084934,อุษานาฐ บัวประเสริฐ,NaN,NaN,...,0,0,0,NaN,NaN,NaN,N,1,22,700

In [47]:
lit.columns.equals(correct.columns)

True

In [54]:
lit.dtypes.equals(correct.dtypes)

True

In [49]:
lit.columns.equals(correct.columns)

True

In [57]:
lit['base_date'].map(type).nunique() == 1

True

In [51]:
dtype_diff = lit.dtypes != correct.dtypes

# Display columns where the data types are different
if dtype_diff.any():
    print("Columns with different data types:")
    print(dtype_diff[dtype_diff].index.tolist())  # Show only columns where data types differ
else:
    print("All columns have the same data type.")

Columns with different data types:
['customer_id_no2', 'mobile_no', 'post_code', 'phone_no_home', 'biz_phone_no', 'phone_no', 'post_code4', 'delivery_phone_no', 'loan_amt', 'billing_interest_amt', 'overdue_int', 'collection_fee']

In [39]:
import numpy as np

In [52]:
for col in correct.columns:
    # First, check if the dtype in 'correct' is an integer type (because int doesn't support NaN)
    if np.issubdtype(correct[col].dtype, np.integer):
        # Handle potential NaN or inf values before converting to integer
        lit[col] = lit[col].fillna(0).replace([np.inf, -np.inf], 0).astype(int)
    else:
        # For non-integer columns, just convert the dtype
        lit[col] = lit[col].astype(correct[col].dtype)

In [56]:
lit.to_csv('./changetype_ASSIGN_WO_Litigation_14032568.csv')

In [42]:
lit.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                   int64
mobile_no                         int64
address_home                     object
post_code                         int64
phone_no_home                    object
address_office                   object
post_code2                      float64
biz_phone_no                     object
address__place_of_residence      object
post_code3                      float64
phone_no                         object
delivery_address                 object
post_code4                        int64
delivery_phone_no                object
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                        float64
overdue_start_date               object
billing_interest_amt            float64
overdue_int                     float64
collection_fee                  float64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object

In [41]:
correct.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                   int64
mobile_no                         int64
address_home                     object
post_code                         int64
phone_no_home                    object
address_office                   object
post_code2                      float64
biz_phone_no                     object
address__place_of_residence      object
post_code3                      float64
phone_no                         object
delivery_address                 object
post_code4                        int64
delivery_phone_no                object
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                        float64
overdue_start_date               object
billing_interest_amt            float64
overdue_int                     float64
collection_fee                  float64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object

In [14]:
for col in correct.columns:
    if correct[col].nunique() == 1:
        print(f"Column '{col}' has only one unique value: {correct[col].iloc[0]}")
    else:
        print(f"Column '{col}' has multiple unique values.")

Column 'base_date' has only one unique value: 02/03/2568
Column 'customer_no' has multiple unique values.
Column 'principal_balance' has multiple unique values.
Column 'overdue_days' has multiple unique values.
Column 'overdue_months_division_code' has multiple unique values.
Column 'sales_product_code' has only one unique value: A701:SFLoan
Column 'loan_no' has multiple unique values.
Column 'customer_name' has multiple unique values.
Column 'customer_id_no2' has multiple unique values.
Column 'mobile_no' has multiple unique values.
Column 'address_home' has multiple unique values.
Column 'post_code' has multiple unique values.
Column 'phone_no_home' has multiple unique values.
Column 'address_office' has multiple unique values.
Column 'post_code2' has multiple unique values.
Column 'biz_phone_no' has multiple unique values.
Column 'address__place_of_residence' has multiple unique values.
Column 'post_code3' has multiple unique values.
Column 'phone_no' has multiple unique values.
Column 'delivery_address' has multiple unique values.
Column 'post_code4' has multiple unique values.
Column 'delivery_phone_no' has multiple unique values.
Column 'outstanding_balance' has multiple unique values.
Column 'loan_date' has multiple unique values.
Column 'installment_count' has multiple unique values.
Column 'loan_amt' has multiple unique values.
Column 'overdue_start_date' has multiple unique values.
Column 'billing_interest_amt' has multiple unique values.
Column 'overdue_int' has multiple unique values.
Column 'collection_fee' has multiple unique values.
Column 'dob' has multiple unique values.
Column 'email_address' has multiple unique values.
Column 'occupation' has multiple unique values.
Column 'ever_never' has only one unique value: N
Column 'import_period' has only one unique value: 1
Column 'company_id' has multiple unique values.
Column 'user_id' has multiple unique values.

In [15]:
for col in correct.columns:
    if correct[col].map(type).nunique() == 1:
        print(f"Column '{col}' has only one data type: {type(correct[col].iloc[0])}")
    else:
        print(f"Column '{col}' has mixed data types.")

Column 'base_date' has only one data type: <class 'str'>
Column 'customer_no' has only one data type: <class 'numpy.int64'>
Column 'principal_balance' has only one data type: <class 'numpy.float64'>
Column 'overdue_days' has only one data type: <class 'numpy.int64'>
Column 'overdue_months_division_code' has only one data type: <class 'str'>
Column 'sales_product_code' has only one data type: <class 'str'>
Column 'loan_no' has only one data type: <class 'numpy.int64'>
Column 'customer_name' has only one data type: <class 'str'>
Column 'customer_id_no2' has only one data type: <class 'numpy.int64'>
Column 'mobile_no' has only one data type: <class 'numpy.int64'>
Column 'address_home' has only one data type: <class 'str'>
Column 'post_code' has only one data type: <class 'numpy.int64'>
Column 'phone_no_home' has only one data type: <class 'str'>
Column 'address_office' has mixed data types.
Column 'post_code2' has only one data type: <class 'numpy.float64'>
Column 'biz_phone_no' has mixed data types.
Column 'address__place_of_residence' has mixed data types.
Column 'post_code3' has only one data type: <class 'numpy.float64'>
Column 'phone_no' has mixed data types.
Column 'delivery_address' has only one data type: <class 'str'>
Column 'post_code4' has only one data type: <class 'numpy.int64'>
Column 'delivery_phone_no' has mixed data types.
Column 'outstanding_balance' has only one data type: <class 'numpy.float64'>
Column 'loan_date' has only one data type: <class 'str'>
Column 'installment_count' has only one data type: <class 'numpy.int64'>
Column 'loan_amt' has only one data type: <class 'numpy.float64'>
Column 'overdue_start_date' has only one data type: <class 'str'>
Column 'billing_interest_amt' has only one data type: <class 'numpy.float64'>
Column 'overdue_int' has only one data type: <class 'numpy.float64'>
Column 'collection_fee' has only one data type: <class 'numpy.float64'>
Column 'dob' has only one data type: <class 'str'>
Column 'email_address' has only one data type: <class 'str'>
Column 'occupation' has mixed data types.
Column 'ever_never' has only one data type: <class 'str'>
Column 'import_period' has only one data type: <class 'numpy.int64'>
Column 'company_id' has only one data type: <class 'numpy.int64'>
Column 'user_id' has only one data type: <class 'numpy.int64'>

In [16]:
for col in lit.columns:
    if lit[col].map(type).nunique() == 1:
        print(f"Column '{col}' has only one data type: {type(lit[col].iloc[0])}")
    else:
        print(f"Column '{col}' has mixed data types.")

Column 'base_date' has only one data type: <class 'str'>
Column 'customer_no' has only one data type: <class 'numpy.int64'>
Column 'principal_balance' has only one data type: <class 'numpy.float64'>
Column 'overdue_days' has only one data type: <class 'numpy.int64'>
Column 'overdue_months_division_code' has only one data type: <class 'str'>
Column 'sales_product_code' has only one data type: <class 'str'>
Column 'loan_no' has only one data type: <class 'numpy.int64'>
Column 'customer_name' has only one data type: <class 'str'>
Column 'customer_id_no2' has only one data type: <class 'numpy.float64'>
Column 'mobile_no' has only one data type: <class 'numpy.float64'>
Column 'address_home' has mixed data types.
Column 'post_code' has only one data type: <class 'numpy.float64'>
Column 'phone_no_home' has only one data type: <class 'numpy.float64'>
Column 'address_office' has mixed data types.
Column 'post_code2' has only one data type: <class 'numpy.float64'>
Column 'biz_phone_no' has only one data type: <class 'numpy.float64'>
Column 'address__place_of_residence' has mixed data types.
Column 'post_code3' has only one data type: <class 'numpy.float64'>
Column 'phone_no' has only one data type: <class 'numpy.float64'>
Column 'delivery_address' has mixed data types.
Column 'post_code4' has only one data type: <class 'numpy.float64'>
Column 'delivery_phone_no' has only one data type: <class 'numpy.float64'>
Column 'outstanding_balance' has only one data type: <class 'numpy.float64'>
Column 'loan_date' has mixed data types.
Column 'installment_count' has only one data type: <class 'numpy.int64'>
Column 'loan_amt' has only one data type: <class 'numpy.int64'>
Column 'overdue_start_date' has mixed data types.
Column 'billing_interest_amt' has only one data type: <class 'numpy.int64'>
Column 'overdue_int' has only one data type: <class 'numpy.int64'>
Column 'collection_fee' has only one data type: <class 'numpy.int64'>
Column 'dob' has mixed data types.
Column 'email_address' has mixed data types.
Column 'occupation' has mixed data types.
Column 'ever_never' has only one data type: <class 'str'>
Column 'import_period' has only one data type: <class 'numpy.int64'>
Column 'company_id' has only one data type: <class 'numpy.int64'>
Column 'user_id' has only one data type: <class 'numpy.int64'>

In [26]:
correct.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                   int64
mobile_no                         int64
address_home                     object
post_code                         int64
phone_no_home                    object
address_office                   object
post_code2                      float64
biz_phone_no                     object
address__place_of_residence      object
post_code3                      float64
phone_no                         object
delivery_address                 object
post_code4                        int64
delivery_phone_no                object
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                        float64
overdue_start_date               object
billing_interest_amt            float64
overdue_int                     float64
collection_fee                  float64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object

In [27]:
lit.dtypes

base_date                        object
customer_no                       int64
principal_balance               float64
overdue_days                      int64
overdue_months_division_code     object
sales_product_code               object
loan_no                           int64
customer_name                    object
customer_id_no2                 float64
mobile_no                       float64
address_home                     object
post_code                       float64
phone_no_home                   float64
address_office                   object
post_code2                      float64
biz_phone_no                    float64
address__place_of_residence      object
post_code3                      float64
phone_no                        float64
delivery_address                 object
post_code4                      float64
delivery_phone_no               float64
outstanding_balance             float64
loan_date                        object
installment_count                 int64
loan_amt                          int64
overdue_start_date               object
billing_interest_amt              int64
overdue_int                       int64
collection_fee                    int64
dob                              object
email_address                    object
occupation                       object
ever_never                       object
import_period                     int64
company_id                        int64
user_id                           int64
dtype: object