In [52]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [63]:
assigned_path  = glob.glob("./input/assigned/*.csv")

In [64]:
assigned_path = assigned_path[0].split('\\')[-1]

In [65]:
assigned_path

'oa_proportion.csv'

In [59]:
oa_proportion = pd.read_csv(f'./input/assigned/{assigned_path}')

In [66]:
oa_proportion

    proportion             OA
0     0.093169            ACT
1     0.375597  Delay calling
2     0.069741            DHA
3     0.017714            GMV
4     0.088988       In-House
5     0.002993            JMT
6     0.054650            KOR
7     0.081245            KWC
8     0.012023            MGC
9     0.069939            MMN
10    0.111007            PCN
11    0.022934            UPC

In [67]:
ar_path = glob.glob("./input/AR/*.csv")[0].split('\\')[-1]

In [68]:
ar = pd.read_csv(f'./input/AR/{ar_path}')

In [69]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueCrUsage,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt
0,20250301,9.010000e+15,A501:TL,1/10/2024,151,5:OD4,151,5:OD4,74164.44,35872.73,...,870.55,0.00,467.3,32.7,0,0,0,0,28/2/2025,3000.00
1,20250301,9.010000e+15,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.00,0.00,0.0,0.0,0,0,0,0,27/9/2024,20971.92
2,20250301,9.010000e+15,A501:TL,31/8/2023,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.00,0.00,0.0,0.0,0,0,0,0,31/1/2023,1300.00
3,20250301,9.010000e+15,A501:TL,29/2/2024,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.00,0.00,0.0,0.0,0,0,0,0,27/12/2023,550.00
4,20250301,9.010000e+15,A501:TL,30/11/2022,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.00,0.00,0.0,0.0,0,0,0,0,30/9/2022,2100.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568397,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,5520.89,2300.33,...,0.00,0.00,0.0,0.0,0,0,0,0,1/3/2025,460.08
568398,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,27681.52,19607.72,...,0.00,0.00,0.0,0.0,0,0,0,0,28/2/2025,1153.40
568399,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,8270.85,3446.17,...,0.00,0.00,0.0,0.0,0,0,0,0,28/2/2025,689.24
568400,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,14572.12,9714.76,...,0.00,52.96,0.0,0.0,0,0,0,0,2/2/2025,809.56
568401,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,3389.85,1694.91,...,0.00,18.48,0.0,0.0,0,0,0,0,4/2/2025,282.49

In [11]:
ar.columns

Index(['BaseDate', 'Loan No', 'Product Code', 'Overdue Start Date',
       'OverdueDays_Morning', 'OverdueCnt_Morning', 'OverdueDays',
       'OverdueCnt', 'Loan Amt', 'Loan Balance', 'Outstanding Balance',
       'OverdueSumAmt', 'OverduePrin', 'OverdueInt', 'OverdueCrUsage',
       'OverdueOutputTax', 'OverdueCollectionFee', 'OverdueVAT',
       'OverdueStampTaxAmt', 'OverdueNCBTaxAmt', 'OverdueETCFeeAmt', 'LawCost',
       'LastPaymentDt', 'LastPaymentAmt'],
      dtype='object')

In [11]:
ar[['Loan No','Loan Balance']]

                  Loan No  Loan Balance
0        9010221122000949      35872.73
1        9010221122000931      12544.04
2        9010221122000922      23851.00
3        9010221122000914      13559.55
4        9010221122000906      31005.17
...                   ...           ...
1372970  1000158090014831        100.00
1372971  1000158090014814         30.00
1372972  1000158090008580        100.00
1372973  1000158090005394        100.00
1372974  1000158080014811        100.00

[1372975 rows x 2 columns]

In [13]:
loan_count = ar['Loan No'].nunique()

loan_count

1372975

In [14]:
# Sum Loan Balance
loan_balance_sum = ar['Loan Balance'].sum()
loan_balance_sum.astype(int)

np.int64(17420427758)

In [40]:
oa_proportion

    proportion             OA
0     0.093169            ACT
1     0.375597  Delay calling
2     0.069741            DHA
3     0.017714            GMV
4     0.088988       In-House
5     0.002993            JMT
6     0.054650            KOR
7     0.081245            KWC
8     0.012023            MGC
9     0.069939            MMN
10    0.111007            PCN
11    0.022934            UPC

In [70]:
ar['Loan No'].count()

np.int64(568402)

In [71]:
oa_proportion['OA']

0               ACT
1     Delay calling
2               DHA
3               GMV
4          In-House
5               JMT
6               KOR
7               KWC
8               MGC
9               MMN
10              PCN
11              UPC
Name: OA, dtype: object

In [ ]:
ar['dd'] = np.random.choice(oa_proportion['OA'],size=ar['Loan No'].count(),   p=oa_proportion['proportion'])

In [73]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt,dd
0,20250301,9.010000e+15,A501:TL,1/10/2024,151,5:OD4,151,5:OD4,74164.44,35872.73,...,0.00,467.3,32.7,0,0,0,0,28/2/2025,3000.00,Delay calling
1,20250301,9.010000e+15,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.00,0.0,0.0,0,0,0,0,27/9/2024,20971.92,UPC
2,20250301,9.010000e+15,A501:TL,31/8/2023,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.00,0.0,0.0,0,0,0,0,31/1/2023,1300.00,DHA
3,20250301,9.010000e+15,A501:TL,29/2/2024,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.00,0.0,0.0,0,0,0,0,27/12/2023,550.00,Delay calling
4,20250301,9.010000e+15,A501:TL,30/11/2022,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.00,0.0,0.0,0,0,0,0,30/9/2022,2100.00,PCN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568397,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,5520.89,2300.33,...,0.00,0.0,0.0,0,0,0,0,1/3/2025,460.08,Delay calling
568398,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,27681.52,19607.72,...,0.00,0.0,0.0,0,0,0,0,28/2/2025,1153.40,Delay calling
568399,20250301,7.240000e+15,A701:SF,,0,99:NORMAL,0,99:NORMAL,8270.85,3446.17,...,0.00,0.0,0.0,0,0,0,0,28/2/2025,689.24,PCN
568400,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,14572.12,9714.76,...,52.96,0.0,0.0,0,0,0,0,2/2/2025,809.56,In-House
568401,20250301,7.240000e+15,A701:SF,1/3/2025,0,99:NORMAL,0,99:NORMAL,3389.85,1694.91,...,18.48,0.0,0.0,0,0,0,0,4/2/2025,282.49,Delay calling

In [74]:
ar.to_csv('./distribute.csv')

In [44]:
ar.groupby('dd').size()

dd
ACT              127873
DHA               95921
Delay calling    516301
GMV               24495
In-House         122505
JMT                4082
KOR               74667
KWC              111361
MGC               16222
MMN               95719
PCN              152230
UPC               31599
dtype: int64

In [45]:
ar

,BaseDate,Loan No,Product Code,Overdue Start Date,OverdueDays_Morning,OverdueCnt_Morning,OverdueDays,OverdueCnt,Loan Amt,Loan Balance,...,OverdueOutputTax,OverdueCollectionFee,OverdueVAT,OverdueStampTaxAmt,OverdueNCBTaxAmt,OverdueETCFeeAmt,LawCost,LastPaymentDt,LastPaymentAmt,dd
0,20250301,9010221122000949,A501:TL,2024-10-01,151,5:OD4,151,5:OD4,74164.44,35872.73,...,0.0,467.3,32.7,0,0,0.0,0.0,2025-02-28,3000.00,UPC
1,20250301,9010221122000931,A501:TL,,0,99:NORMAL,0,99:NORMAL,41659.76,12544.04,...,0.0,0.0,0.0,0,0,0.0,0.0,2024-09-27,20971.92,Delay calling
2,20250301,9010221122000922,A501:TL,2023-08-31,0,98:Write-Off,0,98:Write-Off,34238.99,23851.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2023-01-31,1300.00,KWC
3,20250301,9010221122000914,A501:TL,2024-02-29,0,98:Write-Off,0,98:Write-Off,16118.33,13559.55,...,0.0,0.0,0.0,0,0,0.0,0.0,2023-12-27,550.00,PCN
4,20250301,9010221122000906,A501:TL,2022-11-30,0,98:Write-Off,0,98:Write-Off,35235.40,31005.17,...,0.0,0.0,0.0,0,0,0.0,0.0,2022-09-30,2100.00,Delay calling
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1372970,20250301,1000158090014831,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,25500.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-01-31,1580.00,DHA
1372971,20250301,1000158090014814,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,24600.00,30.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-31,1260.00,MMN
1372972,20250301,1000158090008580,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-07-16,4000.00,DHA
1372973,20250301,1000158090005394,A401:ML,2017-08-01,0,99:NORMAL,0,99:NORMAL,25900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-08-01,2600.00,UPC
1372974,20250301,1000158080014811,A401:ML,2017-02-01,0,99:NORMAL,0,99:NORMAL,27900.00,100.00,...,0.0,0.0,0.0,0,0,0.0,0.0,2017-02-03,3200.00,KWC

In [16]:
oa_proportion['portion_loancount'] =  (oa_proportion['proportion'] / 100) * loan_count

In [17]:
oa_proportion['portion_loanbalance'] =  (oa_proportion['proportion'] / 100) * loan_balance_sum

In [ ]:
['portion_loanbalance'].sum()

np.float64(17420427740.96958)

In [19]:
oa_proportion

    proportion             OA  portion_loancount  portion_loanbalance
0     9.316939            ACT      127919.245981         1.623051e+09
1    37.559684  Delay calling      515685.075518         6.543058e+09
2     6.974098            DHA       95752.616524         1.214918e+09
3     1.771357            GMV       24320.281906         3.085779e+08
4     8.898840       In-House      122178.844371         1.550216e+09
5     0.299349            JMT        4109.991052         5.214793e+07
6     5.464981            KOR       75032.824258         9.520231e+08
7     8.124490            KWC      111547.212459         1.415321e+09
8     1.202345            MGC       16507.900383         2.094537e+08
9     6.993889            MMN       96024.351617         1.218365e+09
10   11.100665            PCN      152409.362149         1.933783e+09
11    2.293362            UPC       31487.292411         3.995135e+08