In [2]:
import pandas as pd

In [ ]:
def process_and_concat_sheets(file_path):
    # Load the Excel file
    excel_file = pd.ExcelFile(file_path)
    
    # List to store processed DataFrames
    all_data = []
    print(' excel_file.sheet_names',excel_file.sheet_names)
    # Loop through all sheet names
    for sheet_name in excel_file.sheet_names:
        print('Processing sheet:', sheet_name)
        
        # Read the sheet and specify column types
        file = pd.read_excel(file_path, sheet_name=sheet_name, dtype={'KB J CAP': str})
        if "Mpay" in sheet_name: 
            # Extract and create the necessary columns
            file['Loan No.'] = file.iloc[:, 10]  # Assuming 'Loan No.' is in the 8th column (index 7)
            file['Loan No.'] = file['Loan No.'].astype(str)
            file['Payment'] = file.iloc[:, 5]  # Assuming 'Payment' is in the 16th column (index 15)
            file['Type'] = sheet_name  # Set the Type column to the sheet name
            file['Date'] = file.iloc[:, 3]  # Assuming 'Date' is in the 5th column (index 4)
            file['Date'] = file['Date'].astype(str)
        else :
            file['Loan No.'] = file.iloc[:, 7]  # Assuming 'Loan No.' is in the 8th column (index 7)
            file['Loan No.'] = file['Loan No.'].astype(str)
            file['Payment'] = file.iloc[:, 15]  # Assuming 'Payment' is in the 16th column (index 15)
            file['Type'] = sheet_name  # Set the Type column to the sheet name
            file['Date'] = file.iloc[:, 4]  # Assuming 'Date' is in the 5th column (index 4)
            file['Date'] = file['Date'].astype(str)

        
        # Optionally print the processed file (for debugging)
        print('Processed data from', sheet_name, file.head())
        file = file[['Loan No.',
       'Payment', 'Type', 'Date']]
        # Append the processed file to the list
        all_data.append(file)
    
    # Concatenate all the DataFrames in the list into a single DataFrame
    concatenated_data = pd.concat(all_data, ignore_index=True)
    
    return concatenated_data

In [19]:
import glob
file_list = glob.glob("./file/*")

In [20]:

file_list = glob.glob(f"./file/*")
# file_list = glob.glob(f"./file/*")


# List to store concatenated data from each file
all_files_data = []

# Loop through each file and process it
for file_path in file_list:
    print(f"Processing file: {file_path}")
    
    # Process the sheets in each file and concatenate the results
    file_data = process_and_concat_sheets(file_path)
    
    # Append the data to the list
    all_files_data.append(file_data)

# Concatenate all file data into a single DataFrame
final_data = pd.concat(all_files_data, ignore_index=True)

print(final_data)

Processing file: ./file\5DA4F010
 excel_file.sheet_names ['BBL', 'CS', 'M pay']
Processing sheet: BBL
Processed data from BBL    H  000001  002    1353097056  KB J CAP    ITAL C  \
0  D     2.0  2.0  1.353097e+09  17102024  230332.0
1  D     3.0  2.0  1.353097e+09  17102024  230407.0
2  D     4.0  2.0  1.353097e+09  17102024  230412.0
3  D     5.0  2.0  1.353097e+09  17102024  230445.0
4  D     6.0  2.0  1.353097e+09  17102024  230518.0

  OMPANY LIMITED            18102024KBJCAP        Unnamed: 7     Unnamed: 8  \
0                    นาย ธนวัฒน์ ศรีโพนทอง  7240770103299756    14242596563
1                        ORNJIRA WANNAKOOL  7231270101833308    12170043692
2                            สุภาภรณ์ สาโท  7240170102026268    14241697171
3                       นาย วรัชญ์ ยั่งยืน  7240770103413207    14242675803
4                          รัชนี ริยาพันธ์  7230230100198458  1829900160631

   Unnamed: 9  ... Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...       135.0            C         MBD         0.0
1         NaN  ...       135.0            C         MBD         0.0
2         NaN  ...       135.0            C         MBD         0.0
3         NaN  ...       135.0            C         MBD         0.0
4         NaN  ...       135.0            C         MBD         0.0

   Unnamed: 15                                        Unnamed: 16  \
0      1110.91  00018102024   00                              ...
1      1697.61  00018102024   00                              ...
2       354.27  00018102024   00                              ...
3      2185.41  00018102024   00                              ...
4     10000.00  00018102024   00                              ...

           Loan No.   Payment  Type      Date
0  7240770103299756   1110.91   BBL  17102024
1  7231270101833308   1697.61   BBL  17102024
2  7240170102026268    354.27   BBL  17102024
3  7240770103413207   2185.41   BBL  17102024
4  7230230100198458  10000.00   BBL  17102024

[5 rows x 21 columns]
Processing sheet: CS
Processed data from CS    H  000001  002    1353097056    JMT PLUS     CO.,L  \
0  D     2.0  2.0  1.353097e+09  18102024.0   93049.0
1  D     3.0  2.0  1.353097e+09  18102024.0  142024.0
2  D     4.0  2.0  1.353097e+09  18102024.0   90246.0
3  D     5.0  2.0  1.353097e+09  18102024.0   92931.0
4  D     6.0  2.0  1.353097e+09  18102024.0  202334.0

   TD.                       19102024JMTP    Unnamed: 7    Unnamed: 8  \
0                                     NaN  7.231170e+15  1.423141e+10
1                                     NaN  7.240970e+15  1.424243e+10
2                                     NaN  7.240670e+15  1.424249e+10
3                                     NaN  7.240170e+15  1.424161e+10
4                                     NaN  7.231170e+15  1.422014e+10

   Unnamed: 9  ...  Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...        135.0            C         CSH         0.0
1         NaN  ...        135.0            C         CSH         0.0
2         NaN  ...        135.0            C         CSH         0.0
3         NaN  ...        135.0            C         CSH         0.0
4         NaN  ...        135.0            C         CSH         0.0

   Unnamed: 15                                        Unnamed: 16  \
0       552.13  00018102024   00                              ...
1       588.94  00018102024   00                              ...
2      1153.40  00018102024   00                              ...
3       835.05  00018102024   00                              ...
4      1295.13  00018102024   00                              ...

             Loan No.  Payment  Type        Date
0  7231170101641712.0   552.13    CS  18102024.0
1  7240970103723788.0   588.94    CS  18102024.0
2  7240670103146476.0  1153.40    CS  18102024.0
3  7240170101994829.0   835.05    CS  18102024.0
4  7231170101559361.0  1295.13    CS  18102024.0

[5 rows x 21 columns]
Processing sheet: M pay
Processed data from M pay             Unnamed: 0 Unnamed: 1 Unnamed: 2          Unnamed: 3  \
0                  NaN        NaN        NaN       Template name
1                  NaN        NaN        NaN             Service
2                  NaN        NaN        NaN  Transaction status
3                  NaN        NaN        NaN            Duration
4  Summary sale report        NaN        NaN                 NaN

             Sale report Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0       default_template        NaN        NaN        NaN        NaN
1                    ALL        NaN        NaN        NaN        NaN
2                SUCCESS        NaN        NaN        NaN        NaN
3  18/10/2024-21/10/2024        NaN        NaN        NaN        NaN
4                    NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4        NaN  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 22 Loan No. Payment   Type                   Date
0         NaN      nan     NaN  M pay       default_template
1         NaN      nan     NaN  M pay                    ALL
2         NaN      nan     NaN  M pay                SUCCESS
3         NaN      nan     NaN  M pay  18/10/2024-21/10/2024
4         NaN      nan     NaN  M pay                    nan

[5 rows x 27 columns]
Processing file: ./file\ABC 01-10-2024.xlsm
 excel_file.sheet_names ['BBL', 'CS', 'Mpay']
Processing sheet: BBL
Processed data from BBL    H  000001  002    1353097056  KB J CAP    ITAL C  \
0  D     2.0  2.0  1.353097e+09  30092024  150259.0
1  D     3.0  2.0  1.353097e+09  30092024  173822.0
2  D     4.0  2.0  1.353097e+09  30092024  230001.0
3  D     5.0  2.0  1.353097e+09  30092024  230001.0
4  D     6.0  2.0  1.353097e+09  30092024  230003.0

  OMPANY LIMITED            01102024KBJCAP        Unnamed: 7   Unnamed: 8  \
0                         นาย กอล์ฟ อัมภวา  7240270102269211  14241868405
1                       MR.WARAKORN NILKUL  7240570102848569  14242279249
2                    นางสาว ชมพูนุช หวานหู  7240470102606084  14242019705
3                        นาย อำนาจ น้ำใจดี  7231070101459412  14231265472
4                          นาย สมชาย พลไกร  7230770100877164  14230805160

   Unnamed: 9  ... Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...       135.0            C         MBD         0.0
1         NaN  ...       135.0            C         MBD         0.0
2         NaN  ...       135.0            C         MBD         0.0
3         NaN  ...       135.0            C         MBD         0.0
4         NaN  ...       135.0            C         MBD         0.0

   Unnamed: 15                                        Unnamed: 16  \
0       187.24  00001102024   00                              ...
1      1243.00  00001102024   00                              ...
2       230.04  00001102024   00                              ...
3       412.52  00001102024   00                              ...
4       655.35  00001102024   00                              ...

           Loan No.  Payment  Type      Date
0  7240270102269211   187.24   BBL  30092024
1  7240570102848569  1243.00   BBL  30092024
2  7240470102606084   230.04   BBL  30092024
3  7231070101459412   412.52   BBL  30092024
4  7230770100877164   655.35   BBL  30092024

[5 rows x 21 columns]
Processing sheet: CS
Processed data from CS    H  000001  002    1353097056   JMT PLUS     CO.,L  \
0  D     2.0  2.0  1.353097e+09  1102024.0  193347.0
1  D     3.0  2.0  1.353097e+09  1102024.0  165831.0
2  D     4.0  2.0  1.353097e+09  1102024.0  103756.0
3  D     5.0  2.0  1.353097e+09  1102024.0  212057.0
4  D     6.0  2.0  1.353097e+09  1102024.0  101801.0

  TD.                       02102024JMTP    Unnamed: 7    Unnamed: 8  \
0                                    NaN  5.000761e+15  3.240100e+12
1                                    NaN  7.240170e+15  1.424167e+10
2                                    NaN  7.240870e+15  1.424282e+10
3                                    NaN  5.000160e+15  3.520600e+12
4                                    NaN  7.231270e+15  1.423050e+10

   Unnamed: 9  ...  Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...        135.0            C         CSH     0000000
1         NaN  ...        135.0            C         CSH     0000000
2         NaN  ...        135.0            C         CSH     0000000
3         NaN  ...        135.0            C         CSH     0000000
4         NaN  ...        135.0            C         CSH     0000000

  Unnamed: 15                                        Unnamed: 16  \
0      330.09  00001102024   00                              ...
1      579.75  00001102024   00                              ...
2      662.58  00001102024   00                              ...
3      661.33  00001102024   00                              ...
4      455.48  00001102024   00                              ...

             Loan No. Payment  Type       Date
0  5000761021015416.0  330.09    CS  1102024.0
1  7240170102011532.0  579.75    CS  1102024.0
2  7240870103639951.0  662.58    CS  1102024.0
3  5000160101049516.0  661.33    CS  1102024.0
4  7231270101722508.0  455.48    CS  1102024.0

[5 rows x 21 columns]
Processing sheet: Mpay
Processed data from Mpay             Unnamed: 0 Unnamed: 1 Unnamed: 2          Unnamed: 3  \
0                  NaN        NaN        NaN       Template name
1                  NaN        NaN        NaN             Service
2                  NaN        NaN        NaN  Transaction status
3                  NaN        NaN        NaN            Duration
4  Summary sale report        NaN        NaN                 NaN

             Sale report Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0       default_template        NaN        NaN        NaN        NaN
1                    ALL        NaN        NaN        NaN        NaN
2                SUCCESS        NaN        NaN        NaN        NaN
3  01/10/2024-01/10/2024        NaN        NaN        NaN        NaN
4                    NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 13 Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0        NaN  ...         NaN         NaN          NaN          NaN
1        NaN  ...         NaN         NaN          NaN          NaN
2        NaN  ...         NaN         NaN          NaN          NaN
3        NaN  ...         NaN         NaN          NaN          NaN
4        NaN  ...         NaN         NaN          NaN          NaN

  Unnamed: 17 Unnamed: 18 Loan No. Payment  Type                Date
0         NaN         NaN      nan     NaN  Mpay       Template name
1         NaN         NaN      nan     NaN  Mpay             Service
2         NaN         NaN      nan     NaN  Mpay  Transaction status
3         NaN         NaN      nan     NaN  Mpay            Duration
4         NaN         NaN      nan     NaN  Mpay                 nan

[5 rows x 23 columns]
Processing file: ./file\ABC 02-10-2024.xlsm
 excel_file.sheet_names ['BBL', 'CS', 'Mpay']
Processing sheet: BBL
Processed data from BBL    H  000001  002    1353097056  KB J CAP    ITAL C  \
0  D     2.0  2.0  1.353097e+09  01102024   61214.0
1  D     3.0  2.0  1.353097e+09  01102024  115717.0
2  D     4.0  2.0  1.353097e+09  01102024  115721.0
3  D     5.0  2.0  1.353097e+09  01102024  115724.0
4  D     6.0  2.0  1.353097e+09  01102024  124442.0

  OMPANY LIMITED            02102024KBJCAP        Unnamed: 7   Unnamed: 8  \
0                    นาง จันทร์ฟอง บุญธรรม  7240570102706140  14242177899
1                MISS JIRADA CHOEITHONGSRI  7240570102766748  14242220646
2                  นาย อดลศักดิ์ เกิดเขียว  7240370102292291  14241884372
3                       นางสาว อารีซา ตาเห  7231270101865680  14231580216
4                น.ส. จินทราลักษณ์ ผิวอ่อน  7231270101699934  14231458808

   Unnamed: 9  ... Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...       135.0            C         MBD         0.0
1         NaN  ...       135.0            C         MBD         0.0
2         NaN  ...       135.0            C         MBD         0.0
3         NaN  ...       135.0            C         MBD         0.0
4         NaN  ...       135.0            C         MBD         0.0

   Unnamed: 15                                        Unnamed: 16  \
0      1028.03  00002102024   00                              ...
1       460.08  00002102024   00                              ...
2       636.07  00002102024   00                              ...
3       506.09  00002102024   00                              ...
4       495.02  00002102024   00                              ...

           Loan No.  Payment  Type      Date
0  7240570102706140  1028.03   BBL  01102024
1  7240570102766748   460.08   BBL  01102024
2  7240370102292291   636.07   BBL  01102024
3  7231270101865680   506.09   BBL  01102024
4  7231270101699934   495.02   BBL  01102024

[5 rows x 21 columns]
Processing sheet: CS
Processed data from CS    H  000001  002    1353097056   JMT PLUS     CO.,L  \
0  D     2.0  2.0  1.353097e+09  2102024.0   73645.0
1  D     3.0  2.0  1.353097e+09  2102024.0   83302.0
2  D     4.0  2.0  1.353097e+09  2102024.0   52638.0
3  D     5.0  2.0  1.353097e+09  2102024.0  170912.0
4  D     6.0  2.0  1.353097e+09  2102024.0   42213.0

  TD.                       03102024JMTP    Unnamed: 7    Unnamed: 8  \
0                                    NaN  7.231270e+15  1.423159e+10
1                                    NaN  7.231230e+15  3.100201e+12
2                                    NaN  7.240770e+15  1.424196e+10
3                                    NaN  7.230630e+15  3.340500e+12
4                                    NaN  5.000160e+15  3.360600e+12

   Unnamed: 9  ...  Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...        135.0            C         CSH     0000000
1         NaN  ...        135.0            C         CSH     0000000
2         NaN  ...        135.0            C         CSH     0000000
3         NaN  ...        135.0            C         CSH     0000000
4         NaN  ...        135.0            C         CSH     0000000

  Unnamed: 15                                        Unnamed: 16  \
0      395.64  00002102024   00                              ...
1     1158.39  00002102024   00                              ...
2      321.66  00002102024   00                              ...
3      338.94  00002102024   00                              ...
4      414.08  00002102024   00                              ...

             Loan No.  Payment  Type       Date
0  7231270101878150.0   395.64    CS  2102024.0
1  7231230101790236.0  1158.39    CS  2102024.0
2  7240770103334495.0   321.66    CS  2102024.0
3  7230630100708353.0   338.94    CS  2102024.0
4  5000160101049001.0   414.08    CS  2102024.0

[5 rows x 21 columns]
Processing sheet: Mpay
Processed data from Mpay             Unnamed: 0 Unnamed: 1 Unnamed: 2          Unnamed: 3  \
0                  NaN        NaN        NaN       Template name
1                  NaN        NaN        NaN             Service
2                  NaN        NaN        NaN  Transaction status
3                  NaN        NaN        NaN            Duration
4  Summary sale report        NaN        NaN                 NaN

             Sale report Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0       default_template        NaN        NaN        NaN        NaN
1                    ALL        NaN        NaN        NaN        NaN
2                SUCCESS        NaN        NaN        NaN        NaN
3  02/10/2024-03/10/2024        NaN        NaN        NaN        NaN
4                    NaN        NaN        NaN        NaN        NaN

  Unnamed: 9  ... Unnamed: 17 Unnamed: 18 Unnamed: 19 Unnamed: 20 Unnamed: 21  \
0        NaN  ...         NaN         NaN         NaN         NaN         NaN
1        NaN  ...         NaN         NaN         NaN         NaN         NaN
2        NaN  ...         NaN         NaN         NaN         NaN         NaN
3        NaN  ...         NaN         NaN         NaN         NaN         NaN
4        NaN  ...         NaN         NaN         NaN         NaN         NaN

  Unnamed: 22 Loan No. Payment  Type                Date
0         NaN      nan     NaN  Mpay       Template name
1         NaN      nan     NaN  Mpay             Service
2         NaN      nan     NaN  Mpay  Transaction status
3         NaN      nan     NaN  Mpay            Duration
4         NaN      nan     NaN  Mpay                 nan

[5 rows x 27 columns]
Processing file: ./file\ABC 03-10-2024.xlsm
 excel_file.sheet_names ['BBL', 'CS', 'Mpay']
Processing sheet: BBL
Processed data from BBL    H  000001  002    1353097056  KB J CAP    ITAL C  \
0  D     2.0  2.0  1.353097e+09  01102024  171245.0
1  D     3.0  2.0  1.353097e+09  01102024  201546.0
2  D     4.0  2.0  1.353097e+09  01102024  211606.0
3  D     5.0  2.0  1.353097e+09  01102024  213044.0
4  D     6.0  2.0  1.353097e+09  01102024  213406.0

  OMPANY LIMITED            03102024KBJCAP        Unnamed: 7   Unnamed: 8  \
0                    นางสาว สุกัญญา ชูแผ้ว  7231070101438062  14231248518
1                      น.ส. เบญจวรรณ พลอิน  7231070101492171  14231291153
2                      นาย การิน นิภาสพงศา  7231170101548902  14231336650
3                          นาย ภมร สุดสนอง  7230370100242623  14230234931
4                 น.ส. สุรีรัตน์ ทรงทรัพย์  7240270102229264  14241840335

   Unnamed: 9  ... Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...       135.0            C         MBD     0000000
1         NaN  ...       135.0            C         MBD     0000000
2         NaN  ...       135.0            C         MBD     0000000
3         NaN  ...       135.0            C         MBD     0000000
4         NaN  ...       135.0            C         MBD     0000000

  Unnamed: 15                                        Unnamed: 16  \
0      579.73  00003102024   00                              ...
1      257.17  00003102024   00                              ...
2      430.17  00003102024   00                              ...
3     1374.25  00003102024   00                              ...
4      530.06  00003102024   00                              ...

           Loan No.  Payment  Type      Date
0  7231070101438062   579.73   BBL  01102024
1  7231070101492171   257.17   BBL  01102024
2  7231170101548902   430.17   BBL  01102024
3  7230370100242623  1374.25   BBL  01102024
4  7240270102229264   530.06   BBL  01102024

[5 rows x 21 columns]
Processing sheet: CS
Processed data from CS    H  000001  002    1353097056   JMT PLUS     CO.,L  \
0  D     2.0  2.0  1.353097e+09  3102024.0  175654.0
1  D     3.0  2.0  1.353097e+09  3102024.0   70007.0
2  D     4.0  2.0  1.353097e+09  3102024.0   71455.0
3  D     5.0  2.0  1.353097e+09  3102024.0  181732.0
4  D     6.0  2.0  1.353097e+09  3102024.0   62235.0

  TD.                       04102024JMTP    Unnamed: 7    Unnamed: 8  \
0                                    NaN  5.002761e+15  3.340800e+12
1                                    NaN  7.220830e+15  3.640701e+12
2                                    NaN  7.240670e+15  1.424245e+10
3                                    NaN  7.240270e+15  1.424182e+10
4                                    NaN  7.240870e+15  1.424269e+10

   Unnamed: 9  ...  Unnamed: 11  Unnamed: 12 Unnamed: 13 Unnamed: 14  \
0         NaN  ...        135.0            C         CSH     0000000
1         NaN  ...        135.0            C         CSH     0000000
2         NaN  ...        135.0            C         CSH     0000000

IndexError: single positional indexer is out-of-bounds

In [17]:
final_data

NameError: name 'final_data' is not defined

In [21]:
def check_sheets_with_mpay(file_path):
    # Load the Excel file
    excel_file = pd.ExcelFile(file_path)

    # List all sheet names
    sheet_names = excel_file.sheet_names
    print("All sheet names:", sheet_names)

    # Filter sheets that contain 'Mpay' (case-insensitive)
    mpay_sheets = [sheet for sheet in sheet_names if "mpay" in sheet.lower()]

    if mpay_sheets:
        print("Sheets containing 'Mpay':", mpay_sheets)
    else:
        print("No sheets contain 'Mpay'.")

    return mpay_sheets  # Return list of matching sheet names

# Example usage
file_path = "your_excel_file.xlsx"
mpay_sheets = check_sheets_with_mpay(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'your_excel_file.xlsx'

In [51]:
final_data.to_excel('./output/0524.xlsx')

In [ ]:
def split_and_save_data(data, output_file):
    # Split data into chunks of 500,000 rows if needed
    chunk_size = 500000
    num_chunks = (len(data) // chunk_size) + (1 if len(data) % chunk_size > 0 else 0)
    
    with pd.ExcelWriter(output_file, engine='xlsxwriter') as writer:
        # Write each chunk to a separate sheet
        for chunk_num in range(num_chunks):
            start_row = chunk_num * chunk_size
            end_row = min((chunk_num + 1) * chunk_size, len(data))
            chunk = data.iloc[start_row:end_row]
            
            # Save the chunk to a new sheet
            chunk.to_excel(writer, sheet_name=f'Sheet_{chunk_num + 1}', index=False)
            print(f"Saved Sheet_{chunk_num + 1} with rows {start_row} to {end_row}")

In [ ]:
output_file = './output/0524.xlxs'
if len(final_data) > 500000:
        print(f"Total rows {len(final_data)} exceed 500,000. Splitting into multiple sheets.")
        split_and_save_data(final_data, output_file)
else:
    # If it's less than 500,000 rows, save it as one sheet
    final_data.to_excel(output_file, index=False, sheet_name='Sheet_1')
    print(f"Saved all data to {output_file}.")