In [2]:
import pandas as pd
# from utils import select_min_pay, read_input_file, export_file
import glob
import numpy as np
import pandas as pd
import glob
import logging
import win32com.client as win32
import os
import jaydebeapi
from const import QUERY, CONNECT
import oracledb
import getpass
import json

history weight

In [3]:
conn = jaydebeapi.connect(
        CONNECT.DB,
        CONNECT.PORT,
        CONNECT.USER,
        CONNECT.CNN,
        )
cur = conn.cursor()  

query = pd.read_sql(f'''
      SELECT * FROM SIREETRON.bucket_score  
    ''', conn) 
conn.close()

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_19896\996401911.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query = pd.read_sql(f'''

In [4]:
query

    ID        BUCKET SCORE_INDEX BUCKET_SCORE
0    1     99:NORMAL           1            0
1    2          1:XD           1            1
2    3         2:OD1           2            2
3    4         3:OD2           2            3
4    5         4:OD3           3            4
5    6         5:OD4           3            5
6    7         6:OD5           3            6
7    8         7:OD6           3            7
8    9         8:OD7           3            8
9   10         9:OD8           3            9
10  11           10:           3           10
11  12           11:           3           11
12  13       12:OVER           3           12
13  14  98:Write-Off           3           13

In [101]:

def all_history(date,item) :
    data_mnt = pd.read_csv(f'./input/acc_history_monthly/{date}')
    print(f'./input/history/{date}')
    data_mnt['Loan No'] = data_mnt['Loan No'].astype(str)
    data_mnt = data_mnt[['Loan No','OverdueCnt_Morning']].merge(query, left_on='OverdueCnt_Morning', right_on='BUCKET', how='left')
    data_mnt = data_mnt.rename(columns={'BUCKET_SCORE': f'BUCKET_SCORE{item}mnt'})
    # data_mnt = data_mnt.rename(columns={'OverdueCnt_Morning': f'OverdueCnt_Morning{item}'})
    return data_mnt[['Loan No',f'BUCKET_SCORE{item}mnt']]

In [104]:
data_digit1 = pd.read_csv(f'./input/acc_current/Acc_20250301_0830.csv')
data_digit1['Loan No'] = data_digit1['Loan No'].astype(str)
data_digit1 = data_digit1[['Loan No']]

In [72]:
import re

In [87]:
files = glob.glob("./input/acc_history_monthly/*.csv")

In [88]:
# files = []
processed_files = []  # Store modified file names

for i in files:
    print()
    file = i.split('\\')[-1] 
    print(file)
    processed_files.append(file)  
print(processed_files)

Acc_20241001_0830.csv

Acc_20241101_0830.csv

Acc_20241201_0830.csv

Acc_20250101_0830.csv

Acc_20250201_0830.csv

Acc_20250301_0830.csv
['Acc_20241001_0830.csv', 'Acc_20241101_0830.csv', 'Acc_20241201_0830.csv', 'Acc_20250101_0830.csv', 'Acc_20250201_0830.csv', 'Acc_20250301_0830.csv']

In [ ]:
def transform_files(files):
    files.sort(reverse=True)
    latest_files = files
    return [[file,  re.sub(r'\.csv$', '', file)] for file in latest_files]

In [99]:
his = transform_files(processed_files)

In [ ]:
re.sub(r'\.csv$', '', files[0].split('\\')[1])

In [105]:
# his = [ ['20250301', '0'],['20250201', '1'],['20250101','2'],['20241201','3'],['20241101','4'],['20241001','5']]
for i in his[0:]:
    print(f"Processing date: {i[0]}")
    print((i[0], i[1]))
    data = all_history(i[0], i[1])
    data_digit1 = data_digit1.merge(data, on='Loan No', how='outer')

Processing date: Acc_20250301_0830.csv
('Acc_20250301_0830.csv', 'Acc_20250301_0830')
./input/history/Acc_20250301_0830.csv
Processing date: Acc_20250201_0830.csv
('Acc_20250201_0830.csv', 'Acc_20250201_0830')
./input/history/Acc_20250201_0830.csv
Processing date: Acc_20250101_0830.csv
('Acc_20250101_0830.csv', 'Acc_20250101_0830')
./input/history/Acc_20250101_0830.csv
Processing date: Acc_20241201_0830.csv
('Acc_20241201_0830.csv', 'Acc_20241201_0830')
./input/history/Acc_20241201_0830.csv
Processing date: Acc_20241101_0830.csv
('Acc_20241101_0830.csv', 'Acc_20241101_0830')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_19896\2874079498.py:2: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  data_mnt = pd.read_csv(f'./input/acc_history_monthly/{date}')

./input/history/Acc_20241101_0830.csv
Processing date: Acc_20241001_0830.csv
('Acc_20241001_0830.csv', 'Acc_20241001_0830')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_19896\2874079498.py:2: DtypeWarning: Columns (1,6) have mixed types. Specify dtype option on import or set low_memory=False.
  data_mnt = pd.read_csv(f'./input/acc_history_monthly/{date}')

./input/history/Acc_20241001_0830.csv

In [106]:
data_digit1

,Loan No,BUCKET_SCOREAcc_20250301_0830mnt,BUCKET_SCOREAcc_20250201_0830mnt,BUCKET_SCOREAcc_20250101_0830mnt,BUCKET_SCOREAcc_20241201_0830mnt,BUCKET_SCOREAcc_20241101_0830mnt,BUCKET_SCOREAcc_20241001_0830mnt
0,1000158080014811,0,0,0,0,0,0
1,1000158090005394,0,0,0,0,0,0
2,1000158090008580,0,0,0,0,0,0
3,1000158090014814,0,0,0,0,0,0
4,1000158090014831,0,0,0,0,0,0
...,...,...,...,...,...,...,...
1633098,9010221122000914,13,13,13,13,13,13
1633099,9010221122000922,13,13,13,13,13,13
1633100,9010221122000931,0,0,0,0,0,0
1633101,9010221122000949,5,5,5,5,5,5
1633102,FB1910045_220309,NaN,NaN,NaN,NaN,12,12

In [8]:
data_digit1['AVG_DIGIT1'] = data_digit1.loc[:, data_digit1.columns.str.startswith('BUCKET_SCORE')].apply(pd.to_numeric, errors='coerce').sum(axis=1).fillna(0).astype(int)/6

In [9]:
data_digit1

,Loan No,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1
0,1000158080014811,0,0,0,0,0,0,0.0
1,1000158090005394,0,0,0,0,0,0,0.0
2,1000158090008580,0,0,0,0,0,0,0.0
3,1000158090014814,0,0,0,0,0,0,0.0
4,1000158090014831,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...
1633098,9010221122000914,13,13,13,13,13,13,13.0
1633099,9010221122000922,13,13,13,13,13,13,13.0
1633100,9010221122000931,0,0,0,0,0,0,0.0
1633101,9010221122000949,5,5,5,5,5,5,5.0
1633102,FB1910045_220309,NaN,NaN,NaN,NaN,12,12,4.0

In [ ]:
# conditions = [
#     (data_digit1['AVG_DIGIT1_Fhn'] > 3),
#     (data_digit1['AVG_DIGIT1_Fhn'] > 1),
#     (data_digit1['AVG_DIGIT1_Fhn'] == 0)
# ]

# # Define corresponding values
# choices = ['H', 'M', 'L']

# # Apply the mapping logic
# data_digit1['AVG_DIGIT1_digit_Fhn'] = np.select(conditions, choices, default='M')

In [283]:
# data_digit1[]

,Loan No,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt
0,1000158080014811,0,0,0,0,0,0
1,1000158090005394,0,0,0,0,0,0
2,1000158090008580,0,0,0,0,0,0
3,1000158090014814,0,0,0,0,0,0
4,1000158090014831,0,0,0,0,0,0
...,...,...,...,...,...,...,...
1633098,9010221122000914,13,13,13,13,13,13
1633099,9010221122000922,13,13,13,13,13,13
1633100,9010221122000931,0,0,0,0,0,0
1633101,9010221122000949,5,5,5,5,5,5
1633102,FB1910045_220309,NaN,NaN,NaN,NaN,12,12

In [10]:
data_digit1

,Loan No,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1
0,1000158080014811,0,0,0,0,0,0,0.0
1,1000158090005394,0,0,0,0,0,0,0.0
2,1000158090008580,0,0,0,0,0,0,0.0
3,1000158090014814,0,0,0,0,0,0,0.0
4,1000158090014831,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...
1633098,9010221122000914,13,13,13,13,13,13,13.0
1633099,9010221122000922,13,13,13,13,13,13,13.0
1633100,9010221122000931,0,0,0,0,0,0,0.0
1633101,9010221122000949,5,5,5,5,5,5,5.0
1633102,FB1910045_220309,NaN,NaN,NaN,NaN,12,12,4.0

In [11]:
data_digit1['Loan No'] = data_digit1['Loan No'].astype(str)

In [12]:
data_digit1

,Loan No,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1
0,1000158080014811,0,0,0,0,0,0,0.0
1,1000158090005394,0,0,0,0,0,0,0.0
2,1000158090008580,0,0,0,0,0,0,0.0
3,1000158090014814,0,0,0,0,0,0,0.0
4,1000158090014831,0,0,0,0,0,0,0.0
...,...,...,...,...,...,...,...,...
1633098,9010221122000914,13,13,13,13,13,13,13.0
1633099,9010221122000922,13,13,13,13,13,13,13.0
1633100,9010221122000931,0,0,0,0,0,0,0.0
1633101,9010221122000949,5,5,5,5,5,5,5.0
1633102,FB1910045_220309,NaN,NaN,NaN,NaN,12,12,4.0

Perfomance

In [107]:
data_performance = pd.read_csv('./input/performance/performance.csv')
# data_AC = pd.read_csv('./input/Acc_20250307_0830.csv')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_19896\2899921485.py:1: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  data_performance = pd.read_csv('./input/performance/performance.csv')

In [108]:
data_performance

,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,OCCUPATION_TYPE,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,PRINCIPAL_BAL,MOB,DIGIT2INCOME,DIGIT2AGE,DIGIT2JOB,TOTAL_DIGIT2
0,2025-03-09 00:00:00.000,5000160071029814,3450800190247,10500.0,10.0,GENERAL LABOR,2017-07-17 00:00:00.000,91.0,48.0,0.00,7,3,2,2,3
1,2025-03-09 00:00:00.000,7221140100022427,3601000365947,25763.0,9.0,PRODUCTION LINE LABOR,2022-11-11 00:00:00.000,28.0,43.0,31783.61,7,3,2,3,3
2,2025-03-09 00:00:00.000,7230950101266462,1709700073957,30000.0,5.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,47052.21,7,3,3,1,3
3,2025-03-09 00:00:00.000,5000161041003419,3300800674709,15611.0,9.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,0.00,7,3,2,3,3
4,2025-03-09 00:00:00.000,7230410100429114,1401500153197,12224.0,9.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,274168.44,7,3,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104792037,1720200122632,45000.0,4.0,SPECIALIZATION,2025-02-16 00:00:00.000,0.0,29.0,0.00,6,2,3,1,2
5323432,2025-03-09 00:00:00.000,7250370104881671,3650100771393,17500.0,9.0,PRODUCTION LINE LABOR,2025-03-02 00:00:00.000,0.0,63.0,0.00,6,3,1,3,3
5323433,2025-03-09 00:00:00.000,7250370104881678,1200400034464,35000.0,8.0,SERVICE JOB,2025-03-02 00:00:00.000,0.0,36.0,0.00,6,2,3,2,3
5323434,2025-03-09 00:00:00.000,7250270104729446,1679900263742,45000.0,5.0,OFFICE WORK,2025-02-06 00:00:00.000,1.0,32.0,44944.74,6,2,3,1,2
5323435,2025-03-09 00:00:00.000,7250270104729462,1349901334409,17500.0,4.0,SPECIALIZATION,2025-02-06 00:00:00.000,1.0,20.0,13955.90,6,3,3,1,3

In [109]:
data_digit1['Loan No'] = data_digit1['Loan No'].astype(str)
data_performance['CONTRACT_NO']= data_performance['CONTRACT_NO'].astype(str)

In [16]:
data_all_digit = data_performance.merge(data_digit1, left_on='CONTRACT_NO', right_on='Loan No', how='left')

In [17]:
data_all_digit

,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,FLOORED_VALUE,OCCUPATION_TYPE,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,...,DIGIT2JOB,TOTAL_DIGIT2,Loan No,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1
0,2025-03-09 00:00:00.000,7230950101266462,1709700073957,30000.0,30000.0,5.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,...,1,3,7230950101266462,2,1,0,5,5,4,2.833333
1,2025-03-09 00:00:00.000,5000161041003419,3300800674709,15611.0,15000.0,9.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,...,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-03-09 00:00:00.000,7230410100429114,1401500153197,12224.0,10000.0,9.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,...,3,3,7230410100429114,13,13,13,9,8,7,10.500000
3,2025-03-09 00:00:00.000,5000461011069133,1102001592652,10000.0,10000.0,6.0,SALES,2018-01-29 00:00:00.000,85.0,33.0,...,2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2025-03-09 00:00:00.000,5000159121088434,1100200920712,10250.0,10000.0,7.0,DRIVING,2016-12-28 00:00:00.000,98.0,30.0,...,3,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104833429,1910100097898,45000.0,45000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,37.0,...,1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5323432,2025-03-09 00:00:00.000,7250270104828777,1600100045670,17500.0,15000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,40.0,...,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5323433,2025-03-09 00:00:00.000,7250270104748231,3360101417316,25000.0,25000.0,10.0,GENERAL LABOR,2025-02-09 00:00:00.000,1.0,52.0,...,2,2,7250270104748231,0,NaN,NaN,NaN,NaN,NaN,0.000000
5323434,2025-03-09 00:00:00.000,7250170104643668,3800400133170,35000.0,35000.0,1.0,REGISTERED BUSINESS OWNER,2025-01-24 00:00:00.000,1.0,42.0,...,3,3,7250170104643668,0,0,NaN,NaN,NaN,NaN,0.000000
5323435,2025-03-09 00:00:00.000,7250270104687667,3120600449126,17500.0,15000.0,8.0,SERVICE JOB,2025-02-01 00:00:00.000,1.0,63.0,...,2,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
data_all_digit.groupby('TOTAL_DIGIT2').size()

TOTAL_DIGIT2
1       4869
2    1934568
3    3383999
dtype: int64

In [19]:
data_all_digit['MOB'] = pd.to_numeric(data_all_digit['MOB'], errors='coerce').fillna(0).astype(int)

In [20]:
data_all_digit['MOB']

0          7
1          7
2          7
3          7
4          7
          ..
5323431    6
5323432    6
5323433    6
5323434    6
5323435    6
Name: MOB, Length: 5323436, dtype: int64

In [298]:
data_all_digit.columns

Index(['AS_OF_DATE', 'CONTRACT_NO', 'NATIONAL_ID', 'GROSS_INCOME',
       'FLOORED_VALUE', 'OCCUPATION_TYPE', 'OCCUPATION_NAME', 'CONTRACT_DATE',
       'CONTRACT_PERIOD', 'AGE', 'PRINCIPAL_BAL', 'MOB', 'DIGIT2INCOME',
       'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'Loan No', 'BUCKET_SCORE0mnt',
       'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt', 'BUCKET_SCORE3mnt',
       'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt', 'AVG_DIGIT1'],
      dtype='object')

TDH

In [111]:
files = glob.glob("./Input/ar_all/*.*")
print(files)
    # logger.info('Start Processing...')
    # logger.info('Reading input files...')

['./Input/ar_all\\AR_ALL_20250310_1.csv', './Input/ar_all\\AR_ALL_20250310_2.csv']

In [112]:
df_list = []  # Store individual DataFrames

for file in files:
    print(f"Reading {file}...")
    df = pd.read_csv(file, encoding='cp874', low_memory=False)
    df_list.append(df)

Reading ./Input/ar_all\AR_ALL_20250310_1.csv...
Reading ./Input/ar_all\AR_ALL_20250310_2.csv...

In [113]:
data_tdr = pd.concat(df_list, ignore_index=True)
data_tdr

,H,Customer No,Loan No,Product,Project Code,Project Code Name,Promotion Code,Promotion Name,Loan Date,Maturity Date,...,AS Output Grade Code,Job Type Code,Less Than 1 Year Balance,Less Than 3 Year Balance,Less Than 5 Year Balance,Exceeding 5 Year Balance,RL Suspention Y/N,Customer Total Credit Line,SAM Y/N,SUING Y/N
0,D,"=""11200001592""","=""1000163020000364""",C4C,V002,01:C4C_068_180,,,2020-02-11,2025-03-01,...,,2,6416.62,0.00,0.0,0.0,N,140000.00,N,N
1,D,"=""11200001210""","=""1000163020001034""",C4C,V003,Re_01:C4C,,,2020-02-28,2025-03-01,...,,7,6676.18,0.00,0.0,0.0,N,290000.00,N,N
2,D,"=""11200000612""","=""1000163030000219""",C4C,V003,Re_01:C4C,,,2020-03-18,2025-04-01,...,,2,6473.42,0.00,0.0,0.0,N,280000.00,N,N
3,D,"=""11200001303""","=""1000163030000260""",C4C,V002,01:C4C_068_180,,,2020-03-25,2025-04-01,...,,9,9256.07,0.00,0.0,0.0,N,400000.00,N,N
4,D,"=""11200001023""","=""1000163030000332""",C4C,V003,Re_01:C4C,,,2020-03-31,2025-04-01,...,,2,27479.92,0.00,0.0,0.0,N,400000.00,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279590,D,"=""13210012277""","=""9010221122000507""",TL,PLD2021070,ปรับโครงสร้างหนี้_20.9%_COVID_Phase3,,,2021-12-01,2028-01-01,...,,,16920.21,37112.42,0.0,0.0,N,205411.79,N,N
1279591,D,"=""13210012644""","=""9010221122000566""",TL,PLD2021035,ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3,,,2021-12-01,2026-01-01,...,,,6578.74,0.00,0.0,0.0,N,45667.25,N,N
1279592,D,"=""13210001266""","=""9010221122000817""",TL,PLD2021035,ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3,,,2021-12-01,2028-01-01,...,,,8598.03,17818.86,0.0,0.0,N,89316.84,N,N
1279593,D,"=""13210005782""","=""9010221122000931""",TL,PLD2020023,ปรับโครงสร้างหนี้_จากRL_22%_48ด,,,2021-12-08,2025-12-01,...,,,12544.04,0.00,0.0,0.0,N,106159.76,N,N
1279594,D,"=""13210002840""","=""9010221122000949""",TL,PLD2020023,ปรับโครงสร้างหนี้_จากRL_22%_48ด,,,2021-12-08,2025-12-01,...,,,35872.73,0.00,0.0,0.0,N,206964.44,N,N

In [114]:
import re
data_tdr['Loan No'] = data_tdr['Loan No'].astype(str).apply(lambda x: re.sub(r'\D', '', x))

In [115]:
data_tdr

,H,Customer No,Loan No,Product,Project Code,Project Code Name,Promotion Code,Promotion Name,Loan Date,Maturity Date,...,AS Output Grade Code,Job Type Code,Less Than 1 Year Balance,Less Than 3 Year Balance,Less Than 5 Year Balance,Exceeding 5 Year Balance,RL Suspention Y/N,Customer Total Credit Line,SAM Y/N,SUING Y/N
0,D,"=""11200001592""",1000163020000364,C4C,V002,01:C4C_068_180,,,2020-02-11,2025-03-01,...,,2,6416.62,0.00,0.0,0.0,N,140000.00,N,N
1,D,"=""11200001210""",1000163020001034,C4C,V003,Re_01:C4C,,,2020-02-28,2025-03-01,...,,7,6676.18,0.00,0.0,0.0,N,290000.00,N,N
2,D,"=""11200000612""",1000163030000219,C4C,V003,Re_01:C4C,,,2020-03-18,2025-04-01,...,,2,6473.42,0.00,0.0,0.0,N,280000.00,N,N
3,D,"=""11200001303""",1000163030000260,C4C,V002,01:C4C_068_180,,,2020-03-25,2025-04-01,...,,9,9256.07,0.00,0.0,0.0,N,400000.00,N,N
4,D,"=""11200001023""",1000163030000332,C4C,V003,Re_01:C4C,,,2020-03-31,2025-04-01,...,,2,27479.92,0.00,0.0,0.0,N,400000.00,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279590,D,"=""13210012277""",9010221122000507,TL,PLD2021070,ปรับโครงสร้างหนี้_20.9%_COVID_Phase3,,,2021-12-01,2028-01-01,...,,,16920.21,37112.42,0.0,0.0,N,205411.79,N,N
1279591,D,"=""13210012644""",9010221122000566,TL,PLD2021035,ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3,,,2021-12-01,2026-01-01,...,,,6578.74,0.00,0.0,0.0,N,45667.25,N,N
1279592,D,"=""13210001266""",9010221122000817,TL,PLD2021035,ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3,,,2021-12-01,2028-01-01,...,,,8598.03,17818.86,0.0,0.0,N,89316.84,N,N
1279593,D,"=""13210005782""",9010221122000931,TL,PLD2020023,ปรับโครงสร้างหนี้_จากRL_22%_48ด,,,2021-12-08,2025-12-01,...,,,12544.04,0.00,0.0,0.0,N,106159.76,N,N
1279594,D,"=""13210002840""",9010221122000949,TL,PLD2020023,ปรับโครงสร้างหนี้_จากRL_22%_48ด,,,2021-12-08,2025-12-01,...,,,35872.73,0.00,0.0,0.0,N,206964.44,N,N

In [116]:
data_tdr = data_tdr.loc[
    (data_tdr['Product'] == 'TL') & 
    (
        data_tdr['Project Code Name'].str.contains('ปรับโครงสร้าง', na=False) | 
        data_tdr['Project Code Name'].str.contains('TDR', na=False) | 
        data_tdr['Project Code Name'].str.contains('DR', na=False)
    )
].reset_index(drop=True)[['Loan No','Project Code Name']]

In [27]:
data_tdr

               Loan No                         Project Code Name
0     7220150100000141                                       TDR
1     7220150100000146                                       TDR
2     7220150100000148                                       TDR
3     7220150100000152                                       TDR
4     7220150100000161                                       TDR
...                ...                                       ...
3379  9010221122000507      ปรับโครงสร้างหนี้_20.9%_COVID_Phase3
3380  9010221122000566  ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3
3381  9010221122000817  ปรับโครงสร้างหนี้_จากRL_22%_COVID_Phase3
3382  9010221122000931           ปรับโครงสร้างหนี้_จากRL_22%_48ด
3383  9010221122000949           ปรับโครงสร้างหนี้_จากRL_22%_48ด

[3384 rows x 2 columns]

merge

In [117]:
data_cscore = data_all_digit.merge(data_tdr, left_on='CONTRACT_NO', right_on='Loan No', how='left')

In [37]:
data_cscore.columns

Index(['AS_OF_DATE', 'CONTRACT_NO', 'NATIONAL_ID', 'GROSS_INCOME',
       'FLOORED_VALUE', 'OCCUPATION_TYPE', 'OCCUPATION_NAME', 'CONTRACT_DATE',
       'CONTRACT_PERIOD', 'AGE', 'PRINCIPAL_BAL', 'MOB', 'DIGIT2INCOME',
       'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'Loan No_x',
       'BUCKET_SCORE0mnt', 'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt',
       'BUCKET_SCORE3mnt', 'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt',
       'AVG_DIGIT1', 'Loan No_y', 'Project Code Name', 'TOTAL_DIGIT1'],
      dtype='object')

In [34]:
# Define conditions
conditions = [
    data_cscore['Project Code Name'].notna(),      # A is not null
    data_cscore['MOB'] < 7,          # A is less than 7
    data_cscore['AVG_DIGIT1'] > 3  ,
    data_cscore['AVG_DIGIT1'] > 1,# C is equal to 3
    data_cscore['AVG_DIGIT1'] >= 0,
]

# Define corresponding values
choices = ['H', 'D', 'H','M','L']

data_cscore['TOTAL_DIGIT1']= np.select(conditions, choices, default='Other')

In [36]:
data_cscore.columns

Index(['AS_OF_DATE', 'CONTRACT_NO', 'NATIONAL_ID', 'GROSS_INCOME',
       'FLOORED_VALUE', 'OCCUPATION_TYPE', 'OCCUPATION_NAME', 'CONTRACT_DATE',
       'CONTRACT_PERIOD', 'AGE', 'PRINCIPAL_BAL', 'MOB', 'DIGIT2INCOME',
       'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'Loan No_x',
       'BUCKET_SCORE0mnt', 'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt',
       'BUCKET_SCORE3mnt', 'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt',
       'AVG_DIGIT1', 'Loan No_y', 'Project Code Name', 'TOTAL_DIGIT1'],
      dtype='object')

In [337]:
data_cscore = data_cscore[['AS_OF_DATE','CONTRACT_NO','GROSS_INCOME','OCCUPATION_NAME','CONTRACT_DATE','CONTRACT_PERIOD',
                'AGE','MOB','DIGIT2INCOME',
             'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'BUCKET_SCORE0mnt', 'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt',
       'BUCKET_SCORE3mnt', 'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt', 'AVG_DIGIT1','TOTAL_DIGIT1', 'Project Code Name' ]]

In [338]:
data_cscore.columns

Index(['AS_OF_DATE', 'CONTRACT_NO', 'GROSS_INCOME', 'OCCUPATION_NAME',
       'CONTRACT_DATE', 'CONTRACT_PERIOD', 'AGE', 'MOB', 'DIGIT2INCOME',
       'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'BUCKET_SCORE0mnt',
       'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt', 'BUCKET_SCORE3mnt',
       'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt', 'AVG_DIGIT1', 'TOTAL_DIGIT1',
       'Project Code Name'],
      dtype='object')

In [339]:
data_cscore

,AS_OF_DATE,CONTRACT_NO,GROSS_INCOME,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,MOB,DIGIT2INCOME,DIGIT2AGE,...,TOTAL_DIGIT2,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1,TOTAL_DIGIT1,Project Code Name
0,2025-03-09 00:00:00.000,7230950101266462,30000.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,7,3,3,...,3,2,1,0,5,5,4,2.833333,H,ปรับโครงสร้างหนี้_DR_Collection_15%
1,2025-03-09 00:00:00.000,5000161041003419,15611.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,7,3,2,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN
2,2025-03-09 00:00:00.000,7230410100429114,12224.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,7,3,3,...,3,13,13,13,9,8,7,10.500000,H,NaN
3,2025-03-09 00:00:00.000,5000461011069133,10000.0,SALES,2018-01-29 00:00:00.000,85.0,33.0,7,3,3,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN
4,2025-03-09 00:00:00.000,5000159121088434,10250.0,DRIVING,2016-12-28 00:00:00.000,98.0,30.0,7,3,3,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104833429,45000.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,37.0,6,2,3,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,NaN
5323432,2025-03-09 00:00:00.000,7250270104828777,17500.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,40.0,6,3,3,...,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,NaN
5323433,2025-03-09 00:00:00.000,7250270104748231,25000.0,GENERAL LABOR,2025-02-09 00:00:00.000,1.0,52.0,6,3,1,...,2,0,NaN,NaN,NaN,NaN,NaN,0.000000,D,NaN
5323434,2025-03-09 00:00:00.000,7250170104643668,35000.0,REGISTERED BUSINESS OWNER,2025-01-24 00:00:00.000,1.0,42.0,6,2,2,...,3,0,0,NaN,NaN,NaN,NaN,0.000000,D,NaN
5323435,2025-03-09 00:00:00.000,7250270104687667,17500.0,SERVICE JOB,2025-02-01 00:00:00.000,1.0,63.0,6,3,1,...,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,NaN

In [38]:
# data_all_digit['score_digit1'] = data_all_digit['TOTAL_DIGIT1'].map({3: 'H', 2: 'M', 1: 'L'})
data_cscore['TOTAL_DIGIT2'] = data_cscore['TOTAL_DIGIT2'].map({3: 'H', 2: 'M', 1: 'L'})

In [39]:
data_cscore

,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,FLOORED_VALUE,OCCUPATION_TYPE,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,...,BUCKET_SCORE0mnt,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1,Loan No_y,Project Code Name,TOTAL_DIGIT1
0,2025-03-09 00:00:00.000,7230950101266462,1709700073957,30000.0,30000.0,5.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,...,2,1,0,5,5,4,2.833333,7230950101266462,ปรับโครงสร้างหนี้_DR_Collection_15%,H
1,2025-03-09 00:00:00.000,5000161041003419,3300800674709,15611.0,15000.0,9.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
2,2025-03-09 00:00:00.000,7230410100429114,1401500153197,12224.0,10000.0,9.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,...,13,13,13,9,8,7,10.500000,NaN,NaN,H
3,2025-03-09 00:00:00.000,5000461011069133,1102001592652,10000.0,10000.0,6.0,SALES,2018-01-29 00:00:00.000,85.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
4,2025-03-09 00:00:00.000,5000159121088434,1100200920712,10250.0,10000.0,7.0,DRIVING,2016-12-28 00:00:00.000,98.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104833429,1910100097898,45000.0,45000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
5323432,2025-03-09 00:00:00.000,7250270104828777,1600100045670,17500.0,15000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D
5323433,2025-03-09 00:00:00.000,7250270104748231,3360101417316,25000.0,25000.0,10.0,GENERAL LABOR,2025-02-09 00:00:00.000,1.0,52.0,...,0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D
5323434,2025-03-09 00:00:00.000,7250170104643668,3800400133170,35000.0,35000.0,1.0,REGISTERED BUSINESS OWNER,2025-01-24 00:00:00.000,1.0,42.0,...,0,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D
5323435,2025-03-09 00:00:00.000,7250270104687667,3120600449126,17500.0,15000.0,8.0,SERVICE JOB,2025-02-01 00:00:00.000,1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D

In [40]:
data_cscore['FINAL_SCORE'] =data_cscore['TOTAL_DIGIT1'].astype(str) + data_cscore['TOTAL_DIGIT2'].astype(str) +'0'+ data_cscore['MOB'].astype(str)

In [41]:
data_cscore

,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,FLOORED_VALUE,OCCUPATION_TYPE,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,...,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1,Loan No_y,Project Code Name,TOTAL_DIGIT1,FINAL_SCORE
0,2025-03-09 00:00:00.000,7230950101266462,1709700073957,30000.0,30000.0,5.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,...,1,0,5,5,4,2.833333,7230950101266462,ปรับโครงสร้างหนี้_DR_Collection_15%,H,HH07
1,2025-03-09 00:00:00.000,5000161041003419,3300800674709,15611.0,15000.0,9.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
2,2025-03-09 00:00:00.000,7230410100429114,1401500153197,12224.0,10000.0,9.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,...,13,13,9,8,7,10.500000,NaN,NaN,H,HH07
3,2025-03-09 00:00:00.000,5000461011069133,1102001592652,10000.0,10000.0,6.0,SALES,2018-01-29 00:00:00.000,85.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
4,2025-03-09 00:00:00.000,5000159121088434,1100200920712,10250.0,10000.0,7.0,DRIVING,2016-12-28 00:00:00.000,98.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104833429,1910100097898,45000.0,45000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DM06
5323432,2025-03-09 00:00:00.000,7250270104828777,1600100045670,17500.0,15000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DH06
5323433,2025-03-09 00:00:00.000,7250270104748231,3360101417316,25000.0,25000.0,10.0,GENERAL LABOR,2025-02-09 00:00:00.000,1.0,52.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D,DM06
5323434,2025-03-09 00:00:00.000,7250170104643668,3800400133170,35000.0,35000.0,1.0,REGISTERED BUSINESS OWNER,2025-01-24 00:00:00.000,1.0,42.0,...,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D,DH06
5323435,2025-03-09 00:00:00.000,7250270104687667,3120600449126,17500.0,15000.0,8.0,SERVICE JOB,2025-02-01 00:00:00.000,1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DM06

In [42]:
data_cscore.groupby('FINAL_SCORE').size()

FINAL_SCORE
DH06         829980
DL06            631
DM06         579392
HH06            767
HH07          90686
HL06             29
HL07            439
HM06            468
HM07          31085
LH07         571811
LL07           2085
LM07         402998
MH07          10556
ML07             50
MM07           5924
OtherH07    1880199
OtherL07       1635
OtherM07     914701
dtype: int64

=====ย้อนหลัง====

In [345]:
data_cscore.columns

Index(['AS_OF_DATE', 'CONTRACT_NO', 'GROSS_INCOME', 'OCCUPATION_NAME',
       'CONTRACT_DATE', 'CONTRACT_PERIOD', 'AGE', 'MOB', 'DIGIT2INCOME',
       'DIGIT2AGE', 'DIGIT2JOB', 'TOTAL_DIGIT2', 'BUCKET_SCORE0mnt',
       'BUCKET_SCORE1mnt', 'BUCKET_SCORE2mnt', 'BUCKET_SCORE3mnt',
       'BUCKET_SCORE4mnt', 'BUCKET_SCORE5mnt', 'AVG_DIGIT1', 'TOTAL_DIGIT1',
       'Project Code Name', 'FINAL_SCORE'],
      dtype='object')

==

mapassign

In [44]:
file = glob.glob("./input/assisgn_data/*.xlsx") 
data_assign = pd.read_excel(file[0])

In [45]:
file[0].split('\\')[1]

"3.Total assign Mar'25 (1).xlsx"

In [48]:
data_assign.columns

Index(['Base date', 'Customer No', 'Customer ID No', 'Principal balance',
       'Total Unclaimed Amt.', 'Repayment Target Amount',
       'Overdue days(Morning)', 'Overdue Cnt(Morning)', 'Overdue days',
       'Num of Overdue months', 'Overdue Months Division Code', 'Corp. Info.',
       'Sales product code', 'Loan No.', 'Customer Name', 'Customer ID No.',
       'Mobile No.', 'Address(Home)', 'Post code', 'Phone No.(Home)',
       'Address(Office)', 'Post code.1', 'Biz phone No.',
       'Address (place of residence)', 'Post Code', 'Phone No.',
       'Delivery Address', 'Post code.2', 'Delivery phone No.',
       'Customer relationship', 'Related person', 'Phone No. 1',
       'Customer relationship.1', 'Related person.1', 'Phone No. 2',
       'Branch code', 'Outstanding Balance', 'Loan date', 'Installment Count',
       'Product Name', 'Last Money Received date', 'Last payment Amt.',
       'Loan Amt.', 'Principal', 'Monthly payment Amt.',
       ' First_Settlement_date', 'Last payment date', 'Billing interest Amt.',
       'Billing Credit Usage Amount', 'Overdue start date', 'Overdue Int.',
       'Overdue Credit Usage Amount', 'Collection Fee', 'Overdue Sum. Amt.',
       'Overdue Months Division Code.1', 'DOB', 'Marital status',
       'Phone No. 3', 'Company name', 'Company Extension No.',
       'Headquarter Phone No', 'Headquarter Extension No.', 'Monthly income',
       'Email Address', 'Next payment due date', 'Next Payment Amt',
       'Payment date', 'Total count', 'Number of deposit on 1st of month',
       'Number of deposit on/Before 5th of month',
       'Number of deposit before 24th of month',
       'Number of deposit before 25th of month',
       'Number of deposit at the end of month.', 'Last payment Amt..1',
       'Biz. industry code', 'Occupation', 'Sales product code.1',
       'Waived Processing Amt.(Xday)', 'Extend term changed count', 'Ever',
       'Product', 'Status LM', 'Old OA', 'New OA', 'Reason', 'Collector'],
      dtype='object')

In [53]:
data_assign = data_assign[['Loan No.','Old OA','New OA','Overdue Months Division Code']]
data_assign

,Loan No.,Old OA,New OA,Overdue Months Division Code,Overdue Months Division Code
0,7220730100003250,KOR,KOR,Grace_X-Day,Grace_X-Day
1,7221030100003286,NaN,Delay calling,Grace_X-Day,Grace_X-Day
2,7230340100241933,Delay calling,Delay calling,Grace_X-Day,Grace_X-Day
3,7230530100570947,PCN,KOR,OD2,OD2
4,7230940101310936,NaN,Delay calling,Grace_X-Day,Grace_X-Day
...,...,...,...,...,...
40416,7240450102627362,KWC,KWC,OD6,OD6
40417,7240550102879930,GMV,MMN,OD6,OD6
40418,7240750103341461,KWC,KWC,OD6,OD6
40419,7240650103061703,MMN,KWC,OD6,OD6
40420,7240550102882336,MGC,KWC,OD6,OD6

In [54]:
data_assign['Loan No.'] = data_assign['Loan No.'].astype(str)

In [55]:
data_assign

,Loan No.,Old OA,New OA,Overdue Months Division Code,Overdue Months Division Code
0,7220730100003250,KOR,KOR,Grace_X-Day,Grace_X-Day
1,7221030100003286,NaN,Delay calling,Grace_X-Day,Grace_X-Day
2,7230340100241933,Delay calling,Delay calling,Grace_X-Day,Grace_X-Day
3,7230530100570947,PCN,KOR,OD2,OD2
4,7230940101310936,NaN,Delay calling,Grace_X-Day,Grace_X-Day
...,...,...,...,...,...
40416,7240450102627362,KWC,KWC,OD6,OD6
40417,7240550102879930,GMV,MMN,OD6,OD6
40418,7240750103341461,KWC,KWC,OD6,OD6
40419,7240650103061703,MMN,KWC,OD6,OD6
40420,7240550102882336,MGC,KWC,OD6,OD6

In [56]:
data_cscore

,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,FLOORED_VALUE,OCCUPATION_TYPE,OCCUPATION_NAME,CONTRACT_DATE,CONTRACT_PERIOD,AGE,...,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1,Loan No_y,Project Code Name,TOTAL_DIGIT1,FINAL_SCORE
0,2025-03-09 00:00:00.000,7230950101266462,1709700073957,30000.0,30000.0,5.0,OFFICE WORK,2023-09-21 00:00:00.000,17.0,36.0,...,1,0,5,5,4,2.833333,7230950101266462,ปรับโครงสร้างหนี้_DR_Collection_15%,H,HH07
1,2025-03-09 00:00:00.000,5000161041003419,3300800674709,15611.0,15000.0,9.0,PRODUCTION LINE LABOR,2018-04-02 00:00:00.000,83.0,47.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
2,2025-03-09 00:00:00.000,7230410100429114,1401500153197,12224.0,10000.0,9.0,PRODUCTION LINE LABOR,2023-04-25 00:00:00.000,22.0,30.0,...,13,13,9,8,7,10.500000,NaN,NaN,H,HH07
3,2025-03-09 00:00:00.000,5000461011069133,1102001592652,10000.0,10000.0,6.0,SALES,2018-01-29 00:00:00.000,85.0,33.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
4,2025-03-09 00:00:00.000,5000159121088434,1100200920712,10250.0,10000.0,7.0,DRIVING,2016-12-28 00:00:00.000,98.0,30.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Other,OtherH07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7250270104833429,1910100097898,45000.0,45000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,37.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DM06
5323432,2025-03-09 00:00:00.000,7250270104828777,1600100045670,17500.0,15000.0,5.0,OFFICE WORK,2025-02-23 00:00:00.000,0.0,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DH06
5323433,2025-03-09 00:00:00.000,7250270104748231,3360101417316,25000.0,25000.0,10.0,GENERAL LABOR,2025-02-09 00:00:00.000,1.0,52.0,...,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D,DM06
5323434,2025-03-09 00:00:00.000,7250170104643668,3800400133170,35000.0,35000.0,1.0,REGISTERED BUSINESS OWNER,2025-01-24 00:00:00.000,1.0,42.0,...,0,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,D,DH06
5323435,2025-03-09 00:00:00.000,7250270104687667,3120600449126,17500.0,15000.0,8.0,SERVICE JOB,2025-02-01 00:00:00.000,1.0,63.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,DM06

In [57]:
cscore_assigned = data_assign.merge(data_cscore,left_on='Loan No.',right_on='CONTRACT_NO',how='left')

In [58]:
cscore_assigned.columns

Index(['Loan No.', 'Old OA', 'New OA', 'Overdue Months Division Code',
       'Overdue Months Division Code', 'AS_OF_DATE', 'CONTRACT_NO',
       'NATIONAL_ID', 'GROSS_INCOME', 'FLOORED_VALUE', 'OCCUPATION_TYPE',
       'OCCUPATION_NAME', 'CONTRACT_DATE', 'CONTRACT_PERIOD', 'AGE',
       'PRINCIPAL_BAL', 'MOB', 'DIGIT2INCOME', 'DIGIT2AGE', 'DIGIT2JOB',
       'TOTAL_DIGIT2', 'Loan No_x', 'BUCKET_SCORE0mnt', 'BUCKET_SCORE1mnt',
       'BUCKET_SCORE2mnt', 'BUCKET_SCORE3mnt', 'BUCKET_SCORE4mnt',
       'BUCKET_SCORE5mnt', 'AVG_DIGIT1', 'Loan No_y', 'Project Code Name',
       'TOTAL_DIGIT1', 'FINAL_SCORE'],
      dtype='object')

In [59]:
cscore_assigned

,Loan No.,Old OA,New OA,Overdue Months Division Code,Overdue Months Division Code,AS_OF_DATE,CONTRACT_NO,NATIONAL_ID,GROSS_INCOME,FLOORED_VALUE,...,BUCKET_SCORE1mnt,BUCKET_SCORE2mnt,BUCKET_SCORE3mnt,BUCKET_SCORE4mnt,BUCKET_SCORE5mnt,AVG_DIGIT1,Loan No_y,Project Code Name,TOTAL_DIGIT1,FINAL_SCORE
0,7220730100003250,KOR,KOR,Grace_X-Day,Grace_X-Day,2025-03-09 00:00:00.000,7220730100003250,3240900116555,12900.0,10000.0,...,0,0,0,0,0,0.000000,NaN,NaN,L,LH07
1,7221030100003286,NaN,Delay calling,Grace_X-Day,Grace_X-Day,2025-03-09 00:00:00.000,7221030100003286,3100700619422,42000.0,40000.0,...,0,0,0,0,0,0.000000,NaN,NaN,L,LM07
2,7230340100241933,Delay calling,Delay calling,Grace_X-Day,Grace_X-Day,2025-03-09 00:00:00.000,7230340100241933,3101300732206,17125.0,15000.0,...,0,0,0,0,0,0.000000,NaN,NaN,L,LH07
3,7230530100570947,PCN,KOR,OD2,OD2,2025-03-09 00:00:00.000,7230530100570947,3321200109131,23290.0,20000.0,...,1,0,0,0,0,0.500000,NaN,NaN,L,LM07
4,7230940101310936,NaN,Delay calling,Grace_X-Day,Grace_X-Day,2025-03-09 00:00:00.000,7230940101310936,3100503160974,45000.0,45000.0,...,0,0,0,0,0,0.000000,NaN,NaN,L,LM07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40416,7240450102627362,KWC,KWC,OD6,OD6,2025-03-09 00:00:00.000,7240450102627362,3450500230537,11195.0,10000.0,...,5,5,5,4,3,4.666667,7240450102627362,ปรับโครงสร้างหนี้_DR_Collection_15%,H,HH07
40417,7240550102879930,GMV,MMN,OD6,OD6,2025-03-09 00:00:00.000,7240550102879930,1910400006979,11000.0,10000.0,...,5,4,3,2,1,3.500000,7240550102879930,ปรับโครงสร้างหนี้_TDR_Collection_15%,H,HH07
40418,7240750103341461,KWC,KWC,OD6,OD6,2025-03-09 00:00:00.000,7240750103341461,1260300010989,9728.0,5000.0,...,5,4,3,2,1,3.500000,7240750103341461,ปรับโครงสร้างหนี้_PD_Collection_15%,H,HH07
40419,7240650103061703,MMN,KWC,OD6,OD6,2025-03-09 00:00:00.000,7240650103061703,5401300004930,9569.0,5000.0,...,5,4,3,2,1,3.500000,7240650103061703,ปรับโครงสร้างหนี้_DR_Collection_15%,H,HH07
40420,7240550102882336,MGC,KWC,OD6,OD6,2025-03-09 00:00:00.000,7240550102882336,1309801416420,10321.0,10000.0,...,5,4,3,2,1,3.500000,7240550102882336,ปรับโครงสร้างหนี้_TDR_Collection_15%,H,HH07

In [60]:
file = glob.glob("./input/assisgn_data/*.xlsx") 
file_path = file[0].split('\\')[1]

In [61]:
cscore_assigned.to_csv(f'./output/1assign_{file_path}.csv')

---

In [69]:
file = glob.glob("./input/acc_current/*.csv")

In [70]:
file[0].split('\\')[1]

'Acc_20250301_0830.csv'

In [66]:
file = re.sub(r'\.csv$', '', file[0].split('\\')[1])

In [67]:
file

'Acc_20250301_0830'