In [2]:
import pandas as pd
import glob

In [3]:
allfile = glob.glob("./input/*")

In [4]:
allfile

['./input\\02042025_Delay calling #1 - 2025-04-10_161902.csv',
 './input\\03042025_Delay calling #2 - 2025-04-10_161905.csv',
 './input\\04042025_Delay calling #3 - 2025-04-10_161805.csv',
 './input\\07042025_CCG_SF+ - 2025-04-10_154241.csv',
 './input\\09042025_CCG_SF+ - 2025-04-10_154236.csv']

In [5]:
rate = pd.read_csv('./rate.csv')

In [ ]:
 pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%B%Y')

In [ ]:
def summary(allfile) :
    
    allcost = pd.DataFrame() 
    for i in allfile :
        data = pd.read_csv(f'{i}')
        data_hangup = data.loc[data['Status'] == 'hangup']
        data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
        cost = data_hangup.groupby('date').agg(count=('No.', 'count')).reset_index()
        cost['key'] = 1
        rate['key'] = 1
        cross = pd.merge(cost, rate, on='key').drop('key', axis=1)
        filtered = cross[(cross['count'] > cross['minimum_rate']) & (cross['count'] < cross['maximum_rate'])]
        filtered['total_cost']=filtered['count']*filtered['ratepercall']
        allcost = pd.concat([allcost, filtered], ignore_index=True)
    return allcost

In [48]:
def summary_monthly(allfile):
    allcost = pd.DataFrame()

    for i in allfile:
        # Read the data from each file
        data = pd.read_csv(i)
        
        # Filter for 'hangup' status
        data_hangup = data[data['Status'] == 'hangup']
        
        # Format the date to 'YYYY-MM'
        data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')

        # Append the data to the allcost DataFrame
        allcost = pd.concat([allcost, data_hangup], ignore_index=True)

    # Group by 'date' and count the 'No.' occurrences
    cost = allcost.groupby('date').agg(count=('No.', 'count')).reset_index()

    # Merge with the rate table (assuming 'rate' is predefined or globally available)
    cost['key'] = 1
    rate['key'] = 1  # Ensure 'rate' is defined or passed in
    cross = pd.merge(cost, rate, on='key').drop('key', axis=1)

    # Filter based on minimum and maximum rate thresholds
    filtered = cross[(cross['count'] > cross['minimum_rate']) & (cross['count'] < cross['maximum_rate'])]

    # Calculate total cost
    filtered['total_cost'] = filtered['count'] * filtered['ratepercall']

    return filtered

In [49]:
summary_monthly(allfile)

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.strftime('%Y-%m')
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1362627027.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost'] = filtered['count'] * filtered['ratepercall']

      date  count  minimum_rate  maximum_rate  ratepercall  total_cost
0  2025-04   7928             0         15000          6.0     47568.0

In [ ]:
import

In [40]:
daily = summary(allfile,'daily')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']

In [41]:
daily

         date  count  minimum_rate  maximum_rate  ratepercall  total_cost
0  2025-04-02   1796             0         15000          6.0     10776.0
1  2025-04-03   2343             0         15000          6.0     14058.0
2  2025-04-04   1638             0         15000          6.0      9828.0
3  2025-04-07   1268             0         15000          6.0      7608.0
4  2025-04-09    883             0         15000          6.0      5298.0

In [42]:
monthly = summary(allfile,'monthly')

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.to_period('M').dt.to_timestamp()
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.to_period('M').dt.to_timestamp()
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.to_period('M').dt.to_timestamp()
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.to_period('M').dt.to_timestamp()
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.to_period('M').dt.to_timestamp()
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_25032\1635399992.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['ratepercall']

In [43]:
monthly

        date  count  minimum_rate  maximum_rate  ratepercall  total_cost
0 2025-04-01   1796             0         15000          6.0     10776.0
1 2025-04-01   2343             0         15000          6.0     14058.0
2 2025-04-01   1638             0         15000          6.0      9828.0
3 2025-04-01   1268             0         15000          6.0      7608.0
4 2025-04-01    883             0         15000          6.0      5298.0

In [18]:
data_hangup = data.loc[data['Status'] == 'hangup']

In [19]:
data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_10628\1504056248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_hangup['date'] = pd.to_datetime(data_hangup['Timestamp']).dt.date

In [20]:
data_hangup

,No.,Campaign name,Phone number,Attempts,Timestamp,Status,Duration,Payload,01_result,02_reason,03_consent,04_delivered,05_utterance,06_new_number,07_callback,08_duedate_status,date
1,2,07042025_CCG_SF+,878799998,2,2025-04-07 15:38:30,hangup,90.0,"first_name | ณัฐวุฒิ, last_name | เขียวคีรี, d...",ptp,minimum,Y,Y,"จาก ไหน ครับ, ใช่ ครับ ใช่ ครับ นะ โทษ ครับ, ข...",NaN,NaN,overdue,2025-04-07
2,3,07042025_CCG_SF+,952123726,1,2025-04-07 12:40:08,hangup,74.0,"first_name | คมสันต์, last_name | วิจารย์, due...",ptp,ptp,Y,Y,"ครับ, อัน นี้ อะไร ครับ, ใช่ ครับ อัน นี้ คือ ...",NaN,NaN,overdue,2025-04-07
3,4,07042025_CCG_SF+,870772182,1,2025-04-07 12:40:19,hangup,90.0,"first_name | ยงยุทธ, last_name | เมธัส, due | ...",refused,convince,Y,Y,"ครับ, ไม่ มี ตังค์ ล่ะ ครับ, ไม่ ได้ ไม่ มี จั...",NaN,NaN,overdue,2025-04-07
5,6,07042025_CCG_SF+,996616552,1,2025-04-07 12:40:19,hangup,94.0,"first_name | กิตติวัฒน์, last_name | ต้นทับไทย...",ptp,minimum,Y,Y,"ครับ, สอง สาม วัน ครับ, ครับ",NaN,NaN,overdue,2025-04-07
6,7,07042025_CCG_SF+,884219015,2,2025-04-07 15:38:24,hangup,57.0,"first_name | ฐาปกรณ์, last_name | พรมสี, due |...",ptp,ptp,Y,Y,"ครับ, ครับ",NaN,NaN,overdue,2025-04-07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3329,3330,07042025_CCG_SF+,992400005,1,2025-04-07 15:37:27,hangup,25.0,"first_name | กิติกร, last_name | เดชโยธา, due ...",reached,NaN,Y,NaN,อยู่ บน นะ คะ,NaN,NaN,overdue,2025-04-07
3333,3334,07042025_CCG_SF+,981879633,1,2025-04-07 15:37:34,hangup,40.0,"first_name | สาโรจน์, last_name | อำมวัณ, due ...",ptp,ptp,Y,Y,"ครับ, มา เลย ครับ",NaN,NaN,overdue,2025-04-07
3334,3335,07042025_CCG_SF+,932224088,1,2025-04-07 15:37:40,hangup,23.0,"first_name | พงศกร, last_name | นาเขียว, due |...",unreachable,voicemail,NaN,NaN,ฝาก หมายเลข นี้ กด หนึ่ง ฝาก หมายเลข โทร กลับ ...,NaN,NaN,overdue,2025-04-07
3339,3340,07042025_CCG_SF+,931295723,1,2025-04-07 15:38:09,hangup,130.0,"first_name | วันทอง, last_name | สอนพิมพ์, due...",refused,convince,Y,Y,"ใช่ ค่ะ, ไม่ ขอ ถาม ก่อน นี่ เครื่อง เรื่อง อะ...",NaN,NaN,overdue,2025-04-07
3341,3342,07042025_CCG_SF+,824459153,1,2025-04-07 15:38:19,hangup,11.0,"first_name | ศุรดา, last_name | ภรัณยาวริศา, d...",unreachable,abandon,NaN,NaN,NaN,NaN,NaN,overdue,2025-04-07

In [25]:
cost = data_hangup.groupby('date').agg({
    'No.': 'count',
}).reset_index()

In [22]:
rate = pd.read_csv('./rate.csv')

In [23]:
rate

   minimum_rate  maximum_rate  bath
0             0         15000   6.0
1         15001         50000   5.5
2         50001        100000   5.0
3        100001       1000000   4.5

In [38]:
cost = cost.rename(columns={'No.': 'count'})

In [39]:
cost

         date  count  key
0  2025-04-07   1268    1

In [40]:
cost['key'] = 1
rate['key'] = 1

In [41]:
cross =pd.merge(cost, rate, on='key').drop('key', axis=1)

In [42]:
cross

         date  count  minimum_rate  maximum_rate  bath
0  2025-04-07   1268             0         15000   6.0
1  2025-04-07   1268         15001         50000   5.5
2  2025-04-07   1268         50001        100000   5.0
3  2025-04-07   1268        100001       1000000   4.5

In [43]:
filtered = cross[(cross['count'] > cross['minimum_rate']) & (cross['count'] < cross['maximum_rate'])]

In [46]:
filtered['total_cost']=filtered['count']*filtered['bath']

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_10628\493775014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered['total_cost']=filtered['count']*filtered['bath']

In [47]:
filtered

         date  count  minimum_rate  maximum_rate  bath  total_cost
0  2025-04-07   1268             0         15000   6.0      7608.0