In [2]:
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
import jaydebeapi
import re

In [3]:
import pandas as pd
import glob
import numpy as np
import re
from utils import read_file,clean_column_names,assign_to_oa
pd.set_option('display.float_format', '{:.0f}'.format)

In [4]:
assigned_path  = glob.glob("./input/assigned/*") 
assigned_path[0]

'./input/assigned/oa_proportion.xlsx'

In [5]:
glob.glob("./input/assigned/*")[0].split('/')[-1]

'oa_proportion.xlsx'

In [6]:
assigned_path  = glob.glob("./input/assigned/*")[0].split('/')[-1]
assigned_path

'oa_proportion.xlsx'

In [7]:
pd.set_option('display.float_format', '{:.0f}'.format)

In [8]:
oa_proportion = read_file('./input/assigned/',assigned_path)
oa_proportion

,Product,Bucket,No. of OA,Rank,%Assign,OA,group,assign_type
0,H4C,XDAY,1,-,1,In-House,1,assign_all
1,H4C,OD1-OD2,1,-,1,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,2,1,1,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,NaN,2,0,PCN,3,save_old_assign_new
4,SF+,XDAY,1,-,1,In-House,4,assign_all
5,SF+,OD1-OD2,1,-,1,In-House,5,assign_all
6,SF+,NPL,5,1,0,THAS,6,save_old_assign_new
7,SF+,NPL,NaN,2,0,LBR,6,save_old_assign_new
8,SF+,NPL,NaN,3,0,ASJ,6,save_old_assign_new
9,SF+,NPL,NaN,4,0,WSP,6,save_old_assign_new
10,SF+,NPL,NaN,4,0,PCN,6,save_old_assign_new
11,SF+,NPL,NaN,5,0,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,7,1,0,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,NaN,2,0,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,NaN,3,0,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,NaN,4,0,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,NaN,5,0,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,NaN,6,0,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,NaN,7,0,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,5,1,0,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,NaN,2,0,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,NaN,3,0,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,NaN,4,0,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,NaN,5,0,MGC,8,save_old_assign_new

In [9]:
oa_proportion['%Assign'] = oa_proportion['%Assign'].apply(lambda x: "{:.2f}".format(x) if pd.notna(x) else "NaN")

In [10]:
oa_proportion = clean_column_names(oa_proportion)

In [11]:
oa_proportion

,product,bucket,no_of_oa,rank,%assign,oa,group,assign_type
0,H4C,XDAY,1,-,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1,-,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,2,1,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,NaN,2,0.40,PCN,3,save_old_assign_new
4,SF+,XDAY,1,-,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1,-,1.00,In-House,5,assign_all
6,SF+,NPL,5,1,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,NaN,2,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,NaN,3,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,NaN,4,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,NaN,4,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,NaN,5,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,7,1,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,NaN,2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,NaN,3,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,NaN,4,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,NaN,5,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,NaN,6,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,NaN,7,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,5,1,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,NaN,2,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,NaN,3,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,NaN,4,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,NaN,5,0.10,MGC,8,save_old_assign_new

In [12]:
map_criteria = oa_proportion[['product','bucket','group','assign_type']].drop_duplicates(subset=['product', 'bucket','group','assign_type'])

In [13]:
map_criteria

     product                            bucket  group            assign_type
0        H4C                              XDAY      1             assign_all
1        H4C                           OD1-OD2      2             assign_all
2        C4C  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3    save_old_assign_new
4        SF+                              XDAY      4             assign_all
5        SF+                           OD1-OD2      5             assign_all
6        SF+                               NPL      6    save_old_assign_new
12  RL ML TL                      XDAY-OD1-OD2      7  assign_old_assign_new
19  RL ML TL                   OD3-OD4-OD5-OD6      8    save_old_assign_new

In [14]:
ar_path = glob.glob("./input/AR/*")[0].split('/')[-1] 
ar = read_file('./input/AR/',ar_path)
ar = clean_column_names(ar)

In [15]:
ar

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,occupation,sales_product_code1,waived_processing_amt(xday),extend_term_changed_count,ever,product,status_lm,old_oa,new_oa,reason
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,7:DRIVING,A301:RL,0,0,N,RL ML TL,SAVE,KOR,Delay calling,NaN
1,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
2,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,7:DRIVING,A401:ML,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
3,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,5:OFFICE WORK,A301:RL,0,0,N,RL ML TL,UNSAVE,PCN,KOR,NaN
4,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,5:OFFICE WORK,A401:ML,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,UNSAVE,ACT,PCN,NaN
38109,02-03-2568,12170059023,3800900578278,20233,0,620,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38110,02-03-2568,12160033410,3820800162096,46587,0,1398,1,1,1,1,...,10:GENERAL LABOR,A301:RL,0,0,N,RL ML TL,SAVE,Delay calling,Delay calling,NaN
38111,02-03-2568,12170041240,1910500035091,62978,0,4154,60,3,60,3,...,8:SERVICE JOB,A301:RL,0,0,N,RL ML TL,SAVE,DHA,DHA,NaN
38112,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,6:SALES,A301:RL,0,0,N,RL ML TL,NEW,NaN,Delay calling,NaN

In [582]:
import os

In [16]:
def read_file(pathfile,filename):
    if filename:
        if filename.endswith(".xlsx"):
            file = pd.read_excel(f'{pathfile}{filename}', dtype={'%Assign': float})
        elif filename.endswith(".csv"):
            file = pd.read_csv(f'{pathfile}{filename}')
        return file  
    # print(assign.head())  # Display first few rows
    else:
        print("No file found in the folder.")

In [17]:
oa_proportion

,product,bucket,no_of_oa,rank,%assign,oa,group,assign_type
0,H4C,XDAY,1,-,1.00,In-House,1,assign_all
1,H4C,OD1-OD2,1,-,1.00,JMT,2,assign_all
2,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,2,1,0.60,DHA,3,save_old_assign_new
3,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,NaN,2,0.40,PCN,3,save_old_assign_new
4,SF+,XDAY,1,-,1.00,In-House,4,assign_all
5,SF+,OD1-OD2,1,-,1.00,In-House,5,assign_all
6,SF+,NPL,5,1,0.20,THAS,6,save_old_assign_new
7,SF+,NPL,NaN,2,0.18,LBR,6,save_old_assign_new
8,SF+,NPL,NaN,3,0.17,ASJ,6,save_old_assign_new
9,SF+,NPL,NaN,4,0.16,WSP,6,save_old_assign_new
10,SF+,NPL,NaN,4,0.15,PCN,6,save_old_assign_new
11,SF+,NPL,NaN,5,0.14,MGC,6,save_old_assign_new
12,RL ML TL,XDAY-OD1-OD2,7,1,0.22,PCN,7,assign_old_assign_new
13,RL ML TL,XDAY-OD1-OD2,NaN,2,0.20,ACT,7,assign_old_assign_new
14,RL ML TL,XDAY-OD1-OD2,NaN,3,0.18,In-House,7,assign_old_assign_new
15,RL ML TL,XDAY-OD1-OD2,NaN,4,0.12,DHA,7,assign_old_assign_new
16,RL ML TL,XDAY-OD1-OD2,NaN,5,0.11,KOR,7,assign_old_assign_new
17,RL ML TL,XDAY-OD1-OD2,NaN,6,0.09,KWC,7,assign_old_assign_new
18,RL ML TL,XDAY-OD1-OD2,NaN,7,0.08,MMN,7,assign_old_assign_new
19,RL ML TL,OD3-OD4-OD5-OD6,5,1,0.30,KWC,8,save_old_assign_new
20,RL ML TL,OD3-OD4-OD5-OD6,NaN,2,0.25,MMN,8,save_old_assign_new
21,RL ML TL,OD3-OD4-OD5-OD6,NaN,3,0.20,UPC,8,save_old_assign_new
22,RL ML TL,OD3-OD4-OD5-OD6,NaN,4,0.15,GMV,8,save_old_assign_new
23,RL ML TL,OD3-OD4-OD5-OD6,NaN,5,0.10,MGC,8,save_old_assign_new

In [18]:
ar['product_val'] =  ar['sales_product_code'].str.extract(r':\s*(.*)').replace(r'\b(RL|ML|TL)\b', 'RL ML TL', regex=True)

In [19]:
ar.groupby('product_val').size()

product_val
C4C           721
H4C           304
RL ML TL    37088
dtype: int64

In [20]:
ar_merge = ar.merge(map_criteria,left_on='product_val',right_on = 'product', suffixes=('_df1', '_df2'))

In [21]:
ar_merge.columns

Index(['base_date', 'customer_no', 'customer_no', 'principal_balance',
       'total_unclaimed_amt', 'repayment_target_amount',
       'overdue_days(morning)', 'overdue_cnt(morning)', 'overdue_days',
       'num_of_overdue_months', 'overdue_months_division_code', 'corp_info',
       'sales_product_code', 'contract_no', 'customer_name', 'customer_no',
       'mobile_no', 'address(home)', 'post_code', 'phone_no(home)',
       'address(office)', 'post_code1', 'biz_phone_no',
       'address_(place_of_residence)', 'post_code', 'phone_no',
       'delivery_address', 'post_code2', 'delivery_phone_no',
       'customer_relationship', 'related_person', 'phone_no_1',
       'customer_relationship1', 'related_person1', 'phone_no_2',
       'branch_code', 'outstanding_balance', 'loan_date', 'installment_count',
       'product_name', 'last_money_received_date', 'last_payment_amt',
       'loan_amt', 'principal', 'monthly_payment_amt',
       '_first_settlement_date', 'last_payment_date', 'billing_interest_amt',
       'billing_credit_usage_amount', 'overdue_start_date', 'overdue_int',
       'overdue_credit_usage_amount', 'collection_fee', 'overdue_sum_amt',
       'overdue_months_division_code1', 'dob', 'marital_status', 'phone_no_3',
       'company_name', 'company_extension_no', 'headquarter_phone_no',
       'headquarter_extension_no', 'monthly_income', 'email_address',
       'next_payment_due_date', 'next_payment_amt', 'payment_date',
       'total_count', 'number_of_deposit_on_1st_of_month',
       'number_of_deposit_on/before_5th_of_month',
       'number_of_deposit_before_24th_of_month',
       'number_of_deposit_before_25th_of_month',
       'number_of_deposit_at_the_end_of_month', 'last_payment_amt1',
       'biz_industry_code', 'occupation', 'sales_product_code1',
       'waived_processing_amt(xday)', 'extend_term_changed_count', 'ever',
       'product_df1', 'status_lm', 'old_oa', 'new_oa', 'reason', 'product_val',
       'product_df2', 'bucket', 'group', 'assign_type'],
      dtype='object')

In [23]:
ar_merge  = ar_merge[ar_merge.apply(lambda row: row['overdue_months_division_code'] in row['bucket'], axis=1)]

In [114]:
ar_merge['product_abbr'] = ar_merge['sales_product_code'].str.extract(r':\s*(.*)')

In [115]:
ar_merge

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,product_abbr
0,02-03-2568,14220046109,3240900116555,23542,0,706,1,1,1,1,...,SAVE,KOR,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,RL
2,02-03-2568,14220082584,3100700619422,82466,0,2474,1,1,1,1,...,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,RL
4,02-03-2568,14230283551,3101300732206,424,0,432,1,1,1,1,...,SAVE,Delay calling,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,ML
6,02-03-2568,14230554514,3321200109131,33990,0,2639,60,3,60,3,...,UNSAVE,PCN,KOR,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,RL
8,02-03-2568,14220054168,3100503160974,10234,0,1405,1,1,1,1,...,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,ML
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75500,02-03-2568,14231032618,2930200008917,505327,0,12122,1,1,1,1,...,SAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
75501,02-03-2568,13210013275,3930400198475,150227,0,6710,1,1,1,1,...,SAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
75502,02-03-2568,14231218448,1930800009452,535445,0,24540,29,2,29,2,...,SAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
75503,02-03-2568,14231244945,3900900186751,518365,0,35217,60,3,60,3,...,SAVE,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
75504,02-03-2568,14230366869,3361000027246,255537,0,40002,121,5,121,5,...,UNSAVE,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C

-----

In [117]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]

/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/3980200684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']

In [118]:
assign_new

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,product_abbr
0,02-03-2568,14231270722,1411200124914,30430,0,3121,91,4,91,4,...,UNSAVE,ACT,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL
1,02-03-2568,14231131639,3550100663061,38490,0,5593,152,6,152,6,...,UNSAVE,UPC,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL
2,02-03-2568,14230811532,3540200605101,13804,0,9945,182,7,182,7,...,UNSAVE,MMN,UPC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,ML
4,02-03-2568,14230473521,1209601351767,7025,0,5418,91,4,91,4,...,UNSAVE,KOR,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,ML
5,02-03-2568,14220142963,1330900278795,37955,0,3581,91,4,91,4,...,UNSAVE,DHA,GMV,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5061,02-03-2568,11200000648,1909802397555,45758,0,5398,1,1,1,1,...,NEW,NaN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
5072,02-03-2568,14231203384,3929900048501,305021,0,7784,1,1,1,1,...,NEW,NaN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
5073,02-03-2568,14230750759,1910600070379,200724,0,12796,29,2,29,2,...,UNSAVE,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
5077,02-03-2568,14230621305,1920500088519,428218,0,19316,29,2,29,2,...,UNSAVE,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C
5084,02-03-2568,14230366869,3361000027246,255537,0,40002,121,5,121,5,...,UNSAVE,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C

-----

In [278]:
def split_dataframe_by_group(df, group_column, prefix):
    # Get unique values in the specified group column
    unique_values = df[group_column].unique()
    
    # Create a list to store the names of the created DataFrames
    dataframe_names = []
    
    # Create separate dataframes for each unique value in the group column
    for value in unique_values:
        df_name = f"{prefix}_{value}"
        globals()[df_name] = df[df[group_column] == value]
        dataframe_names.append(df_name)
    
    # Print the name of each created dataframe
    # for df_name in dataframe_names:
        # print(f"Dataframe name: {df_name}")
        # Uncomment the next line to print the dataframe contents
        # print(globals()[df_name], "\n")
    
    # Return the list of DataFrame names
    return dataframe_names

In [ ]:
# def assign_to_oa(df_toassign) : 
#     # print('df_toassign',len(df_toassign))
#     # List to store the concatenated dataframes
#     oa_list = split_dataframe_by_group(oa_proportion, 'group', 'oa')
#     ar_list = split_dataframe_by_group(df_toassign, 'group', 'ar')
#     # print(ar_list)
#     dataframes_oa = {name: globals()[name] for name in oa_list}
#     dataframes_ar = {name: globals()[name] for name in ar_list}
#     combined_dfs = []

#     # Iterate through each ar dataframe in dataframes_ar
#     for i in dataframes_ar:
#         ar_df = dataframes_ar[i]
#         # print(i)
#         # print(ar_df)

#         order = i[-1]  # Extract the last character of the first element for 'order'
#         # print('order', order)
        
#         df_y = ar_df.loc[ar_df['ever'] == 'Y']  # Filter rows where 'ever' == 'Y'
#         df_n = ar_df.loc[ar_df['ever'] == 'N']  # Filter rows where 'ever' == 'N'
        
#         size_y = df_y['contract_no'].count()  # Count of 'Y' contracts
#         size_n = df_n['contract_no'].count()  # Count of 'N' contracts
        
#         # Get the corresponding OA dataframe based on order
#         oa = dataframes_oa[f'oa_{order}']
        
#         # Assign values randomly based on the OA assignment probabilities
#         df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
#         df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
        
#         # Combine the 'Y' and 'N' dataframes
#         assigned_df = pd.concat([df_y, df_n], ignore_index=True)
        
#         # Store the concatenated dataframe in the list
#         combined_dfs.append(assigned_df)

#     # Concatenate all the combined dataframes into one final dataframe
#     final_df = pd.concat(combined_dfs, ignore_index=True)

#     # Optionally, assign the final concatenated dataframe to a dynamic variable
#     globals()['df_assign_all'] = final_df

#     # Print the final dataframe
#     # print(final_df)
#     return final_df

In [279]:
def assign_to_oa(df_toassign) : 
    # print('df_toassign',len(df_toassign))
    # List to store the concatenated dataframes
    oa_list = split_dataframe_by_group(oa_proportion, 'group', 'oa')
    ar_list = split_dataframe_by_group(df_toassign, 'group', 'ar')
    # print(ar_list)
    dataframes_oa = {name: globals()[name] for name in oa_list}
    # print('dataframes_oa',dataframes_oa)
    dataframes_ar = {name: globals()[name] for name in ar_list}
    # print('dataframes_ar',dataframes_ar)
    combined_dfs = []

    # Iterate through each ar dataframe in dataframes_ar
    for i in dataframes_ar:
        ar_df = dataframes_ar[i]
        # print(i)
        # print(ar_df)

        order = i[-1]  # Extract the last character of the first element for 'order'
        size = ar_df['contract_no'].count()  # Count of 'Y' contracts
        print('size',size)
        oa = dataframes_oa[f'oa_{order}']
        print('oa',oa)
        ar_df['assigned'] = np.random.choice(oa['oa'], size=size, p=oa['%assign'])        
        assigned_df = ar_df
        combined_dfs.append(assigned_df)
    final_df = pd.concat(combined_dfs, ignore_index=True)
    print('final_df',final_df)
    # globals()['df_assign_all'] = final_df
    # print('globals()[df_assign_all]',globals()['df_assign_all'])
    # Print the final dataframe
    # print(final_df)
    return final_df

In [ ]:
# def splitassign(sorted_df):
#     if sorted_df.empty:  # Handle empty DataFrame case
#         return pd.DataFrame()

#     num_records = len(sorted_df)
    
#     if num_records < 50:
#         split_count = 1  # No split
#     elif num_records < 200:
#         split_count = 5
#     else:
#         split_count = 12
    
#     split_dfs = np.array_split(sorted_df, split_count)
    
#     updated_dfs = [assign_to_oa(split_df) for split_df in split_dfs if not split_df.empty]
#     print(updated_dfs)

#     return pd.concat(updated_dfs, ignore_index=True) if updated_dfs else pd.DataFrame()

In [ ]:
# def assign_group(principle_value):
#     if 0 <= principle_value <= 5000:
#         return 1
#     elif 5001 <=  principle_value <= 20000:
#         return 2
#     elif 20001 <=  principle_value <= 60000:
#         return 3
#     elif 60001 <=  principle_value <= 120000:
#             return 4
#     else:
#         return 5  # Default group if outside the specified ranges

In [ ]:
# def splitassign(sorted_df):
#     if sorted_df.empty:  # Handle empty DataFrame case
#         return pd.DataFrame()
    
#     sorted_df['group_split'] = sorted_df['principal_balance'].apply(assign_group)
#     # print('grouped_dfs',sorted_adf)
#     grouped_dfs = [group for _, group in sorted_df.groupby('group_split')]
#     # print('grouped_dfs',grouped_dfs)
#     updated_dfs = [assign_to_oa(group_df) for group_df in grouped_dfs if not group_df.empty]
#     print('updated_dfs',updated_dfs)
#     return pd.concat(updated_dfs, ignore_index=True) if updated_dfs else pd.DataFrame()

In [ ]:
# def loopbyassign(dfassign):
#     # dfassign['product_abbr'].unique()
#     unique_product = dfassign['product_abbr'].unique() 
#     product_list = [] 
#     for product in unique_product :
#         product_subset = dfassign[dfassign['product_abbr'] == product ]
#         assigned_list = []  # Store results in a list to optimize concatenation
#         unique_overdue = product_subset['overdue_months_division_code'].unique()
#         for overdue  in unique_overdue:
#             print('Processing code:', overdue )
#             overdue_subset = product_subset[product_subset['overdue_months_division_code'] == overdue ]
#             df_y = overdue_subset.query("ever == 'Y'").sort_values(by='principal_balance', ascending=False)
#             df_n = overdue_subset.query("ever == 'N'").sort_values(by='principal_balance', ascending=False)    
#             df_assign_y = splitassign(df_y)
#             df_assign_n = splitassign(df_n)
#             assigned_list.append(pd.concat([df_assign_y, df_assign_n], ignore_index=True))
#         assign_subset = pd.concat(assigned_list, ignore_index=True) if assigned_list else pd.DataFrame()
        
#     product_list.append(assign_subset, ignore_index=True)
#     return  pd.concat(product_list, ignore_index=True) if assigned_list else pd.DataFrame()

In [285]:
def loopbyassign(dfassign):
    unique_product = dfassign['product_abbr'].unique()
    product_list = []

    for product in unique_product:
        print('product code:', product)
        product_subset = dfassign[dfassign['product_abbr'] == product]
        assigned_list = []

        for overdue in product_subset['overdue_months_division_code'].unique():
            print('Processing code:', overdue)
            overdue_subset = product_subset[product_subset['overdue_months_division_code'] == overdue]

            df_y = overdue_subset.query("ever == 'Y'").sort_values(by='principal_balance', ascending=False)
            df_n = overdue_subset.query("ever == 'N'").sort_values(by='principal_balance', ascending=False)

            df_assign_y = assign_to_oa(df_y) if not df_y.empty else pd.DataFrame()
            df_assign_n = assign_to_oa(df_n) if not df_n.empty else pd.DataFrame()

            assigned_list.append(pd.concat([df_assign_y, df_assign_n], ignore_index=True))

        if assigned_list:
            assign_subset = pd.concat(assigned_list, ignore_index=True)
            product_list.append(assign_subset)

    return pd.concat(product_list, ignore_index=True) if product_list else pd.DataFrame()

In [286]:
loopbyassign(assign_new)

product code: RL
Processing code: OD3
size 223
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12180051412  3730200338275             324387
1    02-03-2568  12180044964  3341700320558             142817
2    02-03-2568  12180051182  3720400703988             136184
3    02-03-2568  12170000277  1100200733343             135134
4    02-03-2568  12160022658  3100201303616             128893
..          ...          ...            ...                ...
218  02-03-2568  12180007586  1159900085580               7146
219  02-03-2568  12180006089  1104000018407               6827
220  02-03-2568  12160031288  3610400067241               6497
221  02-03-2568  12180004906  1103100116124               5485
222  02-03-2568  12170055383  3520800561376               1789

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    21963                     91
1                      0                    12842                     91
2                      0                    11809                     91
3                      0                     8469                     91
4                      0                    11229                     91
..                   ...                      ...                    ...
218                    0                      751                     91
219                    0                      660                     91
220                    0                      693                     91
221                    0                      649                     91
222                    0                      403                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       KOR
1                       4            91                      4  ...       KOR
2                       4            91                      4  ...       KOR
3                       4            91                      4  ...       MMN
4                       4            91                      4  ...       KWC
..                    ...           ...                    ...  ...       ...
218                     4            91                      4  ...       ACT
219                     4            91                      4  ...       KOR
220                     4            91                      4  ...  In-House
221                     4            91                      4  ...       ACT
222                     4            91                      4  ...       KOR

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
218    MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
219    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
220    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
221    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
222    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       MMN
1    save_old_assign_new            RL       KWC
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       UPC
4    save_old_assign_new            RL       MMN
..                   ...           ...       ...
218  save_old_assign_new            RL       UPC
219  save_old_assign_new            RL       KWC
220  save_old_assign_new            RL       MMN
221  save_old_assign_new            RL       MGC
222  save_old_assign_new            RL       GMV

[223 rows x 92 columns]
size 988
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  14220124560  3520300582137             209801
1    02-03-2568  14242101979  3610700057691             199932
2    02-03-2568  14231411526  1329900171221             199109
3    02-03-2568  14220090602  3110101303924             176273
4    02-03-2568  14230606200  3141100357436             174901
..          ...          ...            ...                ...
983  02-03-2568  12180012210  1301500226489               2093
984  02-03-2568  12180024075  1461200146055               1645
985  02-03-2568  12180009298  1200101741487               1613
986  02-03-2568  14220060367  1350300156257                999
987  02-03-2568  12170060351  5120100083021                899

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    18483                     91
1                      0                    18884                     91
2                      0                    18180                     91
3                      0                    16650                     91
4                      0                    15942                     91
..                   ...                      ...                    ...
983                    0                      405                     91
984                    0                      408                     91
985                    0                      401                     91
986                    0                      363                     91
987                    0                      354                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       MMN
1                       4            91                      4  ...       KWC
2                       4            91                      4  ...       PCN
3                       4            91                      4  ...  In-House
4                       4            91                      4  ...       PCN
..                    ...           ...                    ...  ...       ...
983                     4            91                      4  ...       KOR
984                     4            91                      4  ...       ACT
985                     4            91                      4  ...       KOR
986                     4            91                      4  ...  In-House
987                     4            91                      4  ...       ACT

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
983    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
984    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
985    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
986    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
987    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       UPC
1    save_old_assign_new            RL       MMN
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       MGC
4    save_old_assign_new            RL       KWC
..                   ...           ...       ...
983  save_old_assign_new            RL       UPC
984  save_old_assign_new            RL       KWC
985  save_old_assign_new            RL       UPC
986  save_old_assign_new            RL       KWC
987  save_old_assign_new            RL       UPC

[988 rows x 92 columns]
Processing code: OD5
size 201
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160023110  3100902824566             433667
1    02-03-2568  12180040685  3170100125640             215419
2    02-03-2568  12180040353  3150600551079             200550
3    02-03-2568  12180051522  3730600517797             193363
4    02-03-2568  12210001386  3102000135262             162837
..          ...          ...            ...                ...
196  02-03-2568  12180000833  1100500482061               2747
197  02-03-2568  12170015520  1309901300008               2685
198  02-03-2568  12170000657  1100400492846               2586
199  02-03-2568  12180046167  3410400679591               2356
200  02-03-2568  12200000949  1959800076336               1060

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    52058                    152
1                      0                    26871                    152
2                      0                    23429                    152
3                      0                    25150                    152
4                      0                    20854                    152
..                   ...                      ...                    ...
196                    0                      543                    152
197                    0                      581                    152
198                    0                      571                    152
199                    0                      547                    152
200                    0                      411                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    MMN
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    UPC
3                       6           152                      6  ...    MGC
4                       6           152                      6  ...    GMV
..                    ...           ...                    ...  ...    ...
196                     6           152                      6  ...    KWC
197                     6           152                      6  ...    KWC
198                     6           152                      6  ...    KWC
199                     6           152                      6  ...    KWC
200                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
196    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
197    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
198    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
199    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
200    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       KWC
1    save_old_assign_new            RL       KWC
2    save_old_assign_new            RL       MGC
3    save_old_assign_new            RL       GMV
4    save_old_assign_new            RL       GMV
..                   ...           ...       ...
196  save_old_assign_new            RL       MGC
197  save_old_assign_new            RL       KWC
198  save_old_assign_new            RL       GMV
199  save_old_assign_new            RL       GMV
200  save_old_assign_new            RL       KWC

[201 rows x 92 columns]
size 848
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12210001500  3130200523108             730781
1    02-03-2568  12210001309  3101200393965             407958
2    02-03-2568  14230666847  3660500415438             379961
3    02-03-2568  14220062504  3419900439415             345604
4    02-03-2568  12180037944  3101701424022             266987
..          ...          ...            ...                ...
843  02-03-2568  14230430603  1619900350459               3839
844  02-03-2568  14230352891  3471000206794               3685
845  02-03-2568  14230813297  1104300427558               3636
846  02-03-2568  12180014817  1321000248122               3245
847  02-03-2568  14230267618  1601300020639               1925

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    77512                    152
1                      0                    50316                    152
2                      0                    51662                    152
3                      0                    46992                    152
4                      0                    32282                    152
..                   ...                      ...                    ...
843                    0                      650                    152
844                    0                      646                    152
845                    0                      633                    152
846                    0                      637                    152
847                    0                      499                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    KWC
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    GMV
3                       6           152                      6  ...    UPC
4                       6           152                      6  ...    KWC
..                    ...           ...                    ...  ...    ...
843                     6           152                      6  ...    KWC
844                     6           152                      6  ...    KWC
845                     6           152                      6  ...    KWC
846                     6           152                      6  ...    KWC
847                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
843    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
844    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
845    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
846    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
847    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       GMV
1    save_old_assign_new            RL       UPC
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       KWC
4    save_old_assign_new            RL       UPC
..                   ...           ...       ...
843  save_old_assign_new            RL       UPC
844  save_old_assign_new            RL       KWC
845  save_old_assign_new            RL       KWC
846  save_old_assign_new            RL       KWC
847  save_old_assign_new            RL       MMN

[848 rows x 92 columns]
Processing code: OD4
size 204
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160030430  3520300034342             280544
1    02-03-2568  12210000948  1640900051542             207030
2    02-03-2568  12180047621  3470100179208             188098
3    02-03-2568  12190001865  3401000457711             177005
4    02-03-2568  12150000394  3120200087863             156684
..          ...          ...            ...                ...
199  02-03-2568  12170051950  3350800203153               3761
200  02-03-2568  12180011043  1250200241822               3537
201  02-03-2568  12180049521  3610600231436               3244
202  02-03-2568  12170016038  1310700201004               2944
203  02-03-2568  12180012838  1309900721476               2113

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    29306                    121
1                      0                    19997                    121
2                      0                    20788                    121
3                      0                    18196                    121

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,product_abbr,assigned
0,02-03-2568,12180051412,3730200338275,324387,0,21963,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,MMN
1,02-03-2568,12180044964,3341700320558,142817,0,12842,91,4,91,4,...,KOR,MGC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,KWC
2,02-03-2568,12180051182,3720400703988,136184,0,11809,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,KWC
3,02-03-2568,12170000277,1100200733343,135134,0,8469,91,4,91,4,...,MMN,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,UPC
4,02-03-2568,12160022658,3100201303616,128893,0,11229,91,4,91,4,...,KWC,UPC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,MMN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,02-03-2568,14220090414,3400100937692,337919,0,76346,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4123,02-03-2568,14230796185,3460200051009,306857,0,47923,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,DHA
4124,02-03-2568,14230870934,3350100018451,264414,0,54375,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4125,02-03-2568,14230783285,1601100234775,235574,0,45564,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,DHA
4126,02-03-2568,14230666101,1801100074407,214572,0,47080,182,7,182,7,...,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,DHA

In [287]:
assign_test = loopbyassign(assign_new)
assign_test

product code: RL
Processing code: OD3
size 223
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12180051412  3730200338275             324387
1    02-03-2568  12180044964  3341700320558             142817
2    02-03-2568  12180051182  3720400703988             136184
3    02-03-2568  12170000277  1100200733343             135134
4    02-03-2568  12160022658  3100201303616             128893
..          ...          ...            ...                ...
218  02-03-2568  12180007586  1159900085580               7146
219  02-03-2568  12180006089  1104000018407               6827
220  02-03-2568  12160031288  3610400067241               6497
221  02-03-2568  12180004906  1103100116124               5485
222  02-03-2568  12170055383  3520800561376               1789

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    21963                     91
1                      0                    12842                     91
2                      0                    11809                     91
3                      0                     8469                     91
4                      0                    11229                     91
..                   ...                      ...                    ...
218                    0                      751                     91
219                    0                      660                     91
220                    0                      693                     91
221                    0                      649                     91
222                    0                      403                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       KOR
1                       4            91                      4  ...       KOR
2                       4            91                      4  ...       KOR
3                       4            91                      4  ...       MMN
4                       4            91                      4  ...       KWC
..                    ...           ...                    ...  ...       ...
218                     4            91                      4  ...       ACT
219                     4            91                      4  ...       KOR
220                     4            91                      4  ...  In-House
221                     4            91                      4  ...       ACT
222                     4            91                      4  ...       KOR

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
218    MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
219    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
220    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
221    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
222    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       MGC
1    save_old_assign_new            RL       KWC
2    save_old_assign_new            RL       UPC
3    save_old_assign_new            RL       GMV
4    save_old_assign_new            RL       GMV
..                   ...           ...       ...
218  save_old_assign_new            RL       UPC
219  save_old_assign_new            RL       MMN
220  save_old_assign_new            RL       KWC
221  save_old_assign_new            RL       GMV
222  save_old_assign_new            RL       MGC

[223 rows x 92 columns]
size 988
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  14220124560  3520300582137             209801
1    02-03-2568  14242101979  3610700057691             199932
2    02-03-2568  14231411526  1329900171221             199109
3    02-03-2568  14220090602  3110101303924             176273
4    02-03-2568  14230606200  3141100357436             174901
..          ...          ...            ...                ...
983  02-03-2568  12180012210  1301500226489               2093
984  02-03-2568  12180024075  1461200146055               1645
985  02-03-2568  12180009298  1200101741487               1613
986  02-03-2568  14220060367  1350300156257                999
987  02-03-2568  12170060351  5120100083021                899

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    18483                     91
1                      0                    18884                     91
2                      0                    18180                     91
3                      0                    16650                     91
4                      0                    15942                     91
..                   ...                      ...                    ...
983                    0                      405                     91
984                    0                      408                     91
985                    0                      401                     91
986                    0                      363                     91
987                    0                      354                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       MMN
1                       4            91                      4  ...       KWC
2                       4            91                      4  ...       PCN
3                       4            91                      4  ...  In-House
4                       4            91                      4  ...       PCN
..                    ...           ...                    ...  ...       ...
983                     4            91                      4  ...       KOR
984                     4            91                      4  ...       ACT
985                     4            91                      4  ...       KOR
986                     4            91                      4  ...  In-House
987                     4            91                      4  ...       ACT

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
983    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
984    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
985    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
986    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
987    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       UPC
1    save_old_assign_new            RL       UPC
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       KWC
4    save_old_assign_new            RL       UPC
..                   ...           ...       ...
983  save_old_assign_new            RL       KWC
984  save_old_assign_new            RL       MMN
985  save_old_assign_new            RL       KWC
986  save_old_assign_new            RL       MGC
987  save_old_assign_new            RL       KWC

[988 rows x 92 columns]
Processing code: OD5
size 201
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160023110  3100902824566             433667
1    02-03-2568  12180040685  3170100125640             215419
2    02-03-2568  12180040353  3150600551079             200550
3    02-03-2568  12180051522  3730600517797             193363
4    02-03-2568  12210001386  3102000135262             162837
..          ...          ...            ...                ...
196  02-03-2568  12180000833  1100500482061               2747
197  02-03-2568  12170015520  1309901300008               2685
198  02-03-2568  12170000657  1100400492846               2586
199  02-03-2568  12180046167  3410400679591               2356
200  02-03-2568  12200000949  1959800076336               1060

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    52058                    152
1                      0                    26871                    152
2                      0                    23429                    152
3                      0                    25150                    152
4                      0                    20854                    152
..                   ...                      ...                    ...
196                    0                      543                    152
197                    0                      581                    152
198                    0                      571                    152
199                    0                      547                    152
200                    0                      411                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    MMN
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    UPC
3                       6           152                      6  ...    MGC
4                       6           152                      6  ...    GMV
..                    ...           ...                    ...  ...    ...
196                     6           152                      6  ...    KWC
197                     6           152                      6  ...    KWC
198                     6           152                      6  ...    KWC
199                     6           152                      6  ...    KWC
200                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
196    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
197    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
198    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
199    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
200    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       UPC
1    save_old_assign_new            RL       KWC
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       MGC
4    save_old_assign_new            RL       UPC
..                   ...           ...       ...
196  save_old_assign_new            RL       UPC
197  save_old_assign_new            RL       GMV
198  save_old_assign_new            RL       KWC
199  save_old_assign_new            RL       MGC
200  save_old_assign_new            RL       MMN

[201 rows x 92 columns]
size 848
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12210001500  3130200523108             730781
1    02-03-2568  12210001309  3101200393965             407958
2    02-03-2568  14230666847  3660500415438             379961
3    02-03-2568  14220062504  3419900439415             345604
4    02-03-2568  12180037944  3101701424022             266987
..          ...          ...            ...                ...
843  02-03-2568  14230430603  1619900350459               3839
844  02-03-2568  14230352891  3471000206794               3685
845  02-03-2568  14230813297  1104300427558               3636
846  02-03-2568  12180014817  1321000248122               3245
847  02-03-2568  14230267618  1601300020639               1925

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    77512                    152
1                      0                    50316                    152
2                      0                    51662                    152
3                      0                    46992                    152
4                      0                    32282                    152
..                   ...                      ...                    ...
843                    0                      650                    152
844                    0                      646                    152
845                    0                      633                    152
846                    0                      637                    152
847                    0                      499                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    KWC
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    GMV
3                       6           152                      6  ...    UPC
4                       6           152                      6  ...    KWC
..                    ...           ...                    ...  ...    ...
843                     6           152                      6  ...    KWC
844                     6           152                      6  ...    KWC
845                     6           152                      6  ...    KWC
846                     6           152                      6  ...    KWC
847                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
843    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
844    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
845    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
846    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
847    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       MMN
1    save_old_assign_new            RL       MMN
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       MMN
4    save_old_assign_new            RL       KWC
..                   ...           ...       ...
843  save_old_assign_new            RL       MGC
844  save_old_assign_new            RL       MMN
845  save_old_assign_new            RL       UPC
846  save_old_assign_new            RL       MMN
847  save_old_assign_new            RL       MGC

[848 rows x 92 columns]
Processing code: OD4
size 204
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160030430  3520300034342             280544
1    02-03-2568  12210000948  1640900051542             207030
2    02-03-2568  12180047621  3470100179208             188098
3    02-03-2568  12190001865  3401000457711             177005
4    02-03-2568  12150000394  3120200087863             156684
..          ...          ...            ...                ...
199  02-03-2568  12170051950  3350800203153               3761
200  02-03-2568  12180011043  1250200241822               3537
201  02-03-2568  12180049521  3610600231436               3244
202  02-03-2568  12170016038  1310700201004               2944
203  02-03-2568  12180012838  1309900721476               2113

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    29306                    121
1                      0                    19997                    121
2                      0                    20788                    121
3                      0                    18196                    121

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,product_abbr,assigned
0,02-03-2568,12180051412,3730200338275,324387,0,21963,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,MGC
1,02-03-2568,12180044964,3341700320558,142817,0,12842,91,4,91,4,...,KOR,MGC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,KWC
2,02-03-2568,12180051182,3720400703988,136184,0,11809,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,UPC
3,02-03-2568,12170000277,1100200733343,135134,0,8469,91,4,91,4,...,MMN,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,GMV
4,02-03-2568,12160022658,3100201303616,128893,0,11229,91,4,91,4,...,KWC,UPC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,GMV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,02-03-2568,14220090414,3400100937692,337919,0,76346,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4123,02-03-2568,14230796185,3460200051009,306857,0,47923,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4124,02-03-2568,14230870934,3350100018451,264414,0,54375,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4125,02-03-2568,14230783285,1601100234775,235574,0,45564,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4126,02-03-2568,14230666101,1801100074407,214572,0,47080,182,7,182,7,...,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,DHA

In [288]:
assign_test

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,product_abbr,assigned
0,02-03-2568,12180051412,3730200338275,324387,0,21963,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,MGC
1,02-03-2568,12180044964,3341700320558,142817,0,12842,91,4,91,4,...,KOR,MGC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,KWC
2,02-03-2568,12180051182,3720400703988,136184,0,11809,91,4,91,4,...,KOR,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,UPC
3,02-03-2568,12170000277,1100200733343,135134,0,8469,91,4,91,4,...,MMN,MMN,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,GMV
4,02-03-2568,12160022658,3100201303616,128893,0,11229,91,4,91,4,...,KWC,UPC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,RL,GMV
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4122,02-03-2568,14220090414,3400100937692,337919,0,76346,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4123,02-03-2568,14230796185,3460200051009,306857,0,47923,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4124,02-03-2568,14230870934,3350100018451,264414,0,54375,182,7,182,7,...,PCN,PCN,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4125,02-03-2568,14230783285,1601100234775,235574,0,45564,182,7,182,7,...,PCN,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,PCN
4126,02-03-2568,14230666101,1801100074407,214572,0,47080,182,7,182,7,...,DHA,DHA,NaN,C4C,C4C,XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL,3,save_old_assign_new,C4C,DHA

In [289]:
assign_test.to_excel('./output/testbyproductall.xlsx')

---

In [290]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]

/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/3980200684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']

In [291]:
assign_new= loopbyassign(assign_new)

product code: RL
Processing code: OD3
size 223
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12180051412  3730200338275             324387
1    02-03-2568  12180044964  3341700320558             142817
2    02-03-2568  12180051182  3720400703988             136184
3    02-03-2568  12170000277  1100200733343             135134
4    02-03-2568  12160022658  3100201303616             128893
..          ...          ...            ...                ...
218  02-03-2568  12180007586  1159900085580               7146
219  02-03-2568  12180006089  1104000018407               6827
220  02-03-2568  12160031288  3610400067241               6497
221  02-03-2568  12180004906  1103100116124               5485
222  02-03-2568  12170055383  3520800561376               1789

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    21963                     91
1                      0                    12842                     91
2                      0                    11809                     91
3                      0                     8469                     91
4                      0                    11229                     91
..                   ...                      ...                    ...
218                    0                      751                     91
219                    0                      660                     91
220                    0                      693                     91
221                    0                      649                     91
222                    0                      403                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       KOR
1                       4            91                      4  ...       KOR
2                       4            91                      4  ...       KOR
3                       4            91                      4  ...       MMN
4                       4            91                      4  ...       KWC
..                    ...           ...                    ...  ...       ...
218                     4            91                      4  ...       ACT
219                     4            91                      4  ...       KOR
220                     4            91                      4  ...  In-House
221                     4            91                      4  ...       ACT
222                     4            91                      4  ...       KOR

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
218    MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
219    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
220    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
221    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
222    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       GMV
1    save_old_assign_new            RL       GMV
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       KWC
4    save_old_assign_new            RL       KWC
..                   ...           ...       ...
218  save_old_assign_new            RL       MMN
219  save_old_assign_new            RL       GMV
220  save_old_assign_new            RL       MMN
221  save_old_assign_new            RL       KWC
222  save_old_assign_new            RL       KWC

[223 rows x 92 columns]
size 988
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  14220124560  3520300582137             209801
1    02-03-2568  14242101979  3610700057691             199932
2    02-03-2568  14231411526  1329900171221             199109
3    02-03-2568  14220090602  3110101303924             176273
4    02-03-2568  14230606200  3141100357436             174901
..          ...          ...            ...                ...
983  02-03-2568  12180012210  1301500226489               2093
984  02-03-2568  12180024075  1461200146055               1645
985  02-03-2568  12180009298  1200101741487               1613
986  02-03-2568  14220060367  1350300156257                999
987  02-03-2568  12170060351  5120100083021                899

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    18483                     91
1                      0                    18884                     91
2                      0                    18180                     91
3                      0                    16650                     91
4                      0                    15942                     91
..                   ...                      ...                    ...
983                    0                      405                     91
984                    0                      408                     91
985                    0                      401                     91
986                    0                      363                     91
987                    0                      354                     91

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       4            91                      4  ...       MMN
1                       4            91                      4  ...       KWC
2                       4            91                      4  ...       PCN
3                       4            91                      4  ...  In-House
4                       4            91                      4  ...       PCN
..                    ...           ...                    ...  ...       ...
983                     4            91                      4  ...       KOR
984                     4            91                      4  ...       ACT
985                     4            91                      4  ...       KOR
986                     4            91                      4  ...  In-House
987                     4            91                      4  ...       ACT

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
983    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
984    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
985    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
986    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
987    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       MMN
1    save_old_assign_new            RL       UPC
2    save_old_assign_new            RL       UPC
3    save_old_assign_new            RL       UPC
4    save_old_assign_new            RL       KWC
..                   ...           ...       ...
983  save_old_assign_new            RL       GMV
984  save_old_assign_new            RL       KWC
985  save_old_assign_new            RL       MMN
986  save_old_assign_new            RL       UPC
987  save_old_assign_new            RL       KWC

[988 rows x 92 columns]
Processing code: OD5
size 201
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160023110  3100902824566             433667
1    02-03-2568  12180040685  3170100125640             215419
2    02-03-2568  12180040353  3150600551079             200550
3    02-03-2568  12180051522  3730600517797             193363
4    02-03-2568  12210001386  3102000135262             162837
..          ...          ...            ...                ...
196  02-03-2568  12180000833  1100500482061               2747
197  02-03-2568  12170015520  1309901300008               2685
198  02-03-2568  12170000657  1100400492846               2586
199  02-03-2568  12180046167  3410400679591               2356
200  02-03-2568  12200000949  1959800076336               1060

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    52058                    152
1                      0                    26871                    152
2                      0                    23429                    152
3                      0                    25150                    152
4                      0                    20854                    152
..                   ...                      ...                    ...
196                    0                      543                    152
197                    0                      581                    152
198                    0                      571                    152
199                    0                      547                    152
200                    0                      411                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    MMN
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    UPC
3                       6           152                      6  ...    MGC
4                       6           152                      6  ...    GMV
..                    ...           ...                    ...  ...    ...
196                     6           152                      6  ...    KWC
197                     6           152                      6  ...    KWC
198                     6           152                      6  ...    KWC
199                     6           152                      6  ...    KWC
200                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
196    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
197    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
198    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
199    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
200    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       MGC
1    save_old_assign_new            RL       UPC
2    save_old_assign_new            RL       KWC
3    save_old_assign_new            RL       GMV
4    save_old_assign_new            RL       MGC
..                   ...           ...       ...
196  save_old_assign_new            RL       UPC
197  save_old_assign_new            RL       MMN
198  save_old_assign_new            RL       KWC
199  save_old_assign_new            RL       GMV
200  save_old_assign_new            RL       GMV

[201 rows x 92 columns]
size 848
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12210001500  3130200523108             730781
1    02-03-2568  12210001309  3101200393965             407958
2    02-03-2568  14230666847  3660500415438             379961
3    02-03-2568  14220062504  3419900439415             345604
4    02-03-2568  12180037944  3101701424022             266987
..          ...          ...            ...                ...
843  02-03-2568  14230430603  1619900350459               3839
844  02-03-2568  14230352891  3471000206794               3685
845  02-03-2568  14230813297  1104300427558               3636
846  02-03-2568  12180014817  1321000248122               3245
847  02-03-2568  14230267618  1601300020639               1925

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    77512                    152
1                      0                    50316                    152
2                      0                    51662                    152
3                      0                    46992                    152
4                      0                    32282                    152
..                   ...                      ...                    ...
843                    0                      650                    152
844                    0                      646                    152
845                    0                      633                    152
846                    0                      637                    152
847                    0                      499                    152

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                       6           152                      6  ...    KWC
1                       6           152                      6  ...    MGC
2                       6           152                      6  ...    GMV
3                       6           152                      6  ...    UPC
4                       6           152                      6  ...    KWC
..                    ...           ...                    ...  ...    ...
843                     6           152                      6  ...    KWC
844                     6           152                      6  ...    KWC
845                     6           152                      6  ...    KWC
846                     6           152                      6  ...    KWC
847                     6           152                      6  ...    KWC

    new_oa reason  product_val product_df2           bucket  group  \
0      KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
1      MMN    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
2      UPC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
3      GMV    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
4      MGC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
..     ...    ...          ...         ...              ...    ...
843    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
844    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
845    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
846    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8
847    KWC    NaN     RL ML TL    RL ML TL  OD3-OD4-OD5-OD6      8

             assign_type  product_abbr  assigned
0    save_old_assign_new            RL       KWC
1    save_old_assign_new            RL       KWC
2    save_old_assign_new            RL       MMN
3    save_old_assign_new            RL       KWC
4    save_old_assign_new            RL       MMN
..                   ...           ...       ...
843  save_old_assign_new            RL       UPC
844  save_old_assign_new            RL       KWC
845  save_old_assign_new            RL       MMN
846  save_old_assign_new            RL       KWC
847  save_old_assign_new            RL       KWC

[848 rows x 92 columns]
Processing code: OD4
size 204
oa      product           bucket  no_of_oa rank %assign   oa  group  \
19  RL ML TL  OD3-OD4-OD5-OD6         5    1    0.30  KWC      8
20  RL ML TL  OD3-OD4-OD5-OD6       NaN    2    0.25  MMN      8
21  RL ML TL  OD3-OD4-OD5-OD6       NaN    3    0.20  UPC      8
22  RL ML TL  OD3-OD4-OD5-OD6       NaN    4    0.15  GMV      8
23  RL ML TL  OD3-OD4-OD5-OD6       NaN    5    0.10  MGC      8

            assign_type
19  save_old_assign_new
20  save_old_assign_new
21  save_old_assign_new
22  save_old_assign_new
23  save_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12160030430  3520300034342             280544
1    02-03-2568  12210000948  1640900051542             207030
2    02-03-2568  12180047621  3470100179208             188098
3    02-03-2568  12190001865  3401000457711             177005
4    02-03-2568  12150000394  3120200087863             156684
..          ...          ...            ...                ...
199  02-03-2568  12170051950  3350800203153               3761
200  02-03-2568  12180011043  1250200241822               3537
201  02-03-2568  12180049521  3610600231436               3244
202  02-03-2568  12170016038  1310700201004               2944
203  02-03-2568  12180012838  1309900721476               2113

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    29306                    121
1                      0                    19997                    121
2                      0                    20788                    121
3                      0                    18196                    121

In [292]:
save_old_assign_new = pd.concat([save_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

In [295]:
assign_all = ar_merge[ar_merge['assign_type'] == 'assign_all'].reset_index(drop=True)
assign_all= loopbyassign(assign_all)

product code: H4C
Processing code: OD1
size 69
oa   product   bucket  no_of_oa rank %assign   oa  group assign_type
1     H4C  OD1-OD2         1    -    1.00  JMT      2  assign_all
final_df      base_date  customer_no    customer_no  principal_balance  \
0   02-03-2568  14220041770  5311000022496            4843844
1   02-03-2568  14230372224  4929900002452            4561398
2   02-03-2568  14220142966  3540200338889            3783037
3   02-03-2568  14220042232  3670600368989            3548724
4   02-03-2568  13210011734  3400500945358            3314774
..         ...          ...            ...                ...
64  02-03-2568  14230350768  3310400373701             400293
65  02-03-2568  14220006411  3300900867479             383309
66  02-03-2568  14210001496  1509900076081             373537
67  02-03-2568  13210012971  3769900065687             317640
68  02-03-2568  14220050867  1100500171278             290342

    total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                     0                    72580                     29
1                     0                    82858                     29
2                     0                    58696                     29
3                     0                    62056                     29
4                     0                    43481                     29
..                  ...                      ...                    ...
64                    0                     7030                     29
65                    0                    11725                     29
66                    0                    10926                     29
67                    0                    11040                     29
68                    0                     5118                     29

    overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                      2            29                      2  ...       JMT
1                      2            29                      2  ...       JMT
2                      2            29                      2  ...       JMT
3                      2            29                      2  ...       JMT
4                      2            29                      2  ...  In-House
..                   ...           ...                    ...  ...       ...
64                     2            29                      2  ...       JMT
65                     2            29                      2  ...       JMT
66                     2            29                      2  ...       JMT
67                     2            29                      2  ...       JMT
68                     2            29                      2  ...       JMT

   new_oa reason  product_val product_df2   bucket  group assign_type  \
0     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
1     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
2     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
3     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
4     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
..    ...    ...          ...         ...      ...    ...         ...
64    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
65    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
66    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
67    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
68    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all

    product_abbr  assigned
0            H4C       JMT
1            H4C       JMT
2            H4C       JMT
3            H4C       JMT
4            H4C       JMT
..           ...       ...
64           H4C       JMT
65           H4C       JMT
66           H4C       JMT
67           H4C       JMT
68           H4C       JMT

[69 rows x 92 columns]
Processing code: OD2
size 52
oa   product   bucket  no_of_oa rank %assign   oa  group assign_type
1     H4C  OD1-OD2         1    -    1.00  JMT      2  assign_all
final_df      base_date  customer_no    customer_no  principal_balance  \
0   02-03-2568  14230436991  2520700011503           11810361
1   02-03-2568  14220041987  3110101070041            7583363
2   02-03-2568  14220006123  1919900015509            6827296
3   02-03-2568  14220009736  3249900206145            5249621
4   02-03-2568  14210001470  3800600051843            3685572
5   02-03-2568  13210013646  5740100067209            3546217
6   02-03-2568  14230527644  4659900005926            3531576
7   02-03-2568  14220070102  3670101406869            3223260
8   02-03-2568  14220069605  3609900751239            3144408
9   02-03-2568  14220002981  3730101222988            3112916
10  02-03-2568  14230197332  1499900005753            3036920
11  02-03-2568  14210001569  1100500143002            2594273
12  02-03-2568  13200001152  3101501483807            2363877
13  02-03-2568  13200001897  3660500070961            2321042
14  02-03-2568  13200002049  3801100418404            2240415
15  02-03-2568  13210009303  1909800489401            2210793
16  02-03-2568  14230249747  3170400011810            2210250
17  02-03-2568  14220041916  3350800472219            2167454
18  02-03-2568  14230197255  1101401284806            2021655
19  02-03-2568  13210010174  3101201512569            2003222
20  02-03-2568  14230195609  1129900509860            1942761
21  02-03-2568  14220012239  3301700128070            1778157
22  02-03-2568  13210011709  3400100765808            1755720
23  02-03-2568  14210001318  3129900045436            1720817
24  02-03-2568  13210012796  3710100916366            1645877
25  02-03-2568  14220147306  3440300667494            1562483
26  02-03-2568  14220005247  1100400497317            1524015
27  02-03-2568  13210011314  3310101193761            1522750
28  02-03-2568  14230330215  3800900020943            1483686
29  02-03-2568  14220051010  3110300503109            1468142
30  02-03-2568  13200000955  3100201880435            1465476
31  02-03-2568  14230442477  3130100343604            1464428
32  02-03-2568  14230527677  3530400280949            1429566
33  02-03-2568  13210010119  3100905150914            1346054
34  02-03-2568  14210001499  3110100771801            1321015
35  02-03-2568  13210006022  1420500039644            1306689
36  02-03-2568  13210002537  1141300032071            1214337
37  02-03-2568  14220006319  3400101568852            1177159
38  02-03-2568  14230249691  3250800245388            1155217
39  02-03-2568  13210011462  3330400916560            1142464
40  02-03-2568  14220090343  3901100548030            1081112
41  02-03-2568  14220050821  1100500236507            1021460
42  02-03-2568  14220060387  3470100315624             944638
43  02-03-2568  13210010284  3101600228597             927876
44  02-03-2568  14220006677  3320101803780             910357
45  02-03-2568  14220090301  3230500155391             861558
46  02-03-2568  11160047128  3310102046788             821279
47  02-03-2568  14210001545  3100504181231             749057
48  02-03-2568  14220013560  3300300041642             689702
49  02-03-2568  13210009910  3100502019984             625819
50  02-03-2568  12160025423  3200700674872             478439
51  02-03-2568  14220109427  1920100085091             433285

    total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                     0                   317869                     60
1                     0                   204500                     60
2                     0                   174532                     60
3                     0                   142242                     60
4                     0                   111249                     60
5                     0                   175911                     60
6                     0                    80025                     60
7                     0                    83788                     60
8                     0                    85120                     60
9                     0                    69102                     60
10                    0                    74408                     60
11                    0                    65403                     60
12                    0                    66619                     60
13                    0                    54316                     60
14                    0                   113334                     60
15                    0                    60486                     60
16                    0                    77123                     60
17                    0                    39756                     60
18                    0                    55819                     60
19                    0                    56024                     60
20                    0                    50538                     60
21                    0                    74048                     60
22                    0                    44178                     60
23                    0                    47621                     60
24                    0                    46110                     60
25                    0                    35806                     60
26                    0                    41473                     60
27                    0                    49203                     60
28                    0                    32499                     60
29                    0                    35186                     60
30                    0                    41247                     60
31                    0                    27090                     60
32                    0                    38502                     60
33                    0                    35850                     60
34                    0                    36140                     60
35                    0                    36081                     60
36                    0                    33771                     60
37                    0                    30725                     60
38                    0                    24168                     60
39                    0                    67310                     60
40                    0                    26719                     60
41                    0                    23475                     60
42                    0                    26038                     60
43                    0                    24242                     60
44                    0                    24234                     60
45                    0                    22994                     60
46                    0                    22840                     60
47                    0                    24423                     60
48                    0                    24037                     60
49                    0                    30102                     60
50                    0                    13169                     60
51                    0                     8854                     60

    overdue_cnt(morning)  overdue_days  num_of_overdue_months  ... old_oa  \
0                      3            60                      3  ...    JMT
1                      3            60                      3  ...    JMT
2                      3            60                      3  ...    JMT
3                      3            60                      3  ...    JMT
4                      3            60                      3  ...    JMT
5                      3            60                      3  ...    JMT
6                      3            60                      3  ...    JMT
7                      3            60                      3  ...    NaN
8                      3            60                      3  ...    JMT
9                      3            60                      3  ...    JMT
10                     3            60                      3  ...    JMT
11                     3            60                      3  ...    JMT
12                     3            60                      3  ...    NaN
13                     3            60                      3  ...    JMT
14                     3            60                      3  ...    JMT
15                     3            60                      3  ...    JMT
16                     3            60                      3  ...    JMT
17                     3            60                      3  ...    JMT
18                     3            60                      3  ...    JMT
19                     3            60                      3  ...    JMT
20                     3            60                      3  ...    JMT
21                     3            60                      3  ...    JMT
22                     3            60                      3  ...    JMT
23                     3            60                      3  ...    NaN
24                     3            60                      3  ...    JMT
25                     3            60                      3  ...    JMT
26                     3            60                      3  ...    JMT
27                     3            60                      3  ...    JMT
28                     3            60                      3  ...    JMT
29                     3            60                      3  ...    JMT
30                     3            60                      3  ...    JMT
31                     3            60                      3  ...    JMT
32                     3            60                      3  ...    JMT
33                     3            60                      3  ...    JMT
34                     3            60                      3  ...    JMT
35                     3            60                      3  ...    JMT
36                     3            60                      3  ...    JMT
37                     3            60                      3  ...    JMT
38                     3            60                      3  ...    NaN
39                     3            60                      3  ...    JMT
40                     3            60                      3  ...    NaN
41                     3            60                      3  ...    JMT
42                     3            60                      3  ...    JMT
43                     3            60                      3  ...    JMT
44                     3            60                      3  ...    JMT
45                     3            60                      3  ...    NaN
46                     3            60                      3  ...    JMT
47                     3            60                      3  ...    JMT
48                     3            60                      3  ...    JMT
49                     3            60                      3  ...    JMT
50                     3            60                      3  ...    NaN
51                     3            60                      3  ...    JMT

   new_oa reason  product_val product_df2   bucket  group assign_type  \
0     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
1     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
2     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
3     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
4     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
5     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
6     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
7     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
8     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
9     JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
10    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
11    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
12    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
13    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
14    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
15    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
16    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
17    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
18    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
19    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
20    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
21    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
22    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
23    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
24    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
25    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
26    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
27    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
28    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
29    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
30    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
31    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
32    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
33    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
34    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
35    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
36    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
37    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
38    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
39    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
40    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
41    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
42    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
43    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
44    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
45    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
46    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
47    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
48    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
49    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
50    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all
51    JMT    NaN          H4C         H4C  OD1-OD2      2  assign_all

    product_abbr  assigned
0            H4C       JMT
1            H4C       JMT
2            H4C       JMT
3            H4C       JMT
4            H4C       JMT
5            H4C       JMT
6            H4C       JMT
7            H4C       JMT
8            H4C       JMT
9            H4C       JMT
10           H4C       JMT
11           H4C       JMT
12           H4C       JMT
13           H4C       JMT
14           H4C       JMT
15           H4C       JMT
16           H4C       JMT
17           H4C       JMT
18           H4C       JMT
19           H4C       JMT
20           H4C       JMT
21           H4C       JMT
22           H4C       JMT
23           H4C       JMT
24           H4C       JMT
25           H4C       JMT
26           H4C       JMT
27           H4C       JMT
28           H4C       JMT
29           H4C       JMT
30           H4C       JMT
31           H4C       JMT
32           H4C       JMT
33           H4C       JMT
34           H4C       JMT
35           H4C       JMT
36           H4C       JMT
37           H4C       JMT
38           H4C       JMT
39           H4C       JMT
40           H4C       JMT

In [296]:
assign_old_assign_new = ar_merge[ar_merge['assign_type'] == 'assign_old_assign_new'].reset_index(drop=True)
assign_old  = assign_old_assign_new.loc[ (assign_old_assign_new['status_lm'] == 'SAVE')]
assign_old= loopbyassign(assign_old)
assign_new =  assign_old_assign_new.loc[ ~(assign_old_assign_new['status_lm'] == 'SAVE')]
assign_new= loopbyassign(assign_new)
assign_old_assign_new = pd.concat([assign_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

product code: RL
Processing code: XDAY
size 2883
oa      product        bucket  no_of_oa rank %assign        oa  group  \
12  RL ML TL  XDAY-OD1-OD2         7    1    0.22       PCN      7
13  RL ML TL  XDAY-OD1-OD2       NaN    2    0.20       ACT      7
14  RL ML TL  XDAY-OD1-OD2       NaN    3    0.18  In-House      7
15  RL ML TL  XDAY-OD1-OD2       NaN    4    0.12       DHA      7
16  RL ML TL  XDAY-OD1-OD2       NaN    5    0.11       KOR      7
17  RL ML TL  XDAY-OD1-OD2       NaN    6    0.09       KWC      7
18  RL ML TL  XDAY-OD1-OD2       NaN    7    0.08       MMN      7

              assign_type
12  assign_old_assign_new
13  assign_old_assign_new
14  assign_old_assign_new
15  assign_old_assign_new
16  assign_old_assign_new
17  assign_old_assign_new
18  assign_old_assign_new
final_df        base_date  customer_no    customer_no  principal_balance  \
0     02-03-2568  12180038279  3102001681414             529554
1     02-03-2568  14220060047  3101201471056             390921
2     02-03-2568  12170045750  3110101514844             374738
3     02-03-2568  12180045020  3342100240821             370271
4     02-03-2568  12180035563  3100100469284             367408
...          ...          ...            ...                ...
2878  02-03-2568  12180045893  3401700171659               1254
2879  02-03-2568  12180048502  3520500297291                929
2880  02-03-2568  12180028335  1630300044651                895
2881  02-03-2568  12170052601  3401200436301                838
2882  02-03-2568  12180054313  5450600051614                726

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                       0                    15887                      1
1                       0                    11778                      1
2                       0                    11292                      1
3                       0                    11158                      1
4                       0                    11072                      1
...                   ...                      ...                    ...
2878                    0                      300                      1
2879                    0                      300                      1
2880                    0                      300                      1
2881                    0                      300                      1
2882                    0                      300                      1

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
0                        1             1                      1  ...
1                        1             1                      1  ...
2                        1             1                      1  ...
3                        1             1                      1  ...
4                        1             1                      1  ...
...                    ...           ...                    ...  ...
2878                     1             1                      1  ...
2879                     1             1                      1  ...
2880                     1             1                      1  ...
2881                     1             1                      1  ...
2882                     1             1                      1  ...

             old_oa         new_oa reason  product_val product_df2  \
0               PCN  Delay calling    NaN     RL ML TL    RL ML TL
1               KOR            KOR    NaN     RL ML TL    RL ML TL
2               ACT            ACT    NaN     RL ML TL    RL ML TL
3               KOR            KOR    NaN     RL ML TL    RL ML TL
4               DHA            DHA    NaN     RL ML TL    RL ML TL
...             ...            ...    ...          ...         ...
2878  Delay calling  Delay calling    NaN     RL ML TL    RL ML TL
2879            PCN  Delay calling    NaN     RL ML TL    RL ML TL
2880            PCN            PCN    NaN     RL ML TL    RL ML TL
2881  Delay calling  Delay calling    NaN     RL ML TL    RL ML TL
2882  Delay Calling  Delay calling    NaN     RL ML TL    RL ML TL

            bucket  group            assign_type  product_abbr  assigned
0     XDAY-OD1-OD2      7  assign_old_assign_new            RL       ACT
1     XDAY-OD1-OD2      7  assign_old_assign_new            RL       KOR
2     XDAY-OD1-OD2      7  assign_old_assign_new            RL       ACT
3     XDAY-OD1-OD2      7  assign_old_assign_new            RL       DHA
4     XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
...            ...    ...                    ...           ...       ...
2878  XDAY-OD1-OD2      7  assign_old_assign_new            RL       MMN
2879  XDAY-OD1-OD2      7  assign_old_assign_new            RL       MMN
2880  XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
2881  XDAY-OD1-OD2      7  assign_old_assign_new            RL       KOR
2882  XDAY-OD1-OD2      7  assign_old_assign_new            RL       DHA

[2883 rows x 92 columns]
size 13479
oa      product        bucket  no_of_oa rank %assign        oa  group  \
12  RL ML TL  XDAY-OD1-OD2         7    1    0.22       PCN      7
13  RL ML TL  XDAY-OD1-OD2       NaN    2    0.20       ACT      7
14  RL ML TL  XDAY-OD1-OD2       NaN    3    0.18  In-House      7
15  RL ML TL  XDAY-OD1-OD2       NaN    4    0.12       DHA      7
16  RL ML TL  XDAY-OD1-OD2       NaN    5    0.11       KOR      7
17  RL ML TL  XDAY-OD1-OD2       NaN    6    0.09       KWC      7
18  RL ML TL  XDAY-OD1-OD2       NaN    7    0.08       MMN      7

              assign_type
12  assign_old_assign_new
13  assign_old_assign_new
14  assign_old_assign_new
15  assign_old_assign_new
16  assign_old_assign_new
17  assign_old_assign_new
18  assign_old_assign_new
final_df         base_date  customer_no    customer_no  principal_balance  \
0      02-03-2568  12180054780  5909899017330             961097
1      02-03-2568  13210012280  3520101053444             655322
2      02-03-2568  13200000051  1100700218103             649956
3      02-03-2568  12210001467  3110401104595             628937
4      02-03-2568  12180043123  3301500425631             625324
...           ...          ...            ...                ...
13474  02-03-2568  12190000104  1100702037106                488
13475  02-03-2568  14220092022  1320600181559                488
13476  02-03-2568  12170010976  1200600030381                464
13477  02-03-2568  14231407829  1769900292954                395
13478  02-03-2568  12170029567  1479900096775                313

       total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                        0                    28833                      1
1                        0                    19710                      1
2                        0                    19549                      1
3                        0                    18918                      1
4                        0                    18810                      1
...                    ...                      ...                    ...
13474                    0                      300                      1
13475                    0                      300                      1
13476                    0                      300                      1
13477                    0                      300                      1
13478                    0                      300                      1

       overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
0                         1             1                      1  ...
1                         1             1                      1  ...
2                         1             1                      1  ...
3                         1             1                      1  ...
4                         1             1                      1  ...
...                     ...           ...                    ...  ...
13474                     1             1                      1  ...
13475                     1             1                      1  ...
13476                     1             1                      1  ...
13477                     1             1                      1  ...
13478                     1             1                      1  ...

              old_oa         new_oa reason  product_val product_df2  \
0                KOR  Delay calling    NaN     RL ML TL    RL ML TL
1                DHA            DHA    NaN     RL ML TL    RL ML TL
2                KOR            PCN    NaN     RL ML TL    RL ML TL
3                KWC            KWC    NaN     RL ML TL    RL ML TL
4                KOR            PCN    NaN     RL ML TL    RL ML TL
...              ...            ...    ...          ...         ...
13474  Delay Calling  Delay calling    NaN     RL ML TL    RL ML TL
13475  Delay Calling  Delay calling    NaN     RL ML TL    RL ML TL
13476  Delay calling  Delay calling    NaN     RL ML TL    RL ML TL
13477  Delay calling  Delay calling    NaN     RL ML TL    RL ML TL
13478            PCN            PCN    NaN     RL ML TL    RL ML TL

             bucket  group            assign_type  product_abbr  assigned
0      XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
1      XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
2      XDAY-OD1-OD2      7  assign_old_assign_new            RL       DHA
3      XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
4      XDAY-OD1-OD2      7  assign_old_assign_new            RL       KWC
...             ...    ...                    ...           ...       ...
13474  XDAY-OD1-OD2      7  assign_old_assign_new            RL       DHA
13475  XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
13476  XDAY-OD1-OD2      7  assign_old_assign_new            RL       PCN
13477  XDAY-OD1-OD2      7  assign_old_assign_new            RL       KWC
13478  XDAY-OD1-OD2      7  assign_old_assign_new            RL       ACT

[13479 rows x 92 columns]
Processing code: OD1
size 247
oa      product        bucket  no_of_oa rank %assign        oa  group  \
12  RL ML TL  XDAY-OD1-OD2         7    1    0.22       PCN      7
13  RL ML TL  XDAY-OD1-OD2       NaN    2    0.20       ACT      7
14  RL ML TL  XDAY-OD1-OD2       NaN    3    0.18  In-House      7
15  RL ML TL  XDAY-OD1-OD2       NaN    4    0.12       DHA      7
16  RL ML TL  XDAY-OD1-OD2       NaN    5    0.11       KOR      7
17  RL ML TL  XDAY-OD1-OD2       NaN    6    0.09       KWC      7
18  RL ML TL  XDAY-OD1-OD2       NaN    7    0.08       MMN      7

              assign_type
12  assign_old_assign_new
13  assign_old_assign_new
14  assign_old_assign_new
15  assign_old_assign_new
16  assign_old_assign_new
17  assign_old_assign_new
18  assign_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12180038847  3102401316721             307648
1    02-03-2568  12180052959  3930100661650             215452
2    02-03-2568  12180041680  3209700152629             215366
3    02-03-2568  12180049414  3601200419986             209878
4    02-03-2568  14220063248  3520100540007             203985
..          ...          ...            ...                ...
242  02-03-2568  12180031766  1770300090228               8716
243  02-03-2568  12180032288  1801800007494               7933
244  02-03-2568  12170011716  1209700541157               7086
245  02-03-2568  12170056861  3640600662127               7010
246  02-03-2568  12170021692  1360100022401               2461

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                     9854                     29
1                      0                    10263                     29
2                      0                     7463                     29
3                      0                     8123                     29
4                      0                    10618                     29
..                   ...                      ...                    ...
242                    0                      385                     29
243                    0                      398                     29
244                    0                      347                     29
245                    0                      436                     29
246                    0                      310                     29

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       2            29                      2  ...       ACT
1                       2            29                      2  ...  In-House
2                       2            29                      2  ...       MMN
3                       2            29                      2  ...       MMN
4                       2            29                      2  ...  In-House
..                    ...           ...                    ...  ...       ...
242                     2            29                      2  ...  In-House
243                     2            29                      2  ...       ACT
244                     2            29                      2  ...       KOR
245                     2            29                      2  ...  In-House
246                     2            29                      2  ...       KWC

       new_oa reason  product_val product_df2        bucket  group  \
0         ACT    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
1    In-House    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
2         MMN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
3         MMN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
4    In-House    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
..        ...    ...          ...         ...           ...    ...
242  In-House    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
243       ACT    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
244       PCN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
245  In-House    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
246       ACT    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7

               assign_type  product_abbr  assigned
0    assign_old_assign_new            RL       DHA
1    assign_old_assign_new            RL       KOR
2    assign_old_assign_new            RL       ACT
3    assign_old_assign_new            RL       PCN
4    assign_old_assign_new            RL       KOR
..                     ...           ...       ...
242  assign_old_assign_new            RL       PCN
243  assign_old_assign_new            RL       DHA
244  assign_old_assign_new            RL       DHA
245  assign_old_assign_new            RL       PCN
246  assign_old_assign_new            RL       PCN

[247 rows x 92 columns]
size 384
oa      product        bucket  no_of_oa rank %assign        oa  group  \
12  RL ML TL  XDAY-OD1-OD2         7    1    0.22       PCN      7
13  RL ML TL  XDAY-OD1-OD2       NaN    2    0.20       ACT      7
14  RL ML TL  XDAY-OD1-OD2       NaN    3    0.18  In-House      7
15  RL ML TL  XDAY-OD1-OD2       NaN    4    0.12       DHA      7
16  RL ML TL  XDAY-OD1-OD2       NaN    5    0.11       KOR      7
17  RL ML TL  XDAY-OD1-OD2       NaN    6    0.09       KWC      7
18  RL ML TL  XDAY-OD1-OD2       NaN    7    0.08       MMN      7

              assign_type
12  assign_old_assign_new
13  assign_old_assign_new
14  assign_old_assign_new
15  assign_old_assign_new
16  assign_old_assign_new
17  assign_old_assign_new
18  assign_old_assign_new
final_df       base_date  customer_no    customer_no  principal_balance  \
0    02-03-2568  12180022495  1440700114461             558424
1    02-03-2568  12180036546  3100603288344             411051
2    02-03-2568  12210001910  3530700440461             376457
3    02-03-2568  14230161634  3100900596094             319994
4    02-03-2568  14220035907  3119900274257             290540
..          ...          ...            ...                ...
379  02-03-2568  12180007926  1160300134441              10490
380  02-03-2568  14230193153  1450600255098              10443
381  02-03-2568  12180042969  3301001081171              10125
382  02-03-2568  14220080218  1129901703414               9899
383  02-03-2568  12170051370  3340600296271               7712

     total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
0                      0                    18462                     29
1                      0                    17607                     29
2                      0                    14274                     29
3                      0                    13780                     29
4                      0                    13508                     29
..                   ...                      ...                    ...
379                    0                      493                     29
380                    0                      333                     29
381                    0                      323                     29
382                    0                      428                     29
383                    0                      363                     29

     overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...    old_oa  \
0                       2            29                      2  ...       PCN
1                       2            29                      2  ...       PCN
2                       2            29                      2  ...       ACT
3                       2            29                      2  ...       PCN
4                       2            29                      2  ...       PCN
..                    ...           ...                    ...  ...       ...
379                     2            29                      2  ...       MMN
380                     2            29                      2  ...       KWC
381                     2            29                      2  ...       DHA
382                     2            29                      2  ...       ACT
383                     2            29                      2  ...  In-House

       new_oa reason  product_val product_df2        bucket  group  \
0         PCN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
1         PCN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
2         ACT    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
3         PCN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
4         PCN    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
..        ...    ...          ...         ...           ...    ...
379       KWC    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
380       KWC    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
381       DHA    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
382       ACT    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7
383  In-House    NaN     RL ML TL    RL ML TL  XDAY-OD1-OD2      7

               assign_type  product_abbr  assigned
0    assign_old_assign_new            RL  In-House
1    assign_old_assign_new            RL       PCN
2    assign_old_assign_new            RL       ACT
3    assign_old_assign_new            RL  In-House
4    assign_old_assign_new            RL       PCN
..                     ...           ...       ...
379  assign_old_assign_new            RL       ACT
380  assign_old_assign_new            RL       PCN
381  assign_old_assign_new            RL       KOR
382  assign_old_assign_new            RL       ACT
383  assign_old_assign_new            RL       MMN

[384 rows x 92 columns]
Processing code: OD2
size 140
oa      product        bucket  no_of_oa rank %assign        oa  group  \
12  RL ML TL  XDAY-OD1-OD2         7    1    0.22       PCN      7
13  RL ML TL  XDAY-OD1-OD2       NaN    2    0.20       ACT      7
14  RL ML TL  XDAY-OD1-OD2       NaN    3    0.18  In-House      7

In [297]:
final = pd.concat([save_old_assign_new.reset_index(drop=True), 
           assign_all.reset_index(drop=True), 
           assign_old_assign_new.reset_index(drop=True)], ignore_index=True)

In [298]:
final.to_excel('./output/testalll.xlsx')

In [ ]:
# merged_df = pd.DataFrame()  # Initialize an empty DataFrame

# for i in loop_test:
#     tt = assign_new.loc[assign_new['overdue_months_division_code'] == i]
#     df_sorted = tt.sort_values(by='principal_balance', ascending=False)
#     split_dfs = np.array_split(df_sorted, 4)
#     updated_dfs = []
#     for i, split_df in enumerate(split_dfs):
#         print('iiiiii',i)
#         print('split_df',split_df)
#         assign_sort = assign_to_oa(split_df)
#         updated_dfs.append(assign_sort) 
#     final_df = pd.concat(updated_dfs).reset_index(drop=True)
#     merged_df = pd.concat([merged_df, final_df], ignore_index=True)

In [ ]:
# merged_df = pd.DataFrame()  # Initialize an empty DataFrame

# for i in loop_test:
#     tt = assign_new.loc[assign_new['overdue_months_division_code'] == i]
#     df_sorted = tt.sort_values(by='principal_balance', ascending=False)
#     split_dfs = np.array_split(df_sorted, 4)
#     updated_dfs = []
#     for i, split_df in enumerate(split_dfs):
#         print('iiiiii',i)
#         print('split_df',split_df)
#         assign_sort = assign_to_oa(split_df)
#         updated_dfs.append(assign_sort) 
#     final_df = pd.concat(updated_dfs).reset_index(drop=True)
#     merged_df = pd.concat([merged_df, final_df], ignore_index=True)

# # print(merged_df)

c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_y['assigned'] = np.random.choice(oa['oa'], size=size_y, p=oa['%assign'])
C:\Users\Sireetron\AppData\Local\Temp\ipykernel_55784\1994501189.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_n['assigned'] = np.random.choice(oa['oa'], size=size_n, p=oa['%assign'])
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

iiiiii 0
split_df        base_date  customer_no    customer_no  principal_balance  \
4838  02-03-2568  14241637695  1570500212116             677337
3678  02-03-2568  14231256441  1150600100496             533554
1160  02-03-2568  14231306927  1439900403775             532369
3465  02-03-2568  14231040514  1249900338169             526941
4087  02-03-2568  14231036451  1430700058219             470648
...          ...          ...            ...                ...
2564  02-03-2568  14220071118  5360200035213              35907
450   02-03-2568  14220051698  3400700564919              35760
1947  02-03-2568  12170061614  5660190006922              35732
3842  02-03-2568  12160010114  1349900292311              35549
4062  02-03-2568  12160013002  1439900212015              35478

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
4838                    0                    48815                     91
3678                    0                    46775                     91
1160                    0                    51424                     91
3465                    0                    48290                     91
4087                    0                    44563                     91
...                   ...                      ...                    ...
2564                    0                     2676                     91
450                     0                     3370                     91
1947                    0                     3556                     91
3842                    0                     3323                     91
4062                    0                     3517                     91

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
4838                     4            91                      4  ...
3678                     4            91                      4  ...
1160                     4            91                      4  ...
3465                     4            91                      4  ...
4087                     4            91                      4  ...
...                    ...           ...                    ...  ...
2564                     4            91                      4  ...
450                      4            91                      4  ...
1947                     4            91                      4  ...
3842                     4            91                      4  ...
4062                     4            91                      4  ...

     product_df1 status_lm    old_oa  new_oa reason  product_val  product_df2  \
4838         C4C    UNSAVE       DHA     DHA    NaN          C4C          C4C
3678         C4C    UNSAVE       PCN     PCN    NaN          C4C          C4C
1160         C4C    UNSAVE       PCN     DHA    NaN          C4C          C4C
3465         C4C    UNSAVE       PCN     PCN    NaN          C4C          C4C
4087         C4C    UNSAVE       PCN     DHA    NaN          C4C          C4C
...          ...       ...       ...     ...    ...          ...          ...
2564         TDR    UNSAVE  In-House     MGC    NaN     RL ML TL     RL ML TL
450     RL ML TL    UNSAVE       DHA     KWC    NaN     RL ML TL     RL ML TL
1947    RL ML TL    UNSAVE       MMN     MMN    NaN     RL ML TL     RL ML TL
3842    RL ML TL    UNSAVE       KWC     UPC    NaN     RL ML TL     RL ML TL
4062    RL ML TL    UNSAVE       ACT     KWC    NaN     RL ML TL     RL ML TL

                                bucket  group          assign_type
4838  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new
3678  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new
1160  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new
3465  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new
4087  XDAY-OD1-OD2-OD3-OD4-OD5-OD6-NPL      3  save_old_assign_new
...                                ...    ...                  ...
2564                   OD3-OD4-OD5-OD6      8  save_old_assign_new
450                    OD3-OD4-OD5-OD6      8  save_old_assign_new
1947                   OD3-OD4-OD5-OD6      8  save_old_assign_new
3842                   OD3-OD4-OD5-OD6      8  save_old_assign_new
4062                   OD3-OD4-OD5-OD6      8  save_old_assign_new

[338 rows x 90 columns]
iiiiii 1
split_df        base_date  customer_no    customer_no  principal_balance  \
2467  02-03-2568  14230599537  1350500006712              35455
4665  02-03-2568  12170053526  3430500007315              35435
2529  02-03-2568  13210002997  1200600008955              35330
2426  02-03-2568  12170017480  1320900178227              35253
1705  02-03-2568  14220082142  1460700188066              35192
...          ...          ...            ...                ...
1764  02-03-2568  12180025884  1520800062357              22900
514   02-03-2568  14230305722  3560100385826              22872
393   02-03-2568  14220046050  1100700676691              22780
412   02-03-2568  14242033191  1199900731252              22719
344   02-03-2568  14220031106  1361300050654              22669

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
2467                    0                     3604                     91
4665                    0                     3549                     91
2529                    0                     7108                     91
2426                    0                     3027                     91
1705                    0                     3389                     91
...                   ...                      ...                    ...
1764                    0                     2286                     91
514                     0                     2327                     91
393                     0                     2318                     91
412                     0                     2251                     91
344                     0                     2293                     91

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
2467                     4            91                      4  ...
4665                     4            91                      4  ...
2529                     4            91                      4  ...
2426                     4            91                      4  ...
1705                     4            91                      4  ...
...                    ...           ...                    ...  ...
1764                     4            91                      4  ...
514                      4            91                      4  ...
393                      4            91                      4  ...
412                      4            91                      4  ...
344                      4            91                      4  ...

     product_df1 status_lm    old_oa  new_oa reason  product_val  product_df2  \
2467    RL ML TL    UNSAVE       KOR     GMV    NaN     RL ML TL     RL ML TL
4665    RL ML TL    UNSAVE  In-House     MMN    NaN     RL ML TL     RL ML TL
2529         TDR    UNSAVE       KOR     UPC    NaN     RL ML TL     RL ML TL
2426    RL ML TL    UNSAVE       ACT     GMV    NaN     RL ML TL     RL ML TL
1705    RL ML TL    UNSAVE       KWC     MGC    NaN     RL ML TL     RL ML TL
...          ...       ...       ...     ...    ...          ...          ...
1764    RL ML TL    UNSAVE       MMN     GMV    NaN     RL ML TL     RL ML TL
514     RL ML TL    UNSAVE       MMN     GMV    NaN     RL ML TL     RL ML TL
393     RL ML TL    UNSAVE       KOR     MGC    NaN     RL ML TL     RL ML TL
412     RL ML TL    UNSAVE  In-House     KWC    NaN     RL ML TL     RL ML TL
344     RL ML TL    UNSAVE       ACT     MMN    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
2467  OD3-OD4-OD5-OD6      8  save_old_assign_new
4665  OD3-OD4-OD5-OD6      8  save_old_assign_new
2529  OD3-OD4-OD5-OD6      8  save_old_assign_new
2426  OD3-OD4-OD5-OD6      8  save_old_assign_new
1705  OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
1764  OD3-OD4-OD5-OD6      8  save_old_assign_new
514   OD3-OD4-OD5-OD6      8  save_old_assign_new
393   OD3-OD4-OD5-OD6      8  save_old_assign_new
412   OD3-OD4-OD5-OD6      8  save_old_assign_new
344   OD3-OD4-OD5-OD6      8  save_old_assign_new

[338 rows x 90 columns]
iiiiii 2
split_df        base_date  customer_no    customer_no  principal_balance  \
1121  02-03-2568  14231464268  1420500062131              22620
1854  02-03-2568  14230231166  1460700085453              22586
604   02-03-2568  14231053931  3100201068536              22522
4392  02-03-2568  12170035024  1659900169185              22510
4129  02-03-2568  12180022812  1450100094575              22493
...          ...          ...            ...                ...
104   02-03-2568  14220109723  1450200225078              14087
1543  02-03-2568  14220025611  5330400207123              14077
3823  02-03-2568  12170017830  1329900180548              14023
2633  02-03-2568  14230396567  1101100253421              14015
4210  02-03-2568  14230700908  1510100335555              14000

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
1121                    0                     2303                     91
1854                    0                     2073                     91
604                     0                     9410                     91
4392                    0                     2241                     91
4129                    0                     2275                     91
...                   ...                      ...                    ...
104                     0                     1412                     91
1543                    0                     1408                     91
3823                    0                     1200                     91
2633                    0                     1064                     91
4210                    0                     7161                     91

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
1121                     4            91                      4  ...
1854                     4            91                      4  ...
604                      4            91                      4  ...
4392                     4            91                      4  ...
4129                     4            91                      4  ...
...                    ...           ...                    ...  ...
104                      4            91                      4  ...
1543                     4            91                      4  ...
3823                     4            91                      4  ...
2633                     4            91                      4  ...
4210                     4            91                      4  ...

     product_df1 status_lm old_oa  new_oa reason  product_val  product_df2  \
1121    RL ML TL    UNSAVE    PCN     UPC    NaN     RL ML TL     RL ML TL
1854    RL ML TL    UNSAVE    PCN     GMV    NaN     RL ML TL     RL ML TL
604     RL ML TL    UNSAVE    MMN     MGC    NaN     RL ML TL     RL ML TL
4392    RL ML TL    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL
4129    RL ML TL    UNSAVE    KOR     KWC    NaN     RL ML TL     RL ML TL
...          ...       ...    ...     ...    ...          ...          ...
104     RL ML TL    UNSAVE    PCN     UPC    NaN     RL ML TL     RL ML TL
1543    RL ML TL    UNSAVE    DHA     KWC    NaN     RL ML TL     RL ML TL
3823    RL ML TL    UNSAVE    KOR     MMN    NaN     RL ML TL     RL ML TL
2633    RL ML TL    UNSAVE    KOR     UPC    NaN     RL ML TL     RL ML TL
4210    RL ML TL    UNSAVE    ACT     KWC    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
1121  OD3-OD4-OD5-OD6      8  save_old_assign_new
1854  OD3-OD4-OD5-OD6      8  save_old_assign_new
604   OD3-OD4-OD5-OD6      8  save_old_assign_new
4392  OD3-OD4-OD5-OD6      8  save_old_assign_new
4129  OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
104   OD3-OD4-OD5-OD6      8  save_old_assign_new
1543  OD3-OD4-OD5-OD6      8  save_old_assign_new
3823  OD3-OD4-OD5-OD6      8  save_old_assign_new
2633  OD3-OD4-OD5-OD6      8  save_old_assign_new
4210  OD3-OD4-OD5-OD6      8  save_old_assign_new

[337 rows x 90 columns]
iiiiii 3
split_df        base_date  customer_no    customer_no  principal_balance  \
566   02-03-2568  14220085389  1199600304642              13933
2914  02-03-2568  14230819537  1319900581470              13885
2727  02-03-2568  12170032288  1570400166431              13848
3358  02-03-2568  14220020870  3471200093489              13785
4694  02-03-2568  14230341150  1710500316246              13755
...          ...          ...            ...                ...
26    02-03-2568  14220060367  1350300156257                999
2120  02-03-2568  14220141649  1343000002915                930
576   02-03-2568  12170060351  5120100083021                899
3207  02-03-2568  14230620129  1329901188640                835
4367  02-03-2568  14220105649  1102003086711                535

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
566                     0                     1308                     91
2914                    0                     7344                     91
2727                    0                     1281                     91
3358                    0                     1282                     91
4694                    0                     1281                     91
...                   ...                      ...                    ...
26                      0                      363                     91
2120                    0                      973                     91
576                     0                      354                     91
3207                    0                      928                     91
4367                    0                      535                     91

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
566                      4            91                      4  ...
2914                     4            91                      4  ...
2727                     4            91                      4  ...
3358                     4            91                      4  ...
4694                     4            91                      4  ...
...                    ...           ...                    ...  ...
26                       4            91                      4  ...
2120                     4            91                      4  ...
576                      4            91                      4  ...
3207                     4            91                      4  ...
4367                     4            91                      4  ...

     product_df1 status_lm    old_oa  new_oa reason  product_val  product_df2  \
566     RL ML TL    UNSAVE       ACT     MMN    NaN     RL ML TL     RL ML TL
2914    RL ML TL    UNSAVE       PCN     UPC    NaN     RL ML TL     RL ML TL
2727    RL ML TL    UNSAVE       DHA     KWC    NaN     RL ML TL     RL ML TL
3358    RL ML TL    UNSAVE       KOR     MMN    NaN     RL ML TL     RL ML TL
4694    RL ML TL    UNSAVE       KOR     UPC    NaN     RL ML TL     RL ML TL
...          ...       ...       ...     ...    ...          ...          ...
26      RL ML TL    UNSAVE  In-House     KWC    NaN     RL ML TL     RL ML TL
2120    RL ML TL    UNSAVE       KOR     KWC    NaN     RL ML TL     RL ML TL
576     RL ML TL    UNSAVE       ACT     KWC    NaN     RL ML TL     RL ML TL
3207    RL ML TL    UNSAVE       KOR     KWC    NaN     RL ML TL     RL ML TL
4367    RL ML TL    UNSAVE       ACT     KWC    NaN     RL ML TL     RL ML TL

               bucket  group          assign_type
566   OD3-OD4-OD5-OD6      8  save_old_assign_new
2914  OD3-OD4-OD5-OD6      8  save_old_assign_new
2727  OD3-OD4-OD5-OD6      8  save_old_assign_new
3358  OD3-OD4-OD5-OD6      8  save_old_assign_new
4694  OD3-OD4-OD5-OD6      8  save_old_assign_new
...               ...    ...                  ...
26    OD3-OD4-OD5-OD6      8  save_old_assign_new
2120  OD3-OD4-OD5-OD6      8  save_old_assign_new
576   OD3-OD4-OD5-OD6      8  save_old_assign_new
3207  OD3-OD4-OD5-OD6      8  save_old_assign_new
4367  OD3-OD4-OD5-OD6      8  save_old_assign_new

[337 rows x 90 columns]
iiiiii 0
split_df        base_date  customer_no    customer_no  principal_balance  \
1604  02-03-2568  12210001500  3130200523108             730781
1652  02-03-2568  14231166417  3101900146367             513380
680   02-03-2568  12160023110  3100902824566             433667
241   02-03-2568  12210001309  3101200393965             407958
2591  02-03-2568  14231356102  1331200037753             401496
...          ...          ...            ...                ...
2882  02-03-2568  14220014163  1209601264422              31624
1602  02-03-2568  12170047433  3180600529995              31567
2504  02-03-2568  12170014598  1301700222088              31368
203   02-03-2568  12170021749  1360400002421              31274
3839  02-03-2568  14241679876  1320200119821              31248

      total_unclaimed_amt  repayment_target_amount  overdue_days(morning)  \
1604                    0                    77512                    152
1652                    0                    67134                    152
680                     0                    52058                    152
241                     0                    50316                    152
2591                    0                    54404                    152
...                   ...                      ...                    ...
2882                    0                     4659                    152
1602                    0                     4261                    152
2504                    0                     4627                    152
203                     0                     4484                    152
3839                    0                     4612                    152

      overdue_cnt(morning)  overdue_days  num_of_overdue_months  ...  \
1604                     6           152                      6  ...
1652                     6           152                      6  ...
680                      6           152                      6  ...
241                      6           152                      6  ...
2591                     6           152                      6  ...
...                    ...           ...                    ...  ...
2882                     6           152                      6  ...
1602                     6           152                      6  ...
2504                     6           152                      6  ...
203                      6           152                      6  ...
3839                     6           152                      6  ...

     product_df1 status_lm old_oa  new_oa reason  product_val  product_df2  \
1604    RL ML TL    UNSAVE    KWC     KWC    NaN     RL ML TL     RL ML TL
1652         C4C    UNSAVE    DHA     DHA    NaN          C4C          C4C
680     RL ML TL    UNSAVE    MMN     KWC    NaN     RL ML TL     RL ML TL
241     RL ML TL    UNSAVE    MGC     MMN    NaN     RL ML TL     RL ML TL
2591         C4C    UNSAVE    DHA     PCN    NaN          C4C          C4C
...          ...       ...    ...     ...    ...          ...          ...
2882    RL ML TL    UNSAVE    MMN     MGC    NaN     RL ML TL     RL ML TL
1602    RL ML TL    UNSAVE    MGC     MGC    NaN     RL ML TL     RL ML TL
2504    RL ML TL    UNSAVE    GMV     KWC    NaN     RL ML TL     RL ML TL
203     RL ML TL    UNSAVE    UPC     MMN    NaN     RL ML TL     RL ML TL
3839    RL ML TL    UNSAVE    KWC     UPC    NaN     RL ML TL     RL ML TL

                                bucket  group          assign_type

c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)
c:\Users\Sireetron\automated\kbj_automation\.venv\Lib\site-packages\numpy\_core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

---

In [34]:
save_old_assign_new = ar_merge[ar_merge['assign_type'] == 'save_old_assign_new'].reset_index(drop=True)
save_old  = save_old_assign_new.loc[ (save_old_assign_new['status_lm'] == 'SAVE')]
save_old['assigned'] = save_old['old_oa']
assign_new =  save_old_assign_new.loc[ ~(save_old_assign_new['status_lm'] == 'SAVE')]

/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/3980200684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  save_old['assigned'] = save_old['old_oa']

In [35]:

assign_new= assign_to_oa(assign_new)

/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/1720306361.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ar_df['assigned'] = np.random.choice(oa['oa'], size=size, p=oa['%assign'])
/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/1720306361.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ar_df['assigned'] = np.random.choice(oa['oa'], size=size, p=oa['%assign'])

In [36]:



save_old_assign_new = pd.concat([save_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

In [37]:
assign_all = ar_merge[ar_merge['assign_type'] == 'assign_all'].reset_index(drop=True)
assign_all= assign_to_oa(assign_all)

/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/1720306361.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ar_df['assigned'] = np.random.choice(oa['oa'], size=size, p=oa['%assign'])
/var/folders/4j/cdpcxkns09b78ly2tfngzmh40000gn/T/ipykernel_36395/1720306361.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ar_df['assigned'] = np.random.choice(oa['oa'], size=size, p=oa['%assign'])

In [38]:
assign_old_assign_new = ar_merge[ar_merge['assign_type'] == 'assign_old_assign_new'].reset_index(drop=True)
assign_old  = assign_old_assign_new.loc[ (assign_old_assign_new['status_lm'] == 'SAVE')]
assign_old= assign_to_oa(assign_old)
assign_new =  assign_old_assign_new.loc[ ~(assign_old_assign_new['status_lm'] == 'SAVE')]
assign_new= assign_to_oa(assign_new)
assign_old_assign_new = pd.concat([assign_old.reset_index(drop=True), 
           assign_new.reset_index(drop=True)],  ignore_index=True)

In [39]:
final = pd.concat([save_old_assign_new.reset_index(drop=True), 
           assign_all.reset_index(drop=True), 
           assign_old_assign_new.reset_index(drop=True)], ignore_index=True)

In [40]:
final

,base_date,customer_no,customer_no,principal_balance,total_unclaimed_amt,repayment_target_amount,overdue_days(morning),overdue_cnt(morning),overdue_days,num_of_overdue_months,...,status_lm,old_oa,new_oa,reason,product_val,product_df2,bucket,group,assign_type,assigned
0,02-03-2568,12210001890,3509901373107,531876,0,60509,182,7,182,7,...,SAVE,KWC,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
1,02-03-2568,12170009237,1160200087328,58292,0,4807,91,4,91,4,...,SAVE,GMV,GMV,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,GMV
2,02-03-2568,14230319526,5330400027036,14646,0,1587,121,5,121,5,...,SAVE,KWC,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
3,02-03-2568,12180001838,1100702304694,18016,0,3150,121,5,121,5,...,SAVE,KWC,KWC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,KWC
4,02-03-2568,12180047421,3460300108568,125693,0,11005,91,4,91,4,...,SAVE,MGC,MGC,NaN,RL ML TL,RL ML TL,OD3-OD4-OD5-OD6,8,save_old_assign_new,MGC
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38108,02-03-2568,12180046710,3430501142780,9311,0,300,1,1,1,1,...,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,KWC
38109,02-03-2568,12180048102,3489900074743,263412,0,7902,1,1,1,1,...,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,DHA
38110,02-03-2568,12170058647,3760100540587,15789,0,994,60,3,60,3,...,UNSAVE,ACT,ACT,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,KWC
38111,02-03-2568,12180032167,1801200102577,11978,0,474,29,2,29,2,...,UNSAVE,ACT,PCN,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,PCN
38112,02-03-2568,12200000014,1100400134435,58220,0,1747,1,1,1,1,...,NEW,NaN,Delay calling,NaN,RL ML TL,RL ML TL,XDAY-OD1-OD2,7,assign_old_assign_new,DHA

In [42]:
final.to_excel('./output/assignbycondition.xlsx')

In [ ]:
# final.to_csv('./output/assignbycondition.csv')

In [99]:
ar_path = glob.glob("./input/AR/*")[0].split('\\')[-1]  
ar = read_file('./input/AR/',ar_path)
ar_path_name = re.sub(r'\.(csv|xlsx)$', '', ar_path)

In [100]:
ar_path_name

'Ex. data assign'