In [1]:
import pandas as pd
# from utils import select_min_pay, read_input_file, export_file
import glob
import numpy as np
import pandas as pd
import glob
import logging
import win32com.client as win32
import os
import jaydebeapi
from const import QUERY, CONNECT

In [2]:
CONNECT.PORT

'jdbc:oracle:thin:@10.1.41.100:1622/JFDWH'

In [3]:
class CONNECT:
    DB = "oracle.jdbc.OracleDriver"
    PORT = "jdbc:oracle:thin:@10.1.41.100:1622/JFDWH"
    # USER = ["natdilok","Kbjparn#3009"] #user p parn
    USER = ["supat", "SU#pass005"]
    CNN = "ojdbc17.jar"

In [4]:
CONNECT.DB

'oracle.jdbc.OracleDriver'

In [5]:
conn = jaydebeapi.connect(
    CONNECT.DB,
    CONNECT.PORT,
    CONNECT.USER,
    CONNECT.CNN,
    )
# cur = conn.cursor()  


# query = pd.read_sql(QUERY.query, conn)

In [6]:
query = pd.read_sql('SELECT * FROM JFDWH.CUSTOMER c OFFSET 5 ROWS FETCH NEXT 10 ROWS ONLY', conn)

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_26372\1619209813.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  query = pd.read_sql('SELECT * FROM JFDWH.CUSTOMER c OFFSET 5 ROWS FETCH NEXT 10 ROWS ONLY', conn)

In [7]:
query

,AS_OF_DATE,NATIONAL_ID_NO,TITLE,NAME,SURNAME,GROSS_INCOME,NET_INCOME,BANK_CODE,BANK_BRANCH_CODE,BANK_ACCOUNT_NO,...,FIRST_SOURCE_CUSTOMER,MOBILE_STATUS,DATA_SOURCE,APPLICATION_DATETIME,UPDATE_DATE,AMPUR,PROVINCE,POST_CODE,CHANGED_TCL,CONTRACT_TCL
0,2025-04-09 00:00:00,3311400201065,นาง,เบญจมาศ,บุญเย็น,25000,0,004,None,1253234276,...,None,None,GIS,None,None,None,None,None,0,0
1,2025-04-09 00:00:00,3340900490081,นาง,เกษร,วงษาบุตร,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
2,2025-04-09 00:00:00,3400300171901,นางสาว,ทองด่วน,จำปาชุม,24492,23992,None,None,None,...,None,None,GIS,None,None,None,None,None,0,25900
3,2025-04-09 00:00:00,3400300154420,นาง,อมร,ศรีทะโคตร,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
4,2025-04-09 00:00:00,3400300155060,นางสาว,เยาวรัตน์,ทิ้งแสน,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
5,2025-04-09 00:00:00,3400300156775,นาง,สุภาวฎี,วันเพ็ชร,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
6,2025-04-09 00:00:00,3400300198796,นางสาว,เกตมณี,ประเสริฐสังข์,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
7,2025-04-09 00:00:00,3400300207451,นางสาว,เกษร,กิดเกียน,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
8,2025-04-09 00:00:00,3400300220112,นาย,อัศนัย,วันเวช,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0
9,2025-04-09 00:00:00,3400300278285,นางสาว,ขวัญใจ,ชัยสงคราม,0,0,None,None,None,...,None,None,GIS,None,None,None,None,None,0,0

In [ ]:
pd.rea