In [58]:
import os
import pandas as pd
import glob
import pandas as pd
import glob
import numpy as np
import pandas as pd
import glob
# import win32com.client as win32
import jaydebeapi
import re

In [80]:
# Define the input folder
input_folder = "./input/assign_input/"

# Get a list of files in the folder (xlsx or csv)
files = glob.glob(os.path.join(input_folder, "*.xlsx")) + glob.glob(os.path.join(input_folder, "*.csv"))
print(files)
# Read only the first file found
if files:
    file_path = files[0]
    # print(f"Reading file: {file_path}")
    
    if file_path.endswith(".xlsx"):
        assign = pd.read_excel(file_path,sheet_name='Data SMS', dtype={'MobileNo': str})
    elif file_path.endswith(".csv"):
        assign = pd.read_csv(file_path,sheet_name='Data SMS', dtype={'MobileNo': str})
    
    # print(assign.head())  # Display first few rows
else:
    print("No file found in the folder.")

['./input/assign_input\\assign.xlsx']

In [81]:
assign.columns

Index(['BaseDate', 'loan_no', 'customer_name', 'Product Code', 'OverdueDays',
       'OverdueCnt', 'Loan Balance', 'customer_id', 'MobileNo',
       'MONTHLY_INST_AMT', '4 Digit', 'SMS_TYPE'],
      dtype='object')

In [85]:
assign

,BaseDate,loan_no,customer_name,Product Code,OverdueDays,OverdueCnt,Loan Balance,customer_id,MobileNo,MONTHLY_INST_AMT,4 Digit,SMS_TYPE
0,20250318,9000421122000010,NaN,A101:C4C,0,99:NORMAL,88620.35,3321000449035,0894820973,5184,10,C4C
1,20250318,9000421092000017,NaN,A101:C4C,0,99:NORMAL,114743.25,3110101313920,0961596564,7461,53,C4C
2,20250318,9000421082000103,NaN,A101:C4C,0,99:NORMAL,242683.53,3900700727872,0873997281,16390,103,C4C
3,20250318,9000421082000014,NaN,A101:C4C,0,99:NORMAL,35506.27,1339900081761,0827166948,8315,14,C4C
4,20250318,9000421042000056,NaN,A101:C4C,0,99:NORMAL,104599.19,1301300185738,0807331824,9160,56,C4C
...,...,...,...,...,...,...,...,...,...,...,...,...
350,20250318,1000163050000222,NaN,A101:C4C,0,99:NORMAL,6856.23,3100904568834,0904214681,2347,222,C4C
351,20250318,1000163050000150,NaN,A101:C4C,0,99:NORMAL,11650.05,3260400166847,0955829585,3990,150,C4C
352,20250318,1000163050000087,NaN,A101:C4C,0,99:NORMAL,8249.49,2841500018286,0869499596,2816,87,C4C
353,20250318,1000163040000122,NaN,A101:C4C,0,99:NORMAL,19363.22,2601100031465,0620039529,9856,122,C4C
354,20250318,1000163040000092,NaN,A101:C4C,0,99:NORMAL,6915.44,3730300343041,0969659262,3520,92,C4C

In [42]:
assign_delay = assign

In [82]:
def clean_column_names(df):
    df.columns = df.columns.str.lower()  # Convert to lowercase
    df.columns = df.columns.str.replace(r'\.', '', regex=True)
    df.columns = df.columns.str.replace(r' ', '_', regex=True)  # Replace non-alphanumeric characters with underscores
    df.columns = df.columns.str.replace('customer_id_no|customer_no|customer_id|national_id', 'customer_no', regex=True)  # Replace variations with 'customer_no'
    df.columns = df.columns.str.replace(r'loan_no|contract.*', 'contract_no', regex=True)
    df.columns = df.columns.str.replace(r'mobile.*', 'mobile_no', regex=True)
    df.columns = df.columns.str.replace(r'customer_name/surname\(thai\)', 'customer_name', regex=True)  # Replace 'customer_name/surname(thai)' with 'customer_name'
    return df

In [89]:
assign_delay = clean_column_names(assign)

In [90]:
assign_delay

,basedate,contract_no,customer_name,product_code,overduedays,overduecnt,loan_balance,customer_no,mobile_no,monthly_inst_amt,4_digit,sms_type
0,20250318,9000421122000010,NaN,A101:C4C,0,99:NORMAL,88620.35,3321000449035,0894820973,5184,10,C4C
1,20250318,9000421092000017,NaN,A101:C4C,0,99:NORMAL,114743.25,3110101313920,0961596564,7461,53,C4C
2,20250318,9000421082000103,NaN,A101:C4C,0,99:NORMAL,242683.53,3900700727872,0873997281,16390,103,C4C
3,20250318,9000421082000014,NaN,A101:C4C,0,99:NORMAL,35506.27,1339900081761,0827166948,8315,14,C4C
4,20250318,9000421042000056,NaN,A101:C4C,0,99:NORMAL,104599.19,1301300185738,0807331824,9160,56,C4C
...,...,...,...,...,...,...,...,...,...,...,...,...
350,20250318,1000163050000222,NaN,A101:C4C,0,99:NORMAL,6856.23,3100904568834,0904214681,2347,222,C4C
351,20250318,1000163050000150,NaN,A101:C4C,0,99:NORMAL,11650.05,3260400166847,0955829585,3990,150,C4C
352,20250318,1000163050000087,NaN,A101:C4C,0,99:NORMAL,8249.49,2841500018286,0869499596,2816,87,C4C
353,20250318,1000163040000122,NaN,A101:C4C,0,99:NORMAL,19363.22,2601100031465,0620039529,9856,122,C4C
354,20250318,1000163040000092,NaN,A101:C4C,0,99:NORMAL,6915.44,3730300343041,0969659262,3520,92,C4C

In [64]:
customer = pd.read_csv('./input/customer_input/customerdata.csv', dtype={'mobile_phone_no_val': str, 
                                                           'natioanal_id_val': str, 
                                                           'contract_no_val': str})

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_36404\723337536.py:1: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  customer = pd.read_csv('./input/customer_input/customerdata.csv', dtype={'mobile_phone_no_val': str,

In [65]:
customer

,as_of_date,contract_no_val,national_id,channel,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address
0,2025-03-09 00:00:00.000,7230770100788438,1670200222301,NaN,642.50,2023-08-01 00:00:00.000,สุภารัตน์,จันทรเดช,0825918429,308 หมู่ที่ 19 ต. พุทธบาท อ. ชนแดน จ. เพชรบูรณ์
1,2025-03-09 00:00:00.000,7230730100792026,3100902265982,NaN,0.00,2023-08-01 00:00:00.000,กัลยาลัชญ์,เลิศสกลพันธ์,0954142642,เลขที่157/182 หมูที่5 ซอย- ถนนเทพารักษ์ ต. ...
2,2025-03-09 00:00:00.000,7230770100791200,1309700127678,NaN,0.00,2023-08-01 00:00:00.000,พณิชกิจ,ภู่ถนนนอก,0934925725,74 หมู่ที่ 3 ต. ขุนทอง อ. บัวใหญ่ จ. นครราชสีมา
3,2025-03-09 00:00:00.000,7230730100797651,1210600057972,NaN,0.00,2023-08-01 00:00:00.000,ธนัชพร,พุดชวา,0616714459,108/2หมู่4 ซอย- ถนน- ต. ตาสิทธิ์ อ. ปลวกแดง ...
4,2025-03-09 00:00:00.000,7230770100796995,3909900408566,NaN,325.47,2023-08-01 00:00:00.000,กิ่ง,แสงแก้ว,0815761613,115/56 หมู่ที่ 8 ต. เขารูปช้าง อ. เมืองสงขลา...
...,...,...,...,...,...,...,...,...,...,...
5323431,2025-03-09 00:00:00.000,7230970101212660,3720800296417,NaN,450.91,2023-11-01 00:00:00.000,มานิตา,สมใจเดช,0824818436,70/4 หมู่ที่ 4 ต. บ้านสระ อ. สามชุก จ. สุพรร...
5323432,2025-03-09 00:00:00.000,7230970101246004,1101800323155,NaN,0.00,2023-11-01 00:00:00.000,ชลชินี,ชวาลาธวัช,0946188116,208/4 วจี ต. หล่มสัก อ. หล่มสัก จ. เพชรบูรณ์
5323433,2025-03-09 00:00:00.000,7230970101265166,3670800065017,NaN,722.83,2023-11-01 00:00:00.000,จุมพล,ภิบาลศิลป์,0958205462,70/2 หมู่ที่ 3 ต. เชิงเนิน อ. เมืองระยอง จ. ...
5323434,2025-03-09 00:00:00.000,7230970101207882,3670800065017,NaN,0.00,2023-11-01 00:00:00.000,จุมพล,ภิบาลศิลป์,0958205462,70/2 หมู่ที่ 3 ต. เชิงเนิน อ. เมืองระยอง จ. ...
5323435,2025-03-09 00:00:00.000,7230930101208187,1539900723850,NaN,0.00,2023-11-01 00:00:00.000,ฉัตรชัย,พัดจันทร์หอม,0644945410,114/28ม.2 ต. หนองซ้ำซาก อ. บ้านบึง จ. ชลบุรี

In [79]:
glob.glob("./input/assign_input/*assign*.xlsx")

['./input/assign_input\\assign.xlsx']

In [66]:
assign_delay = clean_column_names(assign_delay)

In [50]:
assign_delay.columns

Index(['basedate', 'contract_no', 'product_code', 'overduedays', 'overduecnt',
       'loan_balance', 'customer_no', 'mobile_no', 'monthly_inst_amt',
       '4_digit', 'sms_type'],
      dtype='object')

In [19]:
class CONNECT:
    DB = "com.tmax.tibero.jdbc.TbDriver"
    PORT = "jdbc:tibero:thin:@192.169.10.51:18629:DSTFCC"
    # USER = ["natdilok","Kbjparn#3009"]| #user p parn
    USER = ["supat", "coll_sp@2025"]
    CNN = "tibero6-jdbc.jar"

In [24]:
conn = jaydebeapi.connect(
        CONNECT.DB,
        CONNECT.PORT,
        CONNECT.USER,
        CONNECT.CNN,
        )
cur = conn.cursor()  

sms_type = pd.read_sql(f'''
      SELECT * FROM SIREETRON.REF_SMS_WORDING 
    ''', conn) 
conn.close()

C:\Users\Sireetron\AppData\Local\Temp\ipykernel_36404\2701642280.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sms_type = pd.read_sql(f'''

In [51]:
sms_type = clean_column_names(sms_type)

In [52]:
sms_type

,id,sms_type,sms_wording
0,1,C4C,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
1,2,Unsave,สินเชื่อลงท้าย {4digit} ของท่านมียอดค้างชำระ โ...
2,3,In-House Unsave,สินเชื่อแคชจอยของท่านเกินกำหนดชำระ เพื่อหลีกเล...
3,4,SF+ Unsave (OD1-OD2),สินเชื่อของท่านค้างชำระ {totalunpaidbalance} บ...
4,5,SF+ non assign,สินเชื่อ Samsung บัญชีลงท้าย {4digit} เกินกำหน...
5,6,Delayed Calling,สินเชื่อแคชจอยของท่านเกินกำหนดชำระ เพื่อหลีกเล...
6,7,Offer TDR (old),พิเศษสำหรับบัญชีสินเชื่อของคุณลงท้าย {4digit} ...
7,8,TDR (GPD/Normal),พิเศษสำหรับบัญชีสินเชื่อของคุณลงท้าย {4digit} ...
8,9,TDR (SPD only),พิเศษสำหรับบัญชีสินเชื่อของคุณลงท้าย {4digit} ...
9,10,Offer Settlement,KBJ Capital ขอเสนอส่วนลดพิเศษสูงสุด 30% สำหรับ...
10,11,Offer Settlement,KBJ Capital ขอเสนอส่วนลดพิเศษสูงสุด 30% สำหรับ...
11,12,Ever Group,สินเชื่อแคชจอยของคุณลงท้าย {4digit} ครบกำหนดชำ...
12,13,แจ้งความ,ณ วันที่ (DD/MM/YY) ท่านมียอดค้างชำระตามสัญญาเ...
13,14,Offer collection fee,สินเชื่อ Kashjoy บัญชีลงท้าย {4digit} ได้รับสิ...
14,15,OA เตือนชำระ,สินเชื่อแคชจอยของท่านสัญญา {4digit} ยังมียอดค...
15,16,Offer Settlrment,ขอเสนอส่วนลดพิเศษสูงสุด XX% สำหรับวงเงินสินเชื...
16,17,MAX Discount,บัญชีสินเชื่อ kashjoy ลงท้าย {4digit} ของท่าน ...
17,18,GPD,ขอแจ้งให้ท่านทราบว่า ในรอบ [3 or 4] ปีที่ผ่านม...
18,19,SPD,ขอแจ้งให้ท่านทราบว่า ในรอบ 5 ปีที่ผ่านมา ท่านไ...
19,20,Non-Contact,สินเชื่อของท่านมียอดค้างชำระ {totalunpaidbala...

In [53]:
assign_delay = assign_delay.merge(sms_type,left_on='sms_type',right_on = 'sms_type', how='left')

In [54]:
assign_delay

,basedate,contract_no,product_code,overduedays,overduecnt,loan_balance,customer_no,mobile_no,monthly_inst_amt,4_digit,sms_type,id,sms_wording
0,20250318,9000421122000010,A101:C4C,0,99:NORMAL,88620.35,3321000449035,894820973,5184,10,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
1,20250318,9000421092000017,A101:C4C,0,99:NORMAL,114743.25,3110101313920,961596564,7461,53,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
2,20250318,9000421082000103,A101:C4C,0,99:NORMAL,242683.53,3900700727872,873997281,16390,103,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
3,20250318,9000421082000014,A101:C4C,0,99:NORMAL,35506.27,1339900081761,827166948,8315,14,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
4,20250318,9000421042000056,A101:C4C,0,99:NORMAL,104599.19,1301300185738,807331824,9160,56,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
350,20250318,1000163050000222,A101:C4C,0,99:NORMAL,6856.23,3100904568834,904214681,2347,222,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
351,20250318,1000163050000150,A101:C4C,0,99:NORMAL,11650.05,3260400166847,955829585,3990,150,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
352,20250318,1000163050000087,A101:C4C,0,99:NORMAL,8249.49,2841500018286,869499596,2816,87,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
353,20250318,1000163040000122,A101:C4C,0,99:NORMAL,19363.22,2601100031465,620039529,9856,122,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...
354,20250318,1000163040000092,A101:C4C,0,99:NORMAL,6915.44,3730300343041,969659262,3520,92,C4C,1,สินเชื่อรถยนต์แคชจอยของคุณลงท้าย {4digit} ครบก...

In [ ]:
customer.columns

Index(['as_of_date', 'contract_no_val', 'national_id', 'channel',
       'monthly_inst_amt', 'first_due_date', 'name_val', 'surname_val',
       'mobile_phone_no_val', 'resident_address'],
      dtype='object')

In [55]:
assign_delay['customer_no'] = assign_delay['customer_no'].astype(str)
assign_delay['contract_no'] = assign_delay['contract_no'].astype(str)
customer['contract_no_val'] = customer['contract_no_val'].astype(str)
customer['national_id'] = customer['national_id'].astype(str)

In [ ]:
if 'customer_name' in assign_delay.columns:
    # Remove leading/trailing spaces
    assign_delay['customer_name'] = assign_delay['customer_name'].str.strip()
    # Split 'customer_name' into 'name' and 'surname'
    assign_delay[['name', 'surname']] = assign_delay['customer_name'].str.split(n=1, expand=True)
    
    
    
else:
    # Handle the case where the column doesn't exist
    print("Error: 'customer_name' column not found in the DataFrame.")

Error: 'customer_name' column not found in the DataFrame.

In [56]:
assign_delay['customer_name'] = assign_delay['customer_name'].str.strip()
assign_delay[['name', 'surname']] = assign_delay['customer_name'].str.split(n=1, expand=True)

KeyError: 'customer_name'

In [39]:
assign_delay.columns

Index(['basedate', 'contract_no', 'product_code', 'overduedays', 'overduecnt',
       'contract_no', 'customer_no', 'mobile_no', 'monthly_inst_amt',
       '4_digit', 'sms_type', 'id', 'sms_wording'],
      dtype='object')

In [38]:
customer['contract_no_val']

0          7230770100788438
1          7230730100792026
2          7230770100791200
3          7230730100797651
4          7230770100796995
                 ...
5323431    7230970101212660
5323432    7230970101246004
5323433    7230970101265166
5323434    7230970101207882
5323435    7230930101208187
Name: contract_no_val, Length: 5323436, dtype: object

In [31]:
assign_delay_merge = assign_delay.merge(customer, left_on=['customer_no', 'contract_no'], right_on=['national_id' ,'contract_no_val'], how='left')

ValueError: The column label 'contract_no' is not unique.

In [250]:
assign_delay_merge.columns

Index(['no', 'contract_no', 'customer_no', 'customer_name', 'mobile_no',
       'status', 'ar_today', '4_digit', 'เบอร์ติดต่อกลับ', 'len', 'sms_type',
       'id', 'sms_wording', 'name', 'surname', 'as_of_date', 'contract_no_val',
       'national_id', 'channel', 'monthly_inst_amt', 'first_due_date',
       'name_val', 'surname_val', 'mobile_phone_no_val', 'resident_address'],
      dtype='object')

In [251]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,as_of_date,contract_no_val,national_id,channel,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,2025-03-09 00:00:00.000,7241070103997335,3801400039034,NaN,374.50,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,2025-03-09 00:00:00.000,7240870103414276,3219900169231,NaN,515.32,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,2025-03-09 00:00:00.000,7241170104261600,5820600036425,NaN,299.04,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,2025-03-09 00:00:00.000,7241170104203805,3250800192489,NaN,299.04,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,2025-03-09 00:00:00.000,7241170104262659,1819900360011,NaN,299.04,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,2025-03-09 00:00:00.000,7240370102335141,1479900403457,NaN,169.02,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,2025-03-09 00:00:00.000,7240270102254926,1160100243484,NaN,170.22,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,2025-03-09 00:00:00.000,7240270102265167,3430600440380,NaN,151.85,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,2025-03-09 00:00:00.000,7240270102199987,1759900023155,NaN,149.50,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,2025-03-09 00:00:00.000,7240370102310796,2401100016859,NaN,142.83,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น

In [252]:
assign_delay_merge['name_check'] = assign_delay_merge.apply(
    lambda row: True if row['name'] == row['name_val'] else row['name_val'],
    axis=1
)

In [253]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,contract_no_val,national_id,channel,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address,name_check
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,7241070103997335,3801400039034,NaN,374.50,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...,True
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,7240870103414276,3219900169231,NaN,515.32,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...,True
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,7241170104261600,5820600036425,NaN,299.04,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่,True
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,7241170104203805,3250800192489,NaN,299.04,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...,True
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,7241170104262659,1819900360011,NaN,299.04,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,7240370102335141,1479900403457,NaN,169.02,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช,True
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,7240270102254926,1160100243484,NaN,170.22,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...,True
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,7240270102265167,3430600440380,NaN,151.85,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....,True
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,7240270102199987,1759900023155,NaN,149.50,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...,True
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,7240370102310796,2401100016859,NaN,142.83,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น,True

In [254]:
assign_delay_merge['surname_check'] = assign_delay_merge.apply(
    lambda row: True if row['surname'] == row['surname_val'] else row['surname_val'],
    axis=1
)

In [255]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,national_id,channel,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address,name_check,surname_check
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,3801400039034,NaN,374.50,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...,True,True
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,3219900169231,NaN,515.32,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...,True,True
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,5820600036425,NaN,299.04,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่,True,True
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,3250800192489,NaN,299.04,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...,True,True
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,1819900360011,NaN,299.04,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,1479900403457,NaN,169.02,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช,True,True
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,1160100243484,NaN,170.22,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...,True,True
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,3430600440380,NaN,151.85,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....,True,True
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,1759900023155,NaN,149.50,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...,True,True
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,2401100016859,NaN,142.83,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น,True,True

In [256]:
assign_delay_merge['mobile_check'] = assign_delay_merge.apply(
    lambda row: True if row['mobile_no'] == row['mobile_phone_no_val'] else row['mobile_phone_no_val'],
    axis=1
)

In [257]:
assign_delay_merge['fullname_check'] = assign_delay_merge.apply(
    lambda row: True if row['name'] == row['name_val'] and row['surname'] == row['surname_val']  else row['name_val'] + row['surname_val'] ,
    axis=1
)

In [258]:
assign_delay_merge.columns

Index(['no', 'contract_no', 'customer_no', 'customer_name', 'mobile_no',
       'status', 'ar_today', '4_digit', 'เบอร์ติดต่อกลับ', 'len', 'sms_type',
       'id', 'sms_wording', 'name', 'surname', 'as_of_date', 'contract_no_val',
       'national_id', 'channel', 'monthly_inst_amt', 'first_due_date',
       'name_val', 'surname_val', 'mobile_phone_no_val', 'resident_address',
       'name_check', 'surname_check', 'mobile_check', 'fullname_check'],
      dtype='object')

In [243]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address,name_check,surname_check,mobile_check,fullname_check
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,374.50,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...,True,True,True,True
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,515.32,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...,True,True,True,True
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,299.04,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่,True,True,True,True
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,299.04,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...,True,True,True,True
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,299.04,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,169.02,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช,True,True,True,True
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,170.22,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...,True,True,True,True
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,151.85,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....,True,True,True,True
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,149.50,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...,True,True,True,True
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,142.83,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น,True,True,True,True

In [260]:
assign_delay_merge['sms_wording'] = assign_delay_merge.apply(lambda row: row['sms_wording'].replace("{4digit}", str(row['4_digit'])), axis=1)

In [261]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,monthly_inst_amt,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address,name_check,surname_check,mobile_check,fullname_check
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,374.50,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...,True,True,True,True
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,515.32,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...,True,True,True,True
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,299.04,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่,True,True,True,True
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,299.04,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...,True,True,True,True
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,299.04,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,169.02,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช,True,True,True,True
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,170.22,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...,True,True,True,True
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,151.85,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....,True,True,True,True
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,149.50,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...,True,True,True,True
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,142.83,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น,True,True,True,True

In [262]:
assign_delay_merge.loc[assign_delay_merge['mobile_check'] != True]

Empty DataFrame
Columns: [no, contract_no, customer_no, customer_name, mobile_no, status, ar_today, 4_digit, เบอร์ติดต่อกลับ, len, sms_type, id, sms_wording, name, surname, as_of_date, contract_no_val, national_id, channel, monthly_inst_amt, first_due_date, name_val, surname_val, mobile_phone_no_val, resident_address, name_check, surname_check, mobile_check, fullname_check]
Index: []

[0 rows x 29 columns]

In [263]:
assign_delay_merge.columns

Index(['no', 'contract_no', 'customer_no', 'customer_name', 'mobile_no',
       'status', 'ar_today', '4_digit', 'เบอร์ติดต่อกลับ', 'len', 'sms_type',
       'id', 'sms_wording', 'name', 'surname', 'as_of_date', 'contract_no_val',
       'national_id', 'channel', 'monthly_inst_amt', 'first_due_date',
       'name_val', 'surname_val', 'mobile_phone_no_val', 'resident_address',
       'name_check', 'surname_check', 'mobile_check', 'fullname_check'],
      dtype='object')

In [264]:
assign_delay_merge['sms_wording']

0       สินเชื่อ Samsung บัญชีลงท้าย 7335 เกินกำหนดชำร...
1       สินเชื่อ Samsung บัญชีลงท้าย 4276 เกินกำหนดชำร...
2       สินเชื่อ Samsung บัญชีลงท้าย 1600 เกินกำหนดชำร...
3       สินเชื่อ Samsung บัญชีลงท้าย 3805 เกินกำหนดชำร...
4       สินเชื่อ Samsung บัญชีลงท้าย 2659 เกินกำหนดชำร...
                              ...
6658    สินเชื่อ Samsung บัญชีลงท้าย 5141 เกินกำหนดชำร...
6659    สินเชื่อ Samsung บัญชีลงท้าย 4926 เกินกำหนดชำร...
6660    สินเชื่อ Samsung บัญชีลงท้าย 5167 เกินกำหนดชำร...
6661    สินเชื่อ Samsung บัญชีลงท้าย 9987 เกินกำหนดชำร...
6662    สินเชื่อ Samsung บัญชีลงท้าย 796 เกินกำหนดชำระ...
Name: sms_wording, Length: 6663, dtype: object

In [102]:
assign_delay_merge['last4digit_val'] = assign_delay_merge['contract_no'].str[-4:]

In [103]:
assign_delay_merge

,no,contract_no,customer_no,customer_name,mobile_no,status,ar_today,4_digit,เบอร์ติดต่อกลับ,len,...,first_due_date,name_val,surname_val,mobile_phone_no_val,resident_address,name_check,surname_check,mobile_check,last4digit,last4digit_val
0,1,7241070103997335,3801400039034,ทนาภร แซ่ล่อย,0984099396,UNSAVE,373.50,7335,NaN,10,...,2024-11-01 00:00:00.000,ทนาภร,แซ่ล่อย,0984099396,69/2 หมู่ที่ 13 ต. เทพราช อ. สิชล จ. นครศรีธ...,True,True,True,7335,7335
1,2,7240870103414276,3219900169231,คมศักดิ์ ศิริล้น,0816840394,UNSAVE,415.32,4276,NaN,10,...,2024-09-01 00:00:00.000,คมศักดิ์,ศิริล้น,0816840394,137 ตากสินมหาราช ต. ท่าประดู่ อ. เมืองระยอง ...,True,True,True,4276,4276
2,3,7241170104261600,5820600036425,เสาวณี มัยยะ,0993973278,UNSAVE,299.04,1600,NaN,10,...,2025-01-01 00:00:00.000,เสาวณี,มัยยะ,0993973278,37/1 หมู่ที่ 1 ต. พรุเตียว อ. เขาพนม จ. กระบี่,True,True,True,1600,1600
3,4,7241170104203805,3250800192489,อดุลย์ จันทรอากร,0654631214,UNSAVE,299.04,3805,NaN,10,...,2025-01-01 00:00:00.000,อดุลย์,จันทรอากร,0654631214,161 หมู่ที่ 3 ต. ท่ากระดาน อ. สนามชัยเขต จ. ...,True,True,True,3805,3805
4,5,7241170104262659,1819900360011,สุภา เสนาะ,0983459303,UNSAVE,299.04,2659,NaN,10,...,2025-01-01 00:00:00.000,สุภา,เสนาะ,0983459303,86/2 หมู่ที่ 4 ต. เขาไม้แก้ว อ. สิเกา จ. ตรัง,True,True,True,2659,2659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6658,6659,7240370102335141,1479900403457,สหรัถ ธรฤทธิ์,0908881680,UNSAVE,168.95,5141,NaN,10,...,2024-04-01 00:00:00.000,สหรัถ,ธรฤทธิ์,0908881680,37 หมู่ที่ 6 ต. นาแว อ. ฉวาง จ. นครศรีธรรมราช,True,True,True,5141,5141
6659,6660,7240270102254926,1160100243484,รัตนา จือประเสริฐ,0611287994,UNSAVE,168.39,4926,NaN,10,...,2024-04-01 00:00:00.000,รัตนา,จือประเสริฐ,0611287994,303 รามเดโช ต. ทะเลชุบศร อ. เมืองลพบุรี จ. ล...,True,True,True,4926,4926
6660,6661,7240270102265167,3430600440380,สมร หาญพล,0928828143,UNSAVE,151.90,5167,NaN,10,...,2024-04-01 00:00:00.000,สมร,หาญพล,0928828143,90 หมู่ที่ 12 ต. ดงเมืองแอม อ. เขาสวนกวาง จ....,True,True,True,5167,5167
6661,6662,7240270102199987,1759900023155,สุพรรณี เกตุแก้ว,0955061105,UNSAVE,149.42,9987,NaN,10,...,2024-04-01 00:00:00.000,สุพรรณี,เกตุแก้ว,0955061105,32/6 หมู่ที่ 5 ต. ยกกระบัตร อ. บ้านแพ้ว จ. ส...,True,True,True,9987,9987
6662,6663,7240370102310796,2401100016859,สุนทร ไชยคุณ,0995984676,UNSAVE,142.54,796,NaN,10,...,2024-04-01 00:00:00.000,สุนทร,ไชยคุณ,0995984676,104 หมู่ที่ 3 ต. บ้านลาน อ. บ้านไผ่ จ. ขอนแก่น,True,True,True,0796,0796

In [ ]:
assign_delay_merge.columns

Index(['base_date', 'customer_no', 'principal_balance', 'customer_name',
       'sales_product_code', 'mobile_no', 'overdue_months_division_code',
       'contract_no', 'overdue_days(morning)', 'status_lm', 'new_oa', 'name',
       'surname', 'as_of_date', 'contract_no_val', 'national_id', 'channel',
       'monthly_inst_amt', 'first_due_date', 'name_val', 'surname_val',
       'mobile_phone_no_val', 'resident_address', 'name_check',
       'surname_check', 'mobile_check', 'last4digit'],
      dtype='object')

In [ ]:
assign_delay_merge = assign_delay_merge[['base_date', 'customer_no',
       'principal_balance', 'customer_name',
       'sales_product_code', 'mobile_no', 'overdue_months_division_code',
       'contract_no', 'overdue_days(morning)', 'status_lm', 'new_oa', 'name',
       'surname', 'as_of_date', 'channel',
       'monthly_inst_amt', 'first_due_date','resident_address', 'name_check',
       'surname_check', 'mobile_check','last4digit']]

In [ ]:
import re

In [ ]:
path_file = glob.glob("./input/assign_input/*assign*.xlsx")[0].split('\\')[1]
path_file = re.sub(r'\.xlsx$', '', path_file)

In [ ]:
path_file

"3.Total assign Mar'25 (1)"

In [ ]:
assign_delay_merge.to_csv(f'./output/check{path_file}')